.pageContainer {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.controlContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 15px;
}

.chip {
    color: var(--color-white);
}

.icon {
    cursor: pointer;
    margin-left: 40%;
}

.leftControlContainer {
    align-items: flex-end;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    gap: 15px;
}

.leftControlContainer button {
    height: 35px;
    width: 160px;
}

.href {
    margin-bottom: 9px;
    font-size: 14px;
    font-weight: bold;
}

.pagination {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}