.item {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 8px;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 15px;
    border-radius: 7px;
    background: var(--color-white);
    box-shadow: rgba(122, 133, 153, 0.25) 0 5px 15px;
}

.item::before {
    content: '';
    position: absolute;
    inset: 0;
    width: 5px;
    border-radius: 7px 0 0 7px;
    background: linear-gradient(0deg, var(--border-color-elements) 0%, var(--disabled-color) 100%);
}

.notRead::before {
    content: '';
    position: absolute;
    inset: 0;
    width: 5px;
    border-radius: 7px 0 0 7px;
    background: linear-gradient(0deg, var(--main-color) 0%, var(--main-color-dark) 100%);
}

.content {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.item .actionsButton {
    visibility: hidden;
    min-width: min-content;
    width: .7em;
}

.item:hover .actionsButton {
    visibility: visible;
}

.margin {
    height: 8px;
}