.button {
    text-transform: none !important;
    font-family: inherit !important;
    outline: none !important;
    border-radius: 3px !important;
    white-space: nowrap !important;
    padding: 6px 10px !important;
    font-size: 14px !important;
    font-weight: 500;
    height: 35px;
}

.spinner {
    margin-left: 10px;
}

.button * {
    color: inherit;
    line-height: inherit;
}

.disabled_button {
    border-color: rgb(128, 128, 128) !important;
    color: rgb(128, 128, 128) !important;
    background-color: lightgrey !important;
}

.spinner-disabled {
    color: rgb(128, 128, 128) !important;
}

.can-button-content-select {
    user-select: unset !important;
}

/*==============default====================*/
.button__contained--default {
    background-color: #e0e0e0 !important;
    border: #e0e0e0 solid 1px !important;
}

.button__contained--default:hover {
    background-color: #cccccc !important;
    border: #cccccc solid 1px !important;
}

.button__outlined--default {
    border: #d5d5d5 solid 1px !important;
}

.button__outlined--default:hover {
    background-color: #d5d5d5 !important;
}

.button__text--default {
    border: transparent solid 1px !important;
}

.spinner__contained--default, .spinner__outlined--default, .spinner__text--default {
    color: gray !important;
}
/*============================================*/

/*===================success=================*/
.button__contained--success {
    background-color: var(--main-color) !important;
    border: var(--main-color) solid 1px !important;
    color: var(--color-white) !important;
}

.button__contained--success:hover {
    background-color: var(--main-color-dark) !important;
    border-color: var(--main-color-dark) !important;
    color: var(--color-white) !important;
}

.button__outlined--success {
    border: var(--main-color) solid 1px !important;
    background-color: #fff !important;
    color: var(--main-color) !important;
}

.button__outlined--success:hover {
    background-color: var(--main-color) !important;
    border-color: var(--main-color) !important;
    color: var(--color-white) !important;
}

.button__text--success {
    border: transparent solid 1px !important;
    color: var(--main-color) !important;
}

.button__text--success:hover {
    color: var(--main-color-dark) !important;
}

.spinner__contained--success {
    color: var(--color-white) !important;
}

.spinner__outlined--success {
    color: var(--main-color-dark) !important;
}

.button__outlined--success:hover .spinner__outlined--success {
    color: var(--color-white) !important;
}

.spinner__text--success {
    color: var(--main-color-dark) !important;
}
/*============================================*/

/*=================turquoise=================*/
.button__contained--turquoise {
    background-color: #23c5c8 !important;
    border: #23c5c8 solid 1px !important;
    color: var(--color-white) !important;
}

.button__contained--turquoise:hover {
    background-color: #21b8bb !important;
    color: var(--color-white) !important;
}

.button__outlined--turquoise {
    background-color: #fff !important;
    border: #23c5c8 solid 1px !important;
    color: #23c5c8 !important;
}

.button__outlined--turquoise:hover {
    background-color: #21b8bb !important;
    color: var(--color-white) !important;
}

.button__text--turquoise {
    border: transparent solid 1px !important;
    color: #23c5c8 !important;
}

.button__text--turquoise:hover {
    color: #21b8bb !important;
}

.spinner__contained--turquoise {
    color: var(--color-white) !important;
}

.spinner__outlined--turquoise {
    color: #21b8bb !important;
}

.button__outlined--turquoise:hover .spinner__outlined--turquoise {
    color: var(--color-white) !important;
}

.spinner__text--turquoise {
    color: #21b8bb !important;
}
/*============================================*/

/*==================error====================*/
.button__contained--error {
    background-color: var(--main-font-color-error) !important;
    border:  var(--main-font-color-error) solid 1px !important;
    color: var(--color-white) !important;
}

.button__contained--error:hover {
    background-color:  var(--main-font-color-error-dark) !important;
    color: var(--color-white) !important;
}

.button__outlined--error {
    background-color: var(--color-white) !important;
    border:  var(--main-font-color-error) solid 1px !important;
    color:  var(--main-font-color-error) !important;
}

.button__outlined--error:hover {
    background-color: var(--main-font-color-error-dark) !important;
    color: var(--color-white) !important;
}

.button__text--error {
    border: transparent solid 1px !important;
    color: var(--main-font-color-error) !important;
}

.button__text--error:hover {
    color: var(--main-font-color-error-dark) !important;
}

.spinner__contained--error {
    color: var(--color-white) !important;
}

.spinner__outlined--error {
    color: var(--main-font-color-error-dark) !important;
}

.button__outlined--error:hover .spinner__outlined--error {
    color: var(--color-white) !important;
}

.spinner__text--error {
    color: var(--main-font-color-error-dark) !important;
}
/*============================================*/

/*==================primary==================*/
.button__contained--primary {
    background-color: var(--text-link) !important;
    border: var(--text-link) solid 1px !important;
    color: #fff !important;
}

.button__contained--primary:hover {
    background-color: var(--text-link-hover) !important;
    border: var(--text-link-hover) solid 1px !important;
    color: #fff !important;
}

.button__outlined--primary {
    background-color: #fff !important;
    border: var(--text-link) solid 1px !important;
    color: var(--text-link) !important;
}

.button__outlined--primary:hover {
    background-color: var(--text-link-hover) !important;
    color: #fff !important;
}

.button__text--primary {
    border: transparent solid 1px !important;
    color: var(--text-link) !important;
}

.button__text--primary:hover {
    color: var(--text-link-hover) !important;
}

.spinner__contained--primary {
    color: #fff !important;
}

.spinner__outlined--primary {
    color: var(--text-link) !important;
}

.button__outlined--primary:hover .spinner__outlined--primary {
    color: #fff !important;
}

.spinner__text--primary {
    color: var(--text-link) !important;
}
/*============================================*/

/*==================warning==================*/
.button__contained--warning {
    background-color: var(--warning-color) !important;
    border: var(--warning-color) solid 1px !important;
    color: var(--color-white) !important;
}

.button__contained--warning:hover {
    background-color: var(--warning-color-dark) !important;
    border-color: var(--warning-color-dark) !important;
    color: var(--color-white) !important;
}

.button__outlined--warning {
    background-color: #fff !important;
    border: var(--warning-color) solid 1px !important;
    color: var(--warning-color) !important;
}

.button__outlined--warning:hover {
    background-color: var(--warning-color-dark) !important;
    color: var(--color-white) !important;
}

.button__text--warning {
    border: transparent solid 1px !important;
    color: var(--warning-color) !important;
}

.button__text--warning:hover {
    color: var(--warning-color-dark) !important;
}

.spinner__contained--warning {
    color: var(--color-white) !important;
}

.spinner__outlined--warning {
    color: var(--warning-color) !important;
}

.button__outlined--warning:hover .spinner__outlined--warning {
    color: var(--color-white) !important;
}

.spinner__text--warning {
    color: var(--warning-color) !important;
}
/*============================================*/

.wrapLongText {
    white-space: normal!important;
    height: auto;
}

@media screen and (max-width: 1025px)  {
    .wrapLongText {
        min-width: 135px !important;
        justify-content: left !important;
    }
}

.common-success-button{
    background-color: var(--main-color);
    border-color: var(--main-color);
    color: var(--color-white);
    border-radius: 3px !important;
    gap: 6px
}

.common-default-button{
    background: #E7EAEC;
    border: 1px solid rgba(103, 106, 108, 0.25) !important;
    box-sizing: border-box;
    border-radius: 3px !important;
    color: #676A6C;
    font-size: 14px !important;
    height: 35px;
}

.common-default-button:hover {
    -webkit-box-shadow: inset 9px 9px 66px -3px rgb(94 97 99 / 13%);
    -moz-box-shadow: inset 9px 9px 66px -3px rgba(94,97,99,0.13);
    box-shadow: inset 9px 9px 66px -3px rgb(94 97 99 / 13%);
    color: #676A6C;
}

.common-text-button{
    padding-left: 0 !important;
    min-width: unset !important;
    background-color: unset !important;
    -webkit-touch-callout: text !important;
    -webkit-user-select: text !important;
    -khtml-user-select: text !important;
    -moz-user-select: text !important;
    -ms-user-select: text !important;
    user-select: text !important;
}