﻿.uploader-advertising-banner {
    height: 269px;
}

.advertising-banner-display {
    width: 100%;
    height: 269px;
    background: #FFFFFF;
    border: 1px solid #C9C9C9;
    border-radius: 10px;
    border-style: dashed;
    border-width: 2px;
    position: relative;
}

.advertising-banner-display:hover .advertising-banner-display-hover {
    display: block;
}

.advertising-banner-display-hover {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(58, 68, 89, 0.59);
    display: none;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.dropZone-narrow-file {
    background: #FFFFFF;
    border: 1px solid #C9C9C9;
    border-radius: 10px;
    border-style: dashed;
    border-width: 2px;
    cursor: pointer;
    min-height: 269px;
}

.dropZone-narrow-disabled-file {
    background: #FFFFFF;
    border: 1px solid #C9C9C9;
    border-radius: 10px;
    border-style: dashed;
    border-width: 2px;
    cursor: pointer;
    min-height: 198px;
}

.dropZone-narrow-disabled-file [type=file] {
    cursor: inherit;
    display: block;
    filter: alpha(opacity=0);
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
}

.dropZone-narrow-file:hover {
    -webkit-box-shadow: inset 9px 9px 66px -3px rgba(94,97,99,0.13);
    -moz-box-shadow: inset 9px 9px 66px -3px rgba(94,97,99,0.13);
    box-shadow: inset 9px 9px 66px -3px rgba(94,97,99,0.13);
}

.dropZone-narrow-file [type=file] {
    cursor: inherit;
    display: block;
    filter: alpha(opacity=0);
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
}

.dropZone-block-text {
    text-align: center;
    margin-top: 70px;
}

.dropZone-block-text-style {
    font-family: Roboto;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-size: 13px;
    text-align: center;
    color: #7B7E82;
    margin-top: 24px;
}

.audience-selection-header {
    font-weight: bold;
    color: #404040;
    font-size: 19px;
}

.replaceFile {
    font-size: 40px !important;
    color: white;
    position: absolute;
    left: 50%;
    top: 41%;
}

.h-269 {
    height: 269px;
}
