﻿<body>
    <p>
        Через личный кабинет (<a href='{3}'>{3}</a>) была создана заявка на вывод средств.<br>
    </p>
    <ul>
        {0}
    </ul>
    <p>Открыть заполненную форму заявки на вывод средств Вы можете по ссылке:</p>
    {1}
    <p>Ссылки на прикрепленные сканы документов:</p>
    {2}
</body>
