﻿<body>
<p>
    Через личный кабинет (<a href='{2}'>{2}</a>) были добавлены реквизиты для выплаты агентского вознаграждения.<br>
</p>
<ul>
    {0}
</ul>

{1}
    
<p>Необходимо</p>

<p>1.Проверить соответствие сканов прикрепленных документов введенным реквизитам.</p>
<p>2.Проверить наличие контрагента в КОРПе (при отсутствии создать нового согласно введенным реквизитам)</p>
<p>3.В ЛК перейти в аккаунт партнера, перейти на вкладку "Реквизиты", открыть форму реквизитов (иконка с карандашем) и на вкладке "Управление" сменить статус на "Проверено"</p>
</body>
