.content, .contentClouds {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 80%;
    margin: 3% auto 100px;
    align-items: center;
}

.contentClouds {
    margin: 10% auto 100px;
}

.title {
    position: relative;
    display: inline-block;
    z-index: 2;
    margin: 0;
    line-height: 1em;
}

.title {
    font-size: 220px;
}

.textout, .textoutWhite {
    line-height: 2em;
}

.textoutWhite, .noMoneyNoHoneyDescription {
    color: white;
}

.noMoneyNoHoneyDescription {
    line-height: 0.8em;
}

.link {
    text-decoration: underline;
}

.link:hover {
    cursor: pointer;
}

