.button-add {
    height: 38px;
}

.button-delete {
    padding: 1px 5px !important;
    font-size: 12px !important;
    line-height: 1.5 !important;
    margin: 5px 0 5px 0 !important;
}

.menu-box > div {
    width: 180px;
}

.select-list > div > div {
    border-radius: unset;
}

.select-list-popper > div {
    border-radius: unset !important;
    font-size: 13px !important;
    margin-top: 0 !important;
}