.causerTable, .victimsTable {
    overflow-x: auto;
    border: 1px solid #e7eaec;
    border-radius: 6px;
    padding: 8px;
    margin-top: 8px;
}

.contextTableHeads {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr 10px;
    gap: 12px;
    padding: 0 16px;
}

.collapseWrapper {
    border: 1px solid #ddd;
    border-radius: 4px;
    background: #f8f8f8;
    margin-top: 4px;
    width: 100%;
}

.contextTableHeads, .victimsTableHead {
    border-bottom: 
    1px solid #e7eaec;
}

.contextTableHeads > span, .victimsTableHead > span  {
    font-weight: 600 !important;
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 70px;
}

.contextTableContent {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    gap: 12px;
    width: 100%;
}

.victimsContent {
    height: 50vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.lockDetailsTableHead {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 100%
}

.lockDetailsTableHead > span {
    font-weight: 600 !important;
    padding: 4px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.lockDetailsTableContentWrapper {
    height: 50vh;
    display: flex;
    flex-direction: column;
    gap: 8px;
    overflow-y: auto;
}

.lockDetailsTableContent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    cursor: pointer;
}

.lockDetailsTableContent:hover {
    background-color: #f5f5f5;
}

.lockDetailsTableContent > span {
    min-height: 40px;
    padding: 4px;
}

.lockPopover {
    width: 800px;
    padding: 4px 8px;
    display: flex;
    flex-direction: column;
}

.lockPopover > div:last-of-type {
    max-height: 400px;
    overflow-y: auto;
    white-space: pre-wrap;
}

.victimsTableHead, .victimsTableContent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
}

.wrapper {
    display: flex;
    gap: 6px;
    align-items: center;
    padding: 2px;
}

.filterWrapper button {
    background: none;
    border: none;
    padding: 6px 3px;
    cursor: pointer;
    border-radius: 6px;
    color: inherit
}

.filterWrapper button:hover {
    background-color: #f0f4ff;
    border-color: #7986ff;
    color: #2a3eb1;
}

.filterWrapper .active {
    background-color: #f0f4ff;
    border-color: #7986ff;
    color: #2a3eb1;
}