.pageContainer {
    display: flex;
    gap: 40px;
    flex-direction: column;
}

.search {
    max-width: 150px;
    font-size: small;
    margin-bottom: 7px;
}

.successButton {
    width: fit-content;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.tableHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.servicesList {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.dividerBold {
    border: none;
    background: var(--border-color-elements);
    height: 2px;
}

.divider {
    border: none;
    height: 1px;
    background: var(--border-color-elements);
}

.pagination {
    display: flex;
    justify-content: flex-end;
}

.extendServiceItem {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.serviceItem {
    display: flex;
    justify-content: space-between;
}

.serviceVersion {
    font-size: small;
    color: var(--main-color);
    margin-right: 10px;
}

.bottomContainer {
    display: flex;
    justify-content: space-between;
}

.bottomContainerDisabled {
    display: flex;
    justify-content: flex-end;
}

.serviceName {
    font-size: small;
    cursor: pointer;
    font-weight: 300;
    color: var(--main-font-color);
    transition-duration: 0.2s;
}

.status {
    font-size: small;
    font-weight: 300;
    color: var(--main-font-color);
    transition-duration: 0.2s;
    margin-right: 64px;
}

.serviceName:hover {
    color: var(--main-color);
    text-decoration: none;
}

.containerHeader {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.success {
    color: var(--main-color)
}

.warning {
    color: var(--warning-color);
}

.error {
    color: var(--main-font-color-error)
}