.accordion {
    background-color: inherit;
    box-shadow: 0 1px 0 -1px rgba(0,0,0,0.2), 0 1px 1px 0 rgba(0,0,0,0.14), 0 1px 3px 0 rgba(0,0,0,0.12);
}

.icon {
    font-size: 25px;
}

.link {
    display: flex;
    gap: 7px;
    align-items: center;
}

.linkText {
    margin-top: 7px;
}

.isNotActive1C {
    color: var(--main-font-color-error);
    border: 1px solid #ffd7d7;
    background: var(--alert-color-error);
    border-radius: 3px;
    height: 45px;
    display: flex;
    padding-left: 15px;
    align-items: center;
}

.isNotActive1C > a:hover {
    text-decoration: none;
}

.timer {
    margin-left: 8px;
}

.search {
    background-color: inherit !important;
}