.tooltip-container {
    line-height: 1.42857143 !important;
    font-family: 'Roboto', Helvetica, Arial, 'Open Sans' !important;
    font-size: 12px !important;
    font-style: normal !important;
    font-weight: 400 !important;
    line-height: 1.42857143 !important;
}

.tooltipe-code > div{
    max-width: 200px !important;    
    color: #fff;    
    border-radius: 4px !important;    
}

.tooltipe-code > div > div{
    background-color: #2F4050 !important;
    padding: 3px 8px !important;
}

.tooltipe-code > div > span::before{
    border-top-color: #2F4050 !important;
    border-bottom-color: #2F4050 !important;
}

.small {
    line-height: 0;
}