.dialogContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.buttonContainer {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: flex-end;
    margin-right: 10px;
}

.buttonContainer button {
    width: 120px;
    height: 38px;
}

.scriptContainer {
    display: flex;
    flex-direction: column;
    height: 47vh;
    gap: 2px;
}

.scriptArea {
    resize: none;
    padding-left: 5px;
    padding-top: 5px;
    background: #f5f5f5;
    border: 1px solid rgb(201, 201, 201);
    transition-duration: 0.2s;
    box-sizing: border-box;
    font-size: 13px;
    color: #676a6c;
    border-radius: 5px;
    height: 50vh;
}

.scriptArea:hover, .scriptArea:focus {
    border: 1px solid #1ab394;
}

.scriptArea:disabled {
    color: rgba(0, 0, 0, 0.38);
}