.buttonContainer {
    display: flex;
    gap: 10px;
}

.successButton {
    width: fit-content;
}

.accordionSummaryContainer {
    background: #f5f5f5;
}

.accordionSummaryContainer > div {
    display: initial;
}

.accordionSummaryContent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    font-size: 14px;
    font-weight: bold;
    color: #676a6c;
    gap: 10px;
}

.accordionSummaryContent div {
    flex: 1 1 auto;
    word-break: break-word;
}

.accordion {
    box-shadow: none;
    border: 1px solid var(--border-color-elements);
}

.configFileViewerContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.configFileUploaderContainer {
    margin-bottom: 20px;
}

