.container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.buttons {
    margin-top: 15px;
    display: grid;
    grid-template-columns: 1fr 10fr;
    gap: 10px;
}

.buttons button, .audienceForm button {
    width: 125px;
}

.rightAlignButtons {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: end;
    grid-column: 2;
}

.gridContainer {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 20px;
}

.form, .audienceForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: -8px;
}

.audienceForm {
    margin-top: 20px;
}

.users {
    margin-top: 10px;
    display: flex;
    gap: 30px;
}

.users > div {
    display: flex;
    gap: 5px;
}

.textArea > div {
    padding: 7px 0 7px 0;
}

.audience {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-wrap: wrap;
    max-width: 600px;
}

@media (max-width: 1000px) {
    .gridContainer {
        grid-template-columns: 1fr;
    }
}