.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}

.header {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
}

.headerFilters {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.pagination {
    margin-left: auto;
}