.button {
    height: 35px;
    border-radius: 3px;
    font-size: 14px;
    color: var(--color-white);
    background: var(--main-color);
    font-weight: 500;
    border: 0;
    font-family: inherit;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    padding-inline: 8px;
    cursor: pointer;
}

.button:hover {
    background: var(--main-color-dark);
}

@media (max-width: 800px) {
    .button {
        height: 30px;
        width: fit-content;
    }

    .button span {
        display: none;
    }

    .button:before {
        font: normal normal normal 16px/1 FontAwesome;
        content: "\f14c";
    }
}