.auto_complete_combo .MuiFormLabel-root.Mui-focused {
  color: #1ab394 !important;
}

.auto_complete_combo
  .MuiOutlinedInput-root.Mui-focused
  .MuiOutlinedInput-notchedOutline {
  border-color: #1ab394 !important;
  border-width: 1px !important;
}
.auto_complete_combo .MuiAutocomplete-input {
  font-size: 13px !important;
}

.auto_complete_combo .MuiChip-deleteIcon:hover {
  color: maroon !important;
}

.MuiChip-sizeSmall {
  height: 20px !important;
  background-color: #e4e4e4 !important;
  border-radius: 8px !important;
  margin-left: 4px !important;
}

.auto_complete_combo .MuiAutocomplete-input:disabled {
  background-color: #e9ecef !important;
}

.auto_complete_combo .MuiOutlinedInput-notchedOutline {
  border: 1px solid #ced4da !important;
}

.auto_complete_combo
  .MuiOutlinedInput-root:hover
  .Mui-focused
  .MuiOutlinedInput-notchedOutline {
  border-color: #1ab394 !important;
}

.auto_complete_combo
  .MuiAutocomplete-inputRoot[class*='MuiOutlinedInput-root'][class*='MuiOutlinedInput-marginDense'] {
  padding: 0 !important;
}

.auto_complete_combo
  .MuiAutocomplete-inputRoot[class*='MuiOutlinedInput-root'][class*='MuiOutlinedInput-marginDense']
  .MuiAutocomplete-input {
  padding: 0 8px !important;
  height: 29.5px !important;
}

.MuiAutocomplete-option[data-focus='true'] {
  background: #1e8fff !important;
  color: #ffffff !important;
  font-size: 15px !important;
}
