.title {
    margin-bottom: 8px;
}

.listItem {
    padding-top: 0;
    padding-bottom: 0;
}

.icon {
    min-width: 40px;
}

.selectTariffButton {
    max-width: 240px;
}

.addition {
    place-self: flex-start;
}