.icon {
    cursor: pointer;
    transition: 300ms ease;
    font-size: 15px;
}

.cancel:hover {
    color: var(--main-font-color-error);
}

.approve:hover {
    color: var(--main-color);
}

.open:hover {
    color: var(--info);
}

.button {
    width: 100px;
}

.container {
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    width: 100%;
    align-items: flex-end;
}

@media (max-width: 1425px) {
    .container {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media (max-width: 1000px) {
    .container {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}