.dialog {
    height: 400px;
}

.extendedDialogBody {
    align-items: center;
}

.text {
    text-align: justify;
}

.dialogBody {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.buttons {
    display: flex;
    gap: 10px;
    width: 100%;
    justify-content: flex-end;
}

.buttons > button:last-child {
    width: 70%;
}

.buttons > button:first-child {
    width: 30%;
}