.side-bar__header{
    padding: 35px 25px 10px 25px;
    gap: 12px
}

.side-bar__header_inline{
    padding-inline: 25px;
    gap: 12px
}

.side-bar__header-img {
    width: 50%;
    padding-bottom: 4px;
}

.side-bar__header-img--second {
    width: 40%;
    margin-left: 10px
}