﻿.balance-info-block {
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
}

.balance-info-block .text {
    margin-left: 3%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
}

.balance-info-block {
    padding: 15px 20px 15px 20px;
}

.balance-info-block {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -ms-border-radius: 3px;
    border-radius: 3px;
    display: flex;
    padding: 10px 5px;
    align-items: center;
}

.color-text-balance-info-one {
    color: #676A6C;
    width: 100%;
}

.style-text-balance-info-one {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 12px;
}

.style-text-balance-info-two {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 20px;
}

.balance-pay-period-label {
    display: inline-block;
    vertical-align: middle;
}

.balance-pay-period-control {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    max-width: 400px;
}

.balance-summary-info-requisites {
    display: inline-block;
    width: 96%;
    margin-left: 3%;
    margin-right: -1%;
}

.balance-summary-info-caption {
    display: inline-block;
    vertical-align: middle;
    width: 15%;
}

.balance-summary-info-value {
    display: inline-block;
    vertical-align: middle;
    width: 84%;
    margin-left: -4px;
}

.control {
    display: block;
    position: relative;
    padding-left: 39px;
    margin-bottom: 4px;
    padding-top: 2px;
    cursor: pointer;
    font-weight: normal !important;
}
.control input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.control_indicator {
    position: absolute;
    top: 2px;
    left: 0;
    height: 20px;
    width: 20px;
    background: #e6e6e6;
    border: 0px solid #000000;
    border-radius: 0px;
}
.control:hover input ~ .control_indicator,
.control input:focus ~ .control_indicator {
    background: #cccccc;
}

.control input:checked ~ .control_indicator {
    background: #1ab394;
}
.control:hover input:not([disabled]):checked ~ .control_indicator,
.control input:checked:focus ~ .control_indicator {
    background: #0e6647d;
}
.control input:disabled ~ .control_indicator {
    background: #e6e6e6;
    opacity: 0.6;
    pointer-events: none;
}
.control_indicator:after {
    box-sizing: unset;
    content: '';
    position: absolute;
    display: none;
}
.control input:checked ~ .control_indicator:after {
    display: block;
}
.balance-page-checkbox .control_indicator:after {
    left: 8px;
    top: 4px;
    width: 3px;
    height: 8px;
    border: solid #ffffff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}
.balance-page-checkbox input:disabled ~ .control_indicator:after {
    border-color: #7b7b7b;
}

.table-row-disabled {
    -ms-opacity: 0.5;
    opacity: 0.5;
}

.table-row-disabled input[type=number] {
    pointer-events: none;
}
.table-row-disabled a {
    pointer-events: none;
}

.show-inactive-services {
    color: #52aaf0;
    font-weight: bold;
}

.hide-inactive-services {
    color: #3a4459;
    font-weight: bold;
}

.spinner-control input[type="number"] {
    width: 60px !important;
}

.balance-email-info {
    position: absolute;
    top: 0px;
    left: 55px;
    width: 100%;
}