.configurations-1c-filter {
    position: relative !important;    
}

.configurations-1c-filter .button-custom-outline-active {
    border-color: #1ab394 !important;
    box-shadow: none !important;
    outline: 0 none !important;
}

.configurations-1c-filter > button {
    border-color: unset !important;
    box-shadow: unset !important;
    height: 29.5px !important;
    border: 1px solid #ced4da !important;
}

.configuration-control { 
    cursor: pointer !important;
}

.configuration-control-text {
    position: absolute !important;
    font-size: 13px !important;
    color: #495057 !important;
    top: 5px !important;
}

.configuration-control-dropdowm-icon {
    position: absolute !important;
    right: 5px !important;
    top: 7px !important;
}

.dropdown-menu-wrapper {
    width: 100% !important;
}

.configurations-control-buttons {
    padding: 10px 10px 5px 10px !important;
}

.control-group {
    display: inline-block !important;
    vertical-align: top !important;
    background: #fff !important;
    text-align: left !important;
    border: 1px solid rgba(0, 0, 0, 0.1) !important;
    width: 100% !important;
    height: 210px !important;
    overflow-y: scroll !important;
    scrollbar-width: none !important;
    overflow-x: hidden !important;
}


.custom-checkbox {
    position: relative !important;
}

.custom-checkbox > label {
    position: absolute !important;
    top: -10px !important;
    left: 20px !important;
    word-wrap: break-word;
    width: 95% !important;
}

.custom-checkbox > label > span {
    word-break: break-word!important;
    white-space: break-spaces!important;
    font-size: 12px!important;
    font-weight: unset!important;
    text-align: left!important;
    display: block !important;
    padding-top: 6px !important;
    line-height: 1 !important;
}

.custom-checkbox > div {
    position: absolute !important;
    top: -8px !important;
}

.configurations-search {
    margin-top: -8px !important;
}

.control-label{
    width: 100% !important;
    padding-bottom: 30px !important;
}

.button-custom-outline {
    height: 25px !important;
    width: 100% !important;
    line-height: 10px !important;
    font-size: 12px !important;
}