﻿.phone-code-selector {
    /*width: 70px;*/
    padding: 0;
    padding-right: 10px;
    height: 30px;
}

    .phone-code-selector > div {
        width: 50px;
        height: 23px;
        padding: 0;
        padding-top: 5px;
        vertical-align: middle;
    }

.flag {
    display: inline-block;
    position: relative;
    top: 4px;
    float: right;
    width: 16px;
    height: 11px;
    background-image: URL("../img/lang.png");
    right: 5px;
}

.country {
    display: inline-block;
    width: 100px;
}

.code {
    display: inline-block;
    width: 36px;
    text-align: right;
}

.phone-number {
    width: 143px;
}
.dropdown-menu>li>a {
    padding: 3px 15px !important;
}