
@import url("font-awesome-4.4.0/css/font-awesome.min.css"); /* Font Awesome */

body {
    font-family: Tahoma, Arial, sans-serif !important;
    font-size: 13px;
}

header {
    /*width: 100%;*/
    min-height: 35px;
    /*background: url("../img/header-bg3.png") repeat-x;*/
    z-index: 0;
    padding-bottom: 5px;
    padding-top: 5px;
    text-align: center;
}

    header .title {
        margin-top: 22px;
        font-weight: normal;
        font-size: 24px;
    }

    header .copiny {
        line-height: 85px;
        color: #fff;
    }

#logo-small {
    display: block;
    width: 150px;
    height: 38px;
    background: url("../img/42cloud_icon.png") 0 50% no-repeat;
    margin-left: 50px;
    margin-top: 23px;
}

.input-validation-error {
    border: 1px solid #b94a48 !important;
}

.container {
    /*min-height: 100%;*/
}

.user-login {
    margin-top: 2px;
}

/* Bootstrap override */
h1,
.h1 {
  font-size: 36px;
}

h2,
.h2 {
  font-size: 30px;
}

h3,
.h3 {
  font-size: 24px;
}

h4,
.h4 {
  font-size: 18px;
}

h5,
.h5 {
  font-size: 14px;
}

h6,
.h6 {
  font-size: 12px;
}

.hero-unit {
    padding: 20px;
}

.font-gray {
    color: #999;
}

.font-green {
    color: #51a351;
}

.config-logo {
    height: 36px;
    width: 36px;
    float: left;
    margin-right: 15px;
}

    .config-logo.custom,
    .config-logo.recagency, 
    .config-logo.unf14, 
    .config-logo.unf15 {
        display: block;
        background: url("../img/config-shop/my1c-logo.png") no-repeat;
    }

    .config-logo.bp20,
    .config-logo.bp20_corp,
    .config-logo.bp30,
    .config-logo.bp30_corp {
        background: url("../img/config-shop/bp-logo.png") no-repeat;
    }

    .config-logo.zup,
    .config-logo.zup30 {
        background: url("../img/config-shop/zup-logo.png") no-repeat;
    }

    .config-logo.do {
        background: url("../img/config-shop/do-logo.png") no-repeat;
    }

    .config-logo.ut11,
    .config-logo.ut10 {
        background: url("../img/config-shop/ut-logo.png") no-repeat;
    }

    .config-logo.ca {
        background: url("../img/config-shop/ca-logo.png") no-repeat;
    }

    .config-logo.upp13 {
        background: url("../img/config-shop/upp-logo.png") no-repeat;
    }

.success-icon {
    display: block;
    height: 17px;
    width: 17px;
    float: left;
    margin-right: 5px;
    background: url("../img/icon-success.png") no-repeat;
}


.paymentIcon {
    display: inline-block;
    
}

    .paymentIcon.robokassa {
        background: url(../img/robokassa-icon-2.png);
        width: 142px;
        height: 100px;
    }

    .paymentIcon.ukrpays {
        background: url(../img/ukrpays.png);
        width: 208px;
        height: 50px;
	    margin-top: 2.5%
    }

.dotted-link {
    text-decoration: dotted !important;
}

    .dotted-link:hover {
        text-decoration: dotted !important;
    }

.input-xxsmall {
    width: 30px;
}

.margin-top {
    margin-top: 5px;
}

p.normal {
    font-weight: normal;
}

p.thick {
    font-weight: bold;
}

p.thicker {
    font-weight: 900;
}


.full-width-tabs > ul.nav.nav-tabs {
    width: 100%;
    display: table;
    table-layout: fixed;
}

    .full-width-tabs > ul.nav.nav-tabs > li {
        display: table-cell;
    }

        .full-width-tabs > ul.nav.nav-tabs > li > a {
            text-align: center;
        }

.take-all-space-you-can {
    width: auto;
}

.text-thick {
    font-weight: bold;
}

.text-thicker {
    font-weight: 900;
}

.text-big {
    font-size: 16px;
}

.text-bigger {
    font-size: 18px;
}

hr.mp-costpage {
    border: 1px solid #555;
    margin-top: 10px;
    margin-bottom: 10px;
}

.divInfo {
    background-color: #d9edf7;
}

div#dbTemplateRow:hover {
    background-color: #d9edf7;
    cursor: pointer;
}

hr.MyOfficeLine {
    margin-top: 0;
    border-color: #999;
}

h1, h2, h3, h4, h5, h6 .MyOfficeLabel {
    margin-bottom: 0;
}

    h5.pages-remaim {
        margin-bottom: 10px;
    }

.text-center.esdl {
    margin-top: 10px;
}
.text-center-important {
    text-align: center !important;
}

.star {
    color: #DB4B39;
    font-weight: bold;
    font-size: 16px;
    margin-left: 3px;
}

.error-comment {
    text-align: center;
    margin-top: 50px;
    font-size: 16px;
}

    .error-comment a {
        font-size: 12px;
    }

.error-background {
    background-image: url('/Content/img/error-bg.png');
    height: 605px;
    margin-left: -30px;
}

    .error-background h2 {
        text-align: center;
    }

#temaplateCaption h5 {
    margin-left: 20px;
}

.pull-down.cancel-publish {
    margin-top: 0px !important;
}

.span5.cancel-publish {
    margin-left: 0px;
}

.btn.btn-warning.cancel-publish {
    width: 225px;
    padding: 5px;
}

.offset1.span6.font-gray.publish {
    width: 400px;
    margin-left: 195px;
    margin-top: -40px;
}

.offset1.span6.font-gray.cancel-publish {
    width: 400px;
    margin-left: 5px;
}

div.pull-down {
    margin-top: 0px !important;
}

a.btn.my-ent {
    width: 195px !important;
}

input.btn.my-ent,
button.btn.my-ent {
    width: 220px !important;
}

div.span5.manage-database {
    float: left !important;
    width: 60% !important;
    margin-bottom: 10px;
}

div.font-gray.manage-database {
    float: right !important;
    width: 40% !important;
    margin-top: -6px;
    margin-bottom: 10px;
}

div.font-gray.publish {
    margin-top: -65px;
}

div.font-gray.cancel-publish {
    margin-top: -10px;
}

div.platform-title {
    margin-bottom: 20px;
}

    div.platform-title span {
        margin-left: 25px;
    }

    div.platform-title input {
        margin-top: 0px;
    }

.text-right button {
    margin-top: 20px;
}

.text-right a {
    margin-top: 20px;
}

.changeConfPlatform {
    margin-top: 20px;
}

    .changeConfPlatform .span4.manage-database {
        width: 70%;
    }

    .changeConfPlatform .span5.manage-database {
        width: 0 !important;
    }

.cancel-publish .changeConfPlatform .changeConfLink {
    margin-top: 80px;
    margin-left: -240px;
}

@media only screen and (min-width:767px) and (max-width:980px) {
    .cancel-publish .changeConfPlatform .changeConfLink {
        margin-top: 80px;
        margin-left: -140px;
    }
}

@media only screen and (min-width:980px) and (max-width:1200px) {
    .cancel-publish .changeConfPlatform .changeConfLink {
        margin-top: 80px;
        margin-left: -190px;
    }
}

@-moz-document url-prefix() {
    .cancel-publish .changeConfPlatform .font-gray {
        margin-top: 15px !important;
        margin-left: 140px;
    }
}

.changeConfLink {
    margin-top: 25px;
}

.changeConfPlatform .font-gray {
    margin-top: 20px !important;
}

.cancel-publish .changeConfPlatform .font-gray {
    margin-top: 15px !important;
}

@media only screen and (min-width:767px) and (max-width:980px) {
    .cancel-publish .changeConfPlatform .changeConfLink {
        margin-top: 80px;
        margin-left: -140px;
    }
}

@media only screen and (min-width:980px) and (max-width:1200px) {
    .cancel-publish .changeConfPlatform .changeConfLink {
        margin-top: 80px;
        margin-left: -190px;
    }
}

@-moz-document url-prefix() {
    .cancel-publish .changeConfPlatform .font-gray {
        margin-top: 15px !important;
        margin-left: 140px;
    }
}

div.connection-1c img {
    width: 256px;
    height: 202px;
}

.hiddenContainer {
    display: none !important;
}

.visibleContainer {
    display: block !important;
}

.imgbutton {
    width: 25%;
    box-sizing: border-box;
}

.imgbuttongroup {
    width: 80%;
    box-sizing: border-box;
}


.imgbuttonswrapper {
    overflow: hidden;
    position: relative;
    width: 100%;
}

.submibuttonwrapper {
    height: 100%;
    width: 20%;
    position: absolute;
    right: 0;
    top: 0;
    box-sizing: border-box;
}


    .subexpander {
        display: block; 
        height: 100%;
        box-sizing: border-box;
        position: absolute;
        width:100%;
        margin-left:0;
        margin-right:0;
        padding-left:2px;
        padding-right:2px;
        text-align:center;
    }

    .subexpander:hover {
        color: white;
    }

.spinner {
    height: 25px;
    width: 25px;
    margin-left: 0px;
    margin-top: 2px;
    background-image:  url('data:image/gif;base64,R0lGODlhGQAZAKIEAMzMzJmZmTMzM2ZmZgAAAAAAAAAAAAAAACH/C05FVFNDQVBFMi4wAwEAAAAh+QQFAAAEACwAAAAAGQAZAAADVki63P4wSEiZvLXemRf4yhYoQ0l9aMiVLISCDms+L/DIwwnfc+c3qZ9g6Hn5hkhF7YgUKI2dpvNpExJ/WKquSoMCvd9geDeuBpcuGFrcQWep5Df7jU0AACH5BAUAAAQALAoAAQAOABQAAAMwSLDU/iu+Gdl0FbTAqeXg5YCdSJCBuZVqKw5wC8/qHJv2IN+uKvytn9AnFBCHx0cCACH5BAUAAAQALAoABAAOABQAAAMzSLoEzrC5F9Wk9YK6Jv8gEYzgaH4myaVBqYbfIINyHdcDI+wKniu7YG+2CPI4RgFI+EkAACH5BAUAAAQALAQACgAUAA4AAAMzSLrcBNDJBeuUNd6WwXbWtwnkFZwMqUpnu6il06IKLChDrsxBGufAHW0C1IlwxeMieEkAACH5BAUAAAQALAEACgAUAA4AAAM0SLLU/lAtFquctk6aIe5gGA1kBpwPqVZn66hl1KINPDRB3sxAGufAHc0C1IkIxcARZ4QkAAAh+QQFAAAEACwBAAQADgAUAAADMUhK0vurSfiko8oKHC//yyCCYvmVI4cOZAq+UCCDcv3VM4cHCuDHOZ/wI/xxigDQMAEAIfkEBQAABAAsAQABAA4AFAAAAzNIuizOkLgZ13xraHVF1puEKWBYlUP1pWrLBLALz+0cq3Yg324PAUAXcNgaBlVGgPAISQAAIfkEBQAABAAsAQABABQADgAAAzRIujzOMBJHpaXPksAVHoogMlzpZWK6lF2UjgobSK9AtjSs7QTg8xCfELgQ/og9I1IxXCYAADs=') /*/Content/img/spinner.gif*/;
    background-repeat: no-repeat;
}

.autocomplete-form {
    margin-bottom: 0;
}

.add-all {
    font-weight: normal;
    line-height: 1;
    font-size: 96%;
}

/*Profile*/
.profile-action-buttons button, 
.profile-action-buttons a {
    margin-top: 0;
}


.contextAccount-navigation-menu {
    background-color: rgb(84,170,84); 
    color:#FFFFFF
}


/* Styles for pagination
    ---------------------------------------------------------- */
    .cloud-pagination {
        float: right;
        width: 350px;
    }

        .cloud-pagination a {
            color: #00cdf2;
            font-size: 15px;
        }

        .cloud-pagination ul {
        }

            .cloud-pagination ul li {
                display: inline;
                margin-left: 0px;
                margin-right: 10px;
            }
        
            .cloud-pagination ul li.pages {
                    margin-right: 20px;
                }

    /*.icon-previous {
        background-image: url('images/left.png');
        background-repeat: no-repeat;
        background-position: center;
    }

    .icon-next {
        background-image: url('images/right.png');
        background-repeat: no-repeat;
        background-position: center;
    }*/

    .cutom-dialog-modal  {
        width: 918px !important;
        margin-left: -474px !important;
        top: 5% !important;
    }
     .cutom-dialog-modal2  {
        width: 918px !important;
        margin-left: -474px !important;
        top: 5% !important;
    }
    .cutom-dialog-modal2 .modal-body {
        height: 400px;
    }
  /*  .cutom-dialog-modal .modal-dialog{
        height: 500px !important;
    }*/

    .mdl-cr-hide {
        display: none !important;
    }

    .CloseWithouSavingBtn {
        cursor: default;
        pointer-events: none;

        /*Button disabled - CSS color class*/
        color: #c0c0c0;
        background-color: #ffffff;
    }

    .CloseAndSaveBtn {
        cursor: default;
        pointer-events: none;

        /*Button disabled - CSS color class*/
        color: #c0c0c0;
        background-color: #ffffff;
    }
    
    .JustSaveBtn {
        cursor: default;
        pointer-events: none;

        /*Button disabled - CSS color class*/
        color: #c0c0c0;
        background-color: #ffffff;
    }


.infobaseControButton {
    width: 170px;
}

.confirm-modal-custom {
    top: 23% !important;
    width: 50% !important;
}

.custom-error-label {
    float: right;
    font-size: 12px;
    margin-top: -10px;
}
.custom-error-label-212  {
    width: 204px;
}



.block-row {
    float: left;
    margin-bottom: 5px;
}
.title-menu {
    float: left;
    width: 150px;
}
.text-input {
    float: left;
    width: 250px;
}
.text-input input[type="text"], .text-input input[type="password"] {
    width: 236px;
}
.text-input input[type="checkbox"] {
    width: 18px;
    float: left;
}
.error-label-row {
    width: 250px;
    float: right;
    margin-top: -10px;
    color: #b94a48;
}

.error-label-row-intro {
    width: 330px;
    float: left;
    margin-top: -10px;
    color: #b94a48;
}

.error-label-row-pad {
    width: 330px;
    float: left;
    color: #b94a48;
}

.ttbr1, .ttbr2 {
    float: left;
    width: 400px;
}
.custom-table td {
     vertical-align: middle !important;
}


.filter-results a {
    padding: 5px;
}

span.mini_mini_mini {
    font-size: 10px;
    position: relative;
    top: -7px;
    color: red;
}


.checkboxSniped {
	width: 120px;
	height: 40px;
	background: #eee;	
	border-radius: 50px;
	position: relative;
}

.checkboxSniped input[type=checkbox] {
	visibility: hidden;
}


.checkboxSniped:before {
	content: '\0412\041A\041B';
	position: absolute;
    top: 10px;
    left: 26px;
    height: 2px;
    color: #31A523;
    font-size: 12px;
}

.checkboxSniped:after {
	content: '\0412\042B\041A\041B';
	position: absolute;
	top: 10px;
	left: 77px;
	height: 2px;
	color: #FF6F6F;
	font-size: 12px;
}

.checkboxSniped label {
	display: block;
	width: 52px;
	height: 22px;
	border-radius: 50px;

	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	-ms-transition: all .5s ease;
	transition: all .5s ease;
	cursor: pointer;
	position: absolute;
	top: 9px;
	z-index: 1;
	left: 12px;
	background: #ddd;
}

.checkboxSniped input[type=checkbox]:checked + label {
	left: 60px;
	background: #999;
}

 /*Styles for registration, authorization, reset pass (all olb bitrix methods)*/

 #phonedrop {
        margin-top: -3px;
    }

    .drop-phone .flag {
        float: left;
        width: 16px;
        height: 11px;
        background-image: URL("https://42clouds.com/img/lang.png");
    }

    .drop-phone {
        padding: 7px 7px;
        width: 30px;
        margin-top: 1px;
        background-color: #f5f5f5;
        background-image: -moz-linear-gradient(top,#fff,#e6e6e6);
        background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#e6e6e6));
        background-image: -webkit-linear-gradient(top,#fff,#e6e6e6);
        background-image: -o-linear-gradient(top,#fff,#e6e6e6);
        background-image: linear-gradient(to bottom,#fff,#e6e6e6);
        background-repeat: repeat-x;
        filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
        border: 1px solid #ccc;
        border-bottom-color: #b3b3b3;
    }

     .drop-phone .caret {
            margin-top: 4px;
        }

    #phone-number-container {
        width: 247px;
    }

    .dropdown-menu .flag {
        display: inline-block;
        position: relative;
        top: 4px;
        float: right;
        width: 16px;
        height: 11px;
        background-image: URL("https://42clouds.com/img/lang.png");
    }

    .re-style-tooltip + .tooltip > .tooltip-inner {
        background-color: #fafafa;
        color: #7e8285;
        border: #666 1px solid;
        font-size: 14px;
    }

  .register .pad{
      text-align: left;
      padding: 0 144px 40px;
}
.register h4{
    color: #838b92;
    padding-bottom: 8px;
}

.control-group label{
    font-size: 16px;
    color: #7e8285;
    white-space: nowrap;
}
.register label[for="refferal"]{
    margin-top: -8px;
}
.control-group label span{
    color: #fa6c6d;
    margin-left: 4px;
    margin-right: -11px;
}

.control-group input[type="text"],
.control-group input[type="password"],
.control-group textarea{
    width: 296px;
    padding: 7px 12px
}

.register .form-horizontal .controls {
    margin-left: 181px
}

.register .form-horizontal .control-group {
    margin-bottom: 17px
}

.register .btn-select,
.login .btn-select
{
    width: 89px;
    font-size: 16px;
    margin-top: -8px;
}

.register .btn-select .icon,
.register .btn-select + .dropdown-menu .icon,
.login .btn-select .icon,
.login .btn-select + .dropdown-menu .icon{
    margin: 6px 7px 0 0
}
.register .btn-select + .dropdown-menu,
.login .btn-select + .dropdown-menu{
    min-width: 185px;
}

.register #phone,
.login #phone{
    width: 168px;
    margin-left: 5px;
}

.login #phone{
    width: 198px;
}

.register .btn-large,
.login .btn-large{
    padding: 16px 69px;
}

.login h4 {
    color: #838b92;
    margin-bottom: 28px;
}

.login .pad {
    padding: 75px 305px;
}

.login label {
    padding: 6px 0 0 4px;
}

.login label.checkbox {
    padding: 1px 0 0 24px;
}

.login input[type="text"],
.login input[type="password"] {
    padding: 7px 12px;
    width: 304px;
}

.login .row {
    margin-left: 0;
    padding-top: 32px;
}

.login a[rel="nofollow"] {
    margin-left: 45px;
    font-size: 16px;
    font-weight: bolder;
}

  .pad-intro{
      text-align: left;
      padding: 0 250px 40px;
      width: 650px

}.pad-sms{
      text-align: left;
      padding: 0 390px 40px;
      width: 330px
}

 .current-balance-icon {
     width: 65px;
     height: 65px;
     margin-right: 10px;
 }

.link {color: #4eaaef}

.inline-block { display: inline-block }

.float-left { float: left }
.float-right { float: right }

.balance-double {
    margin-left: 20px;
    font-weight: 600;
}

.tabs .tabs-link ul {
    margin: 0;
    border-bottom: 1px solid #ccc;
}
.tabs .tabs-link li {
    display: inline-flex;
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    position: relative;
    top: 1px;
}
.tabs .tabs-link li.clearfix {
    clear: both;
    display: block;
    top: 0;
    border: none;
}
.tabs .tabs-link li.active {
    position: relative;
    top: 1px;
    border-top: 1px solid #ccc; 
    border-left: 1px solid #ccc !important; 
    border-right: 1px solid #ccc !important; 
    border-bottom: 1px solid #fff; 
    border-radius: 4px 4px 0 0;
}
.tabs .tabs-link li.active a { color: #373737 }
.tabs .tabs-link li a {
    padding: 5px 10px;
    color: #4eaaef;
    width: 100%;
    font-weight: 600;
    text-align: center;
}
.tabs .tabs-link li a:hover {
    border-radius: 4px 4px 0 0;
    text-decoration: none;
    color: #373737;
}
.tabs .tabs-link li a:focus { text-decoration: none }
.tabs .tabs-content { padding: 10px 0 }
.tabs .tabs-content div[tab-content] {
    display: none;
}
.tabs .tabs-content div.active { display: block }

.tabs .tabs-link.full-size-3 li {
    width: 31.623931623931625%;
    padding: 0 7px;
    margin-right: -5px;
    border-right: 1px solid #ccc;
}
.tabs .tabs-link.full-size-3 li:nth-last-child(2) {
    border-right: none;
}

.table-align-middle td { vertical-align: middle }
.thead-allocated thead { background: #eee }
.tfoot-allocated tfoot { background: #eee }

.table-text-center th { text-align: center }
.table-text-center td { text-align: center }

.spinner-control > span {
    padding: 5px;
    border-radius: 30px;
}

.spinner-control a:first-child {
    color: #000;
    font-weight: 600;
    padding: 0 3px;
    font-size: 10px;
}

.spinner-control a:last-child {
    color: #000;
    font-weight: 600;
    padding: 0 3px;
    font-size: 10px;
}

.spinner-control span { margin: 0 5px }

.spinner-control input[type="number"] {
    width: 50px;
    margin: 0 6px 0 7px;
    text-align: center
}

.spinner-control input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.spinner-control label {
    display: inline-block;
    margin: 0 3px 0 0;
    font-size: inherit;
}

.print-icon {
    background: url(../img/landing/ic3.jpg) no-repeat center center;
    background-size: contain;
    width: 20px;
    height: 20px;
    float: right;
    margin: 0 8px;
}

.pdf-download-icon {
    background: url(../img/landing/ic4.jpg) no-repeat center center;
    background-size: contain;
    width: 20px;
    height: 20px;
    float: right;
    margin: 0 5px;
}
.pdf-download-icon:hover, .print-icon:hover {
    cursor: pointer;
}
.w100p { width: 100% }
.m-bot-0 { margin-bottom: 0 }
.position-relative { position: relative }

.disable-mask:before {
    content: "DISABLED";
    background: rgba(238, 238, 238, 0.68);
    z-index: 60;
    width: 100%;
    top: 0px;
    position: absolute;
    height: 100%;
    color: transparent;
}

.big-checkbox {
    width: 20px !important;
    height: 20px !important;
    margin-top: 0px !important;
}

.onread-textbox {
    background-color: transparent;
    border: none !important;
    box-shadow: none !important;
    padding: 5px 5px !important;
    margin: 0 !important;
    width: 100%;
    min-width: 300px;
    box-sizing: border-box;
    resize: none;
    border-radius: 2px;
}

.onread-textbox:focus {
    background: rgba(214, 214, 214, 0.6);
}

/* The switch - the box around the slider */
.switchbox.switch {
  position: relative;
  display: inline-block;
  width: 35px;
  height: 20px;
  margin-right: 12px;
}

/* Hide default HTML checkbox */
.switchbox.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: -11px;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 13px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input[type="checkbox"]:checked + .slider {
  background-color: #2196F3;
}

input[type="checkbox"]:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input[type="checkbox"]:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

input[type="checkbox"]:checked + input[type="hidden"] + .slider {
  background-color: #2196F3;
}

input[type="checkbox"]:focus + input[type="hidden"] + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input[type="checkbox"]:checked + input[type="hidden"] + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.pop-visible-creator.disable {
    background: #ffffff;
    position: absolute;
    width: 100%;
    height: 97%;
    top: 0px;
    z-index: 10;
}
.pop-visible-creator.disable2 {
    background: rgba(245, 245, 245, 0.60);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    z-index: 10;
}

.tac-pr {
    text-align: center !important; 
    position: relative !important
}

.col-line {
    display: inline-block;
}

.btns-operations {
    width: 49%;
    text-align: right;
}
.total-amount-services {
    width: 50%;
}
.mini-label {
    font-size: 13px;
    margin-bottom: 0px;
}
.delete-link i {
    font-size: 20px;
    color: #cc2b2b;
}
.bootbox.big-modal {
    width: 850px;
    left: 46%;
}

tr.providedservice-item-tr-historic {
    background: #d5edff;
}

.egt-oc-db {
    margin: 10px 0;
    border: 3px solid #eee;
    border-radius: 4px;
    padding: 10px 20px;
}

.egt-oc-db .text-egt-oc {
    width: 300px;
    float: left;
    font-size: 18px;
    margin-top: 26px;
}

.egt-oc-db .second-links { float: right }

.egt-oc-db .second-links ul {
    list-style: none;
    width: 330px;
}

.egt-oc-db .second-links ul li {
    font-size: 14px;
    margin: 5px 5px 5px 0;
    float: left;
    width: 100px;
}

.egt-oc-db .second-links ul li a {
    padding: 5px;
    color: #9c9c9c;
    text-decoration: none;
}

.egt-oc-db .second-links ul li a:hover {
    color: #08c;
}

.egt-oc-db a:hover {
    text-decoration: none
}

.egt-oc-db .first-link {
    float: right;
    font-size: 16px;
    margin-top: 10px;
    margin-right: 20px;
}

.egt-oc-db .first-link a i {
    font-size: 40px;
    top: 6px;
    position: relative;
    margin-right: 7px;
}
.tab-functions-btns {
    float: right !important; 
    margin-top: 3px;
}

.tab-functions-btns button {
    float: left; 
    display: block; 
    margin-right: 2px;
}

.tab-functions-btns button:last-child {
    margin-right: 0px;
}
.tab-pane-fixed-height {
    height: 250px;
    overflow-y: auto;
}
.input-group .input-group-addon {
    background: #f0f0f0;
    padding: 5px 7px 7px;
    position: relative;
    top: -5px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.input-group input.first-child {
    border-radius: 4px 0 0 4px;
}
.input-group input.last-child {
    border-radius: 0 4px 4px 0;
}
.width-150px {
    width: 150px !important
}
.collapse-group .panel-default > .panel-heading {
    color: #333;
    background: #f7f7f7;
    border-color: #ddd;
}
.collapse-group .panel-title {
    margin-top: 0;
    margin-bottom: 0;
    padding: 6px 9px;
    border: 1px solid #ccc;
}
.collapse-group .panel-title a {
    font-size: 14px;
    font-weight: 500;
    display: block;
}
.collapse-group .panel-title a:hover,
.collapse-group .panel-title a:focus {
    text-decoration: none !important
}
.collapse-group .panel-default > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #ddd;
}
.collapse-group .count-opearations {
    float: right;
    margin-right: 10px;
    font-weight: 600;
    padding: 6px 0 6px 19px;
    position: relative;
    top: -6px;
    width: 18px;
    text-align: center;
    border-left: 1px solid #ccc;
}
.custom-panel-title {
    font-size: 13px;
    color: #373737;
}
.custom-panel-title:hover,
.custom-panel-title:focus {
    text-decoration: none
}
.panel-collapse {
    width: 100%;
}
.paginate-detail {
    float: left;
}
.pagination-container {
    float: right;
}
.pagination-container .pagination {
    margin: 0;
}
.paginate-pagesize input {
    margin: 0 !important;
    width: 60px !important;
    text-align: center !important;
    margin-right: 5px !important;
}
.paginate-pagesize button {
    float: right
}
.paginate-pagesize {
    margin-top: 15px;
}
.field-validation-error {
    color: #b94a48
}
.label-danger {
    background-color: #da2323;
}
.very-big-modal {
    width: 70%;
    left: 30%;
}
.very-big-modal .modal-body {
    max-height: 600px
}
.full-width {
    width: 100% !important;
}
.select2-hide-container + .select2 .select2-selection {
    background: #fff !important;
    border: none !important
}
.tag-editor-tag input[type="text"]:focus {
    box-shadow: none !important;
    border: none !important;
}
.tr-warning {
    background: #FCF8E3 !important;
}
.table thead th {
    vertical-align: inherit;
}
.account-database th.sort {
    background-image: url(/Content/img/sorter/bg.gif);
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center left;
    padding-left: 20px;
}

.account-database .drop-down-type,
.account-database .drop-down-path,
.account-database .drop-down {
    background-image: url(/Content/img/filter_black.png);
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center ;
    padding-left: 20px;
}
.account-database ul, .account-database li {
    margin: 0 ;
    padding: 0;
}

.account-database .drop-menu-main-type, 
.account-database .drop-menu-main-path,
.account-database .drop-menu-main {
    height: 20px;
    position: relative;
}

.account-database .drop-menu-main-type li,
.account-database .drop-menu-main-path li, 
.account-database .drop-menu-main li {
    float: left;

}

.account-database .drop-menu-main-sub-type, 
.account-database .drop-menu-main-sub-path, 
.account-database .drop-menu-main-sub {
    display: none;
    position: absolute;
    background: #FFFFFF;
    border-radius: 6px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.45);
    z-index: 100;
    width: 230px;
    padding: 5px;
}

.account-database .drop-menu-main-sub-type a 
.account-database .drop-menu-main-sub-path a,
.account-database .drop-menu-main-sub a {
    color: #555555;
    display: block;
    font-size: 11px;
    padding: 6px 15px;
    cursor: pointer;
    text-decoration: none;
}

.account-database .drop-menu-main-sub-type a:hover, 
.account-database .drop-menu-main-sub-path a:hover, 
.account-database .drop-menu-main-sub a:hover {
    background: #155FB0;
    color: #FFFFFF;
    text-decoration: none;
}
 
.account-database li {
    list-style: none;
    display: block;
}

.account-database .drop-down-type, 
.account-database .drop-down-path, 
.account-database .drop-down {
    cursor: pointer;
}
 
.account-database span.arrow{
    font-size: 8px;
}