/*  Icons  */
.icon-small {
    display: inline-block;
    min-height: 16px !important;
    min-width: 16px !important;
}

/* Menu item */

.nav-main {
    background: url(../img/pixel_grey.png) 100% 0 repeat-y;
}

.menu-item {
    display: inline;
    padding-left: 24px;
}

.nav-main .active a {
    background-image: url(../img/menu-choosen.png);
    background-position: 100% 50%;
    background-repeat: no-repeat;
}


/*  HOME  */
.AccountDatabases {
    background: url(../img/small/company.png) no-repeat !important;    
}
.Messages {
    background: url(../img/small/company.png) no-repeat !important;    
}

.Tasks {
    background: url(../img/small/company.png) no-repeat !important;    
}

.CloudSegment {
    background: url(../img/small/company.png) no-repeat !important;    
}

.Accounts {
    background: url(../img/small/company.png) no-repeat !important;    
}

.ConfigurationCloud {
    background: url(../img/small/company.png) no-repeat !important;    
}

.LandingPage {
    background: url(../img/small/company.png) no-repeat !important;    
}

.RdpConnections {
    background: url(../img/small/connect-to-1c.png) no-repeat !important;
}

.ServicesConnection {
    background: url(../img/small/conf.png) no-repeat !important;
}
.CloudCore {
    background: url(../img/small/conf.png) no-repeat !important;
}
.Logging {
    background: url(../img/small/company.png) no-repeat !important; 
}
.InvoiceNotification {
    background: url(../img/small/company.png) no-repeat !important;
}
.ArmManager {
    background: url(../img/small/company.png) no-repeat !important;
}

/*  SERVICES  */
.Esdl {
    background: url(../img/small/esdl.png) no-repeat !important;    
}

.active .MyEnterprise {
    background: url(../img/small/sun-cloud.png) no-repeat !important;    
}

.MyEnterprise {
    background: url(../img/small/cloud-rent.png) no-repeat !important;    
}

.MyDisk {
    background: url(../img/small/myDisk.png) no-repeat !important;    
}

.Crm {
    background: url(../img/small/crm.png) no-repeat !important;    
}

.MyTaxExpert {
    background: url(../img/small/calculator.png) no-repeat !important;    
}

.MyStaff {
    background: url(../img/small/users.png) no-repeat !important;    
}

.MyOffice {
    background: url(../img/small/office.png) no-repeat !important;
}

/*.MyTaxExpert {
    background: url(../img/small/calculator.png) no-repeat !important;
}*/

/*  MANAGEMENT */
.AccountData, .MyCompany {
    background: url(../img/small/esdl.png) no-repeat !important;
}

.active .Rent1C {
     background: url(../img/small/sun-cloud.png) no-repeat !important;
} 

.Rent1C {
     background: url(../img/small/cloud-rent.png) no-repeat !important;
}
 
.Billing {
    background: url(../img/small/bal.png) no-repeat !important;    
}

.Staff {
    background: url(../img/small/users.png) no-repeat !important;    
}

.Invoices {
    background: url(../img/small/invoice.png) no-repeat !important;    
}

.Recognition42 {
    background: url(../img/small/upp.png) no-repeat !important;    
}

/*  PROFILE */
.Profile {
    background: url(../img/small/profile.png) no-repeat !important;    
}

.Partners {
    background: url(../img/small/partner.png) no-repeat !important;
}

.partner-info {
    color: #3a87ad;
    background-color: #d9edf7;
    border-color: #bce8f1;
    margin-bottom: 20px;
}

.btn.btn-success.publish {
    width: 200px;
    margin-left: -10px;
}

.btn.btn-warning.publish {
    margin-left: -10px;
    width: 200px;    
}

.row-fluid.restore {
    margin-top:20px;
}