body {
    color: #364042;
    font-size: 14px;
    line-height: 25px;
    margin: 0; 
    padding: 0;
    background-size: 100%;
    height: 100%;
    background: #f0f4f6;
}

.grey2{
    background: #f0f4f6;
    background-size: 100%;
    height: 100%;
}

.reg-intro {
    text-align: center;
    font-size: 20px;
    margin: 0;
    color: #5d5d5d;
    margin-top: 20px;
}

.error-reset-password {
    margin-bottom: 35px;
}

.reg-intro-big {
    font-size: 28px;
}


.reg-intro p{
    margin-bottom: 15px;
}


a[data-toggle="collapse"] {
    cursor: pointer;
    color: #364042;
    text-decoration: underline;
}

.control-lk input[type="text"],
.control-lk input[type="password"],
.control-lk input[type="password2"],
.control-lk textarea{
  width: 250px;
  padding: 8px 10px 10px 60px; 
  font-size: 16px;
  background-color: #f0f4f6; 
}
/*.control-lk select {
    width: 322px;
    padding: 8px 12px 10px 58px;
    font-size: 16px;
    height: auto;
    background-color: #f0f4f6;
    color: #999;
    margin-bottom: 30px;
    background: url(/Content/img/registration/icon-code-reg.png) no-repeat -1px -1px;
    background-size: 44px 39px;
}*/
.form-reg {
  margin:0 auto;
  width: 400px;
  border: 1px solid #d5d5d5; 
  background: #fff; 
  text-align: center;
  padding:30px 0;
  margin-top: 40px;
  margin-bottom: 0;
}

a[data-toggle="collapse"] {
    border-bottom: 1px solid #ffd205;
    text-decoration: none;
}

a[data-toggle="collapse"]:active {
    text-decoration: none;
    border-bottom: none;
    cursor: pointer;
}

.padlogo {
  margin: 0 auto;
  text-align: center;
  padding-top: 10px; 
  padding-bottom: 10px;
  background: #fff;
}

.padlogo > a{
border-bottom: 0!important;
    text-decoration: none!important;
}

.error-label-row {
    width: 324px;
    float: left;
    color: #b94a48;
    text-align: left;
    padding-left: 40px;
}

.error-summary-block{
    width: 324px;    
    margin-top: -25px;
    color: #b94a48;
    text-align: left;
    padding-left: 40px;
}

.input-validation-error {
    border: 1px solid #b94a48 !important;
}

.balance-intro {
    text-align: center;
    font-size: 20px;
    margin: 0;
    color: #5d5d5d;
    line-height: 27px;
}

.balance-intro span {
    font-size: 25px;
    font-weight: bold;
    display: block;
    
    padding-bottom: 10px;

}
.email-promt {
    text-align: center;
    font-size: 16px;
    margin-top: 20px;
    color: #DE2525;
}

.pic-middle {
    text-align: center;
    padding: 20px 0 30px 0;
}

.balance-intro a {
    cursor: pointer;
    border-bottom: 1px solid #ffd205;
    text-decoration: none;
    color: inherit;
}


.balance-intro hr {
    border: none; 
    color: #ffd205; 
    background-color: #ffd205;
    height: 4px;
    width: 10%;
    text-align: center;
    margin: 0 auto;
}

.form-remember {
  margin:0 auto;
  width: 400px;
  border: 1px solid #d5d5d5; 
  font-size: 14px;
  background: #fff; 
  text-align: center;
  margin-top: 30px;
  padding: 15px 0;
}
.form-remember span {
  font-size: 20px;
}
.form-remember p {
    display: block;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 10px;

}

.controls {
    position: relative;
    margin-bottom: 30px;
}

.picture {
  position: absolute;
  left: 10%;
  z-index: 2;
}


.form-remember a {
    cursor: pointer;
    border-bottom: 1px solid #ffd205;
    text-decoration: none;
    color: inherit;
}

a:focus {
    border-bottom: 1px solid #ffd205;
    text-decoration: none;
    color: inherit;
}

a:hover, a:active, a:focus {
    text-decoration: none;
}

.form-control + .tooltip > .tooltip-inner {
    background-color: #f0e68c;
    color: #000000;
    font-size: 14px;
    width: 200px
}

/* common buttons*/

.btn-lk {
    padding: 5px 12px;
    margin-bottom: 0;
    font-size: 16px !important;
    line-height: 21px;
    color: #747474;
    text-shadow: none;
    background: #FFD205 none repeat-x;

    *background-color: #FFD205;
    /* Darken IE7 buttons by default so they stand out more given they won't have borders */
    border: 1px solid #FFD205;
    *border: 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    *margin-left: .3em;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    text-decoration: none;
     -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

.btn-lk:hover,
.btn-lk:focus,
.btn-lk:active,
.btn-lk.active,
.btn-lk.disabled,
.btn-lk[disabled] {
    color: #fff;
    background-color: #FFE672;
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

.btn-lk:hover,
.btn-lk:focus {
    text-decoration: none;
    background: #FFE672 0 -15px;
    -webkit-transition: background-position 0.1s linear;
    -moz-transition: background-position 0.1s linear;
    -o-transition: background-position 0.1s linear;
    transition: background-position 0.1s linear;
    border-color: #FFE672;
    -webkit-transition: background 0.5s ease;
    -moz-transition: background 0.5s ease;
    transition: background 0.5s ease;
    color: #747474;
    cursor: pointer;
}

.btn-large-lk {
  padding: 11px 50px;
  font-size: 19px;
  color: #5e5e5e;
}
.def-link:focus {
    border: none !important;
}
/* Forms */

textarea,
input[type="text"],
input[type="password"],
input[type="password2"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
    background-color: #ffffff;
    border: 1px solid #c4ccd2;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border linear .2s, box-shadow linear .2s;
    -moz-transition: border linear .2s, box-shadow linear .2s;
    -o-transition: border linear .2s, box-shadow linear .2s;
    transition: border linear .2s, box-shadow linear .2s;
}

input,
button,
select,
textarea {
    font-family: inherit; 
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="password2"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
    display: inline-block;
    height: 20px;
    padding: 5px 12px;
    margin-bottom: 30px; /*поменяла*/
    font-size: 16px;
    line-height: 20px;
    color: #555555;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    vertical-align: middle;
}

textarea{
    min-height: 100px;
}

.login-link {
  margin-top: 15px;
}

.login-group-checkbox {
  margin-top: 15px;
  text-align: center;
}

.login-group-checkbox a {
  border-bottom: 1px solid #ffd205;
  text-decoration: none;
  color: inherit;
}



[type="radio"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}

[type="radio"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
/* disabled checkbox */


[type="radio"]:disabled:checked + label:after {
  color: #555555;
}

[type="radio"]:disabled + label {
  color: #8c8c8c;
}
.start-page-btns {
    padding: 0 20px;
    margin-bottom: 10px;
}
.start-page-btns a {
    display: block;
}
.m-bot-0 {
    margin-bottom: 0px;
}

@media (max-width: 768px) {
    .register{
        width:100%;
        margin:0 auto;
        min-width:320px;
    }
        .register .pad{
            padding:40px!important;
        }
        .register .form-reg{
            width:auto!important;
            max-width:400px;
        }
        .register .alert-danger, .register .alert-error{
            margin-left:0!important;
            width:auto!important;
        }
        .register .control-lk{
            padding:0 20px;
        }
            .register .picture{
                left: 1px ;
            }
            .register .control-lk input[type="text"], .register .control-lk input[type="password"], .register .control-lk input[type="password2"], .registerv.control-lk textarea{
                width: 100%!important;
                display: block;
                box-sizing: border-box;
                height: 40px;
                font-size:12px;
            }
            .register .control-group-lk{
                padding:10px 20px 0!important;
            }
                .register .control-group-lk .btn-large-lk{
                    padding-left:15px!important;
                    padding-right:15px!important;
                    max-width:320px;
                    width:100%;
                    margin:0 auto;
                }
    .container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container{
        width:auto!important;
    }
    .register .login-group-checkbox{
        padding-left:0;
        text-align:center;
        width:auto!important;
        margin-left:0;
    }
    .register .form-remember{
        width:auto!important;
    }
}
@media (min-width: 769px) and (max-width: 992px) {
    .register{
        width:100%;
        min-width:320px;
        margin:0 auto;
    }
        .register .pad{
            padding:20px!important;
        }
    .container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container{
        width:auto!important;
    }
}

.iti-flag {
    background-image: url("../img/flags/flags.png");
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    .iti-flag {
        background-image: url("../img/flags/flags@2x.png");
    }
}