﻿th.header {
    background-image: url(/Content/img/sorter/bg.gif);
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center left;
    padding-left: 20px;
}

th.headerSortUp {
    background-image: url(/Content/img/sorter/asc.gif);
}

th.headerSortDown {
    background-image: url(/Content/img/sorter/desc.gif);
}