﻿.table .workers {
    vertical-align: middle;
}

div.modal {
    border:none;
}

#loader-container {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    /*background: rgba( 255, 255, 255, .8 ) 
                url('http://i.stack.imgur.com/FhHRx.gif') 
                50% 50% 
                no-repeat;*/
}

.modal-body.loading {
    overflow:hidden;
}

    .modal-body.loading #loader-container {
        display:block;
    }