#stripe {
    font-family: tahoma, sans-serif;
    font-size: 13px;
    z-index: 900000;
    width: 100%;
    height: 30px;
    background: #2D2D2D;
}


.stripe div, .stripe span, .stripe iframe, .stripe a, .stripe fieldset, .stripe form, .stripe label, .stripe table, .stripe caption, .stripe tbody, .stripe tfoot, .stripe thead, .stripe tr, .stripe th, .stripe td, .stripe canvas, .stripe figure, .stripe figcaption, .stripe menu, .stripe nav, .stripe output, .stripe audio, .stripe video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

.stripe article, .stripe aside, .stripe details, .stripe figcaption, .stripe figure, .stripe footer, .stripe header, .stripe hgroup, .stripe menu, .stripe nav, .stripe section {
    display: block;
}

.stripe ol, .stripe ul {
    list-style: none;
}

.stripe blockquote, .stripe q {
    quotes: none;
}

.stripe table {
    border-collapse: collapse;
    border-spacing: 0;
}

#wrapper {
    z-index: 500;
}

.stripe {
    font-family: tahoma, sans-serif;
    font-size: 13px;
    position: inherit;
    z-index: 900000;
    left: 0;
    top: 0;
    width: 100%;
    height: 30px;
    background: #2D2D2D;
    border-bottom: 1px solid #BEBEBE;
}

.stripe ul {
    margin: 0 10px;
    padding: 0;
    list-style: none;
}

.stripe ul li {
    position: relative;
    height: 30px;
    float: left;
    cursor: pointer;
    margin: 0;
}

.stripe ul li a {
    display: block;
    padding: 0 5px;
    margin: 0;
    float: left;
    color: #CCC;
    list-style: none;
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
    position: relative;
    z-index: 2002;
}

.stripe ul li a:HOVER {
    background: #4C4C4C;
}

.stripe .mm {
    position: relative;
    top: -1px;
    border-style: solid dashed dashed;
    border-color: transparent;
    border-top-color: silver;
    display: -moz-inline-box;
    display: inline-block;
    font-size: 0;
    height: 0;
    line-height: 0;
    width: 0;
    border-width: 3px 3px 0;
    padding-top: 1px;
    left: 4px;
    margin-right: 3px;
    margin-top: 16px;
}

.stripe ul li ul {
    display: none;
    clear: both;
    position: absolute;
    top: 29px;
    left: -11px;
    z-index: 2000;
    width: 200px;
    background: #fff;
    padding: 10px 0;
    border: 1px solid #BEBEBE;

    -moz-box-shadow: -1px 1px 1px #ccc;
    -webkit-box-shadow: 0 1px 5px #ccc;
    box-shadow: 0 1px 5px #ccc;

}

.stripe ul li.mmore.active a {
    color: #36C !important;
    background: #fff;
    text-decoration: none;
}

.stripe ul li.active ul {
    display: block !important;
}

.stripe ul li ul li {
    width: 200px;
    float: none;
    background: #fff;
}

.section-header {
    cursor: default !important;
    vertical-align: bottom;
    margin-bottom: -10px !important;
    padding-left: 10px;
    font-weight: bold;
}

.stripe ul li ul li a {
    float: none;
    width: 110px;
    text-align: left;
    padding: 0 20px;
    color: #36C;
}

.stripe ul li ul li:HOVER a {
    background: #EFF3FB !important;
}

.stripe ul.top-right {
    position: absolute;
    right: 0;
    top: 0;
}

.stripe ul.top-right li a span.options {
    margin-top: 6px;
    display: inline-block;
    background: url("../img/stripe/opts.png");
    width: 19px;
    height: 19px;
}

.stripe ul.top-right li:HOVER a span.options {
    background-position: 0 -18px;
}


.stripe ul.top-right li.mright {
    width: 35px;
}

.stripe ul.top-right li.mright ul {
    width: 180px;
    left: -156px;
}

.stripe ul.top-right li.mright ul li {
    width: 180px;
}

.stripe ul.top-right li.mright ul li a {
    width: 140px;
}

.stripe ul li.bigwidth ul {
    width: 260px;
}

.stripe ul li.bigwidth ul li a {
    width: 220px;
}

.stripe ul li ul li.sep {
    border-top: 1px solid #E5E5E5;
    font-size: 0 !important;
    height: 0;
    margin: 10px 0;
}

.stripe ul li ul li.sep:HOVER a {
    background: #fff !important;
}

.stripe ul li ul li.sep {
    font-size: 0 !important;
}

.stripe .clicker {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background: none;
}

.stripe .lockicon {
    background: url("https://cp.42clouds.com/Content/img/stripe/login.png") 50% 50% no-repeat;
    width: 24px;
    height: 24px;
    display: block;
    float: left;
    margin-right: 2px;
    position: relative;
    top: 3px;
}

.stripe .regicon {
    background: url("https://cp.42clouds.com/Content/img/stripe/cloud.png") no-repeat;
    width: 24px;
    height: 24px;
    display: block;
    float: left;
    position: relative;
    margin-right: 4px;
    top: 3px;
}

.stripe .flagru {
    background: url("https://cp.42clouds.com/Content/img/stripe/flag_ru_big.png") no-repeat;
    width: 36px;
    height: 24px;
    display: block;
    float: left;
    margin-right: 2px;
    position: relative;
    top: 3px;
}

.stripe .flagua {
    background: url("https://cp.42clouds.com/Content/img/stripe/flag_ua_big.png") no-repeat;
    width: 36px;
    height: 24px;
    display: block;
    float: left;
    margin-right: 2px;
    position: relative;
    top: 3px;
}

.stripe .full {
    width: 100%;
    height: 100%;
}

/*
.stripe .loader {
    background: url("/Content/img/stripe/loader.gif") 50% 50% #fff no-repeat;
    padding: 5px;
    height: 16px;
    width: 16px;
    border: 1px solid #acafb0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -13px;
    margin-left: -13px;
}

.stripe .stripe_loader {
    margin-top: 3px;
    display: none;
}
*/

.stripe .inp {
    width: 230px;
    border: 1px solid #9DA2A7;
    padding: 3px;
}

.stripe .logoutIFrame {
    display: none;
}

.stripe .flag {
    display: block;
    width: 16px;
    height: 16px;
    padding: 7px 0;
    float: left;
}

.stripe .inner.flag {
    margin-left: 0;
    margin-right: 5px;
}

.stripe .ru {
    background: url("../img/stripe/flag_ru.png") no-repeat center;
}

.stripe .uk {
    background: url("../img/stripe/flag_ua.png") no-repeat center;
}

.stripe .en {
    background: url("../img/stripe/flag_en.png") no-repeat center;
}

.stripe .de {
    background: url("../img/stripe/flag_de.png") no-repeat center;
}

.stripe .be {
    background: url("../img/stripe/flag_bel.png") no-repeat center;
}

.stripe .locales {
    display: none;
}

.stripe .phone-icon {
    background: url("https://cp.42clouds.com/Content/img/stripe/phone-call.png") no-repeat;
    width: 36px;
    height: 24px;
    display: block;
    float: left;
    margin-right: 2px;
    position: relative;
    top: 3px;
    cursor: none;
    cursor: pointer;
}

.stripe .phone-number {
    padding-top: 5px;
    padding-right: 15px;
    font-size: 18px;
    color: #ffffff;
    cursor: none;
    text-decoration: none;
    padding-top: 0px;
    cursor:pointer
}

.stripe .phone-icon-outter {
    text-decoration: none;
    padding-top: 0px;
    cursor:pointer
}

