﻿@using System.Threading
@using Clouds42.Common.Constants
@using Clouds42.Domain.Access
@using Cp.Helpers
@inject ContextAccess _contextAccessor
@model Clouds42.DataContracts.Navigation.StripeDto

@{
    Layout = null;
    var siteAuthorityUrl = _contextAccessor.CpSiteUrl();
    var returnFromEnemyAccountHref = $"{siteAuthorityUrl}/Accounts/SetCurrentContextAccount";
    var billingUrl = $"{siteAuthorityUrl}/BillingAccounts/Main";
    var userInfoUrl = $"{siteAuthorityUrl}/AccountUsers/AccountUserIndex";

    var signUpUrl = string.IsNullOrEmpty(Model.LocaleName)
        ? $"{siteAuthorityUrl}/SignUp/Index"
        : $"{siteAuthorityUrl}/SignUp/Index?LocaleName={Model.LocaleName}";

    var signInUrl =  $"{siteAuthorityUrl}/SignIn/Index";
    var stripeClass = Model.IsLogin ? "stripe stripe-authorized" : "stripe";
    var accCaption = Model.SelectedAccIndex != Model.SelectedAccName
        ? Model.SelectedAccName + " - " + Model.SelectedAccIndex
        : Model.SelectedAccName;
    var logoutUrl= $"{siteAuthorityUrl}{Url.Action("Logout", "SignIn")}";
    _ = await _contextAccessor.Provider.GetUserAsync() != null &&
        (await _contextAccessor.Provider.GetUserAsync()).Groups.Any(g => g is AccountUserGroup.CloudAdmin or AccountUserGroup.AccountAdmin);
}

<script>
    $(document).ready(function () {
        $('#LeftStripeMenu').children().each(function (index, element) {
            $(element).children().attr('path', document.location.pathname);
        });

        if ($("#callback").length) {
            $("#callbackLink").show();
        }
    });
</script>

<div class="@stripeClass" id="stripe">
    <ul id="LeftStripeMenu">
        @if (!Model.IsLogin)
        {
        <li style="width: 35px;"><a href="#" locate="ru-ru" onclick="editLocatePath(this)"><span class="flagru"></span></a></li>
        <li style="width: 35px;"><a href="#" locate="ru-ua" onclick="editLocatePath(this)"><span class="flagua"></span></a></li>
        <li style="width: 35px;"><a href="#" locate="ru-kz" onclick="editLocatePath(this)"><span class="flagkz"></span></a></li>
        }
        else
        {
        <li><a href="@siteAuthorityUrl">Личный кабинет</a></li>
        }

        @if (!_contextAccessor.IsCurrentContextAccount)
        {

        <li>
            <a href=@returnFromEnemyAccountHref style="background-color: #1ab394; color: rgb(255, 255, 2555);">
                Чужой аккаунт [@accCaption] (Вернуться)
            </a>
        </li>
        }
    </ul>
    <ul class="top-right" id="StripeMenu">
        @if (Model.LocaleName == LocaleConst.Russia)
        {
        <li><a href="tel:88002224942" class="phone-icon-outter"><span class="phone-icon"></span></a></li>
        <li><a href="tel:88002224942" class="phone-number">8 800 222 49 42</a></li>
        }

        @if (Model.IsLogin && _contextAccessor.Provider.HasAccessBool(ObjectAction.Balance_View, () => Model.ContextAccountId))
        {
        <li><a href="@billingUrl">Баланс: @(Model.CurrentUserBalance) @Model.LocaleCurrency.</a></li>
        }

        @if (Model.ShowFlag)
        {
        <li class="mmore bigwidth mright">
            <a><span id="choosed_lang" class="flag @Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName"></span><span class="mm"></span></a>
            <ul>
                <li><a href="?lang=ru" data-lang="ru"><span class="flag ru inner"></span>Русский</a></li>
                <li><a href="?lang=uk" data-lang="uk"><span class="flag uk inner"></span>Українська</a></li>
                <li><a href="?lang=be" data-lang="be"><span class="flag be inner"></span>Беларуская</a></li>
                <li><a href="?lang=en" data-lang="en"><span class="flag en inner"></span>English</a></li>
                <li><a href="?lang=de" data-lang="de"><span class="flag de inner"></span>Deutsch</a></li>
            </ul>
        </li>
        }

        <li>
            @if (Model.IsLogin)
            {
            <a href="@userInfoUrl">@Model.CurrentUser</a>
            }
            else
            {
            <a href="@signInUrl"><span class="lockicon"></span>Войти</a>
            }
        </li>

        @if (Model.IsLogin)
        {
        if (!Model.IsBitrix)
        {
        <li>
            <a href="@logoutUrl">Выйти</a>
        </li>
        }
        }
        else
        {
        if (Model.LocaleName != LocaleConst.Ukraine)
        {
        <li>
            <a href="@signUpUrl" onclick="_gaq.push(['_trackPageview', '/test']);"><span class="regicon"></span>Зарегистрироваться</a>
        </li>
        }
        }
    </ul>
</div>