.label {
    white-space: nowrap;
    margin: 0;
    font-family: inherit;
    color: inherit;
    font-size: inherit;
    padding: 0;
  }



@media screen and (min-width: 460px) {
    .select {
        max-width: 250px;
    }
}