﻿<body>
<p>
    Проверка бэкапов инф. баз в склепе завершена. Дата проверки: {0}. Количество проверенных бэкапов: {1}
</p>
<p>
    Количество бэкапов которые существуют на гугл диске - {2}
</p>
<ul>
    {3}
</ul>
<p>
    Количество проблемных бэкапов - {4}
</p>
<ul>
    {5}
</ul>
</body>