.warning-icon-container {
    width: 80px;
    height: 80px;
    border-width: 7px;
    border-style: solid;
    border-color: rgb(238, 162, 54);
    border-radius: 50%;
    margin: 5px auto;
    position: relative;
    box-sizing: content-box;
    animation: 0.75s ease 0s infinite alternate none running pulseWarning;
}

.warning-icon-circle {
    position: absolute;
    width: 7px;
    height: 47px;
    left: 50%;
    top: 10px;
    border-radius: 2px;
    margin-left: -2px;
    background-color: rgb(240, 173, 78);
    animation: 0.75s ease 0s infinite alternate none running pulseWarningIns;
}

.warning-icon-dot {
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    left: 47%;
    bottom: 10px;
    background-color: rgb(240, 173, 78);
    animation: 0.75s ease 0s infinite alternate none running pulseWarningIns;
}

@-webkit-keyframes pulseWarningIns {
    0% {
        background-color: #f8d486;
    }
    100% {
        background-color: #f8bb86;
    }
}

@keyframes pulseWarningIns {
    0% {
        background-color: #f8d486;
    }
    100% {
        background-color: #f8bb86;
    }
}

.pulseWarningIns {
    -webkit-animation: pulseWarningIns 0.75s infinite alternate;
    animation: pulseWarningIns 0.75s infinite alternate;
}

@-webkit-keyframes pulseWarning {
    0% {
        border-color: #f8d486;
    }
    100% {
        border-color: #f8bb86;
    }
}

@keyframes pulseWarning {
    0% {
        border-color: #f8d486;
    }
    100% {
        border-color: #f8bb86;
    }
}

.pulseWarning {
    -webkit-animation: pulseWarning 0.75s infinite alternate;
    animation: pulseWarning 0.75s infinite alternate;
}

.sa-warning {
    border-color: #f8bb86;
}

.sa-icon {
    width: 80px;
    height: 80px;
    border: 4px solid gray;
    -webkit-border-radius: 40px;
    border-radius: 40px;
    margin: 20px auto;
    padding: 0;
    box-sizing: content-box;
}

.sa-body {
    position: absolute;
    width: 5px;
    height: 47px;
    left: 50%;
    top: 10px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    margin-left: -2px;
    background-color: #f8bb86;
}

.sa-dot {
    position: absolute;
    width: 7px;
    height: 7px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    margin-left: -3px;
    left: 50%;
    bottom: 10px;
    background-color: #f8bb86;
}

.sweet-alert-body {
    color: var(--main-font-color);
    font-size: 14px;
    text-align: center;
    position: relative;
    float: none;
    margin: 0;
    padding: 0;
    line-height: normal;
}