.vip {
    color: var(--main-color);
    font-weight: bold;
    line-height: 33px;
}

.link {
    font-weight: bold;
    line-height: 33px;
}

.vipText {
    line-height: 33px;
    color: gold;
    font-weight: bold;
}

.vipTextThin {
    color: gold;
}

.container {
    height: 33px;
    flex-wrap: wrap;
    display: flex;
    gap: 5px;
}

@media screen and (max-width: 800px) {
    .container {
        justify-content: flex-end;
    }
}