.warningText {
    color: var(--warning-color);
}

.serviceName {
    display: flex;
    flex-direction: column;
}

.link {
    color: var(--text-link);
    transition-duration: 0.2s;
}

.link:hover {
    color: var(--text-link-hover);
}