.accordion {
    box-shadow: none;
}

.summary {
    padding-left: 10px;
}

.accordion:before {
    display: none;
}

.element {
    padding-top: 0;
    padding-bottom: 0;
}

.pagination {
    margin-top: 16px;
    float: right;
}

.search {
    float: right;
    min-width: 200px;
}