.img {
    width: 64px;
    height: 64px;
}

.link {
    font-size: 14px;
    width: fit-content;
}

.start {
    white-space: pre-wrap !important;
    height: 100%;
}

.dropdown {
    position: absolute !important;
    z-index: 10000;
    box-shadow: 0 0 3px rgb(86 96 117 / 70%);
    border-radius: 3px;
    background-color: white;
}