.search-button {
    min-width: 100px;
}

.delete-link {
    padding: 0 !important;
}

.delete-link i {
    color: #337ab7;
}

.search-button-margin {
    margin-top: 20px !important;
}

.custom-table > tbody > tr > td:nth-child(2), td:nth-child(3), td:nth-child(4) {
    white-space: normal !important;
    word-break: break-word !important;
}

.button-text {
    white-space: normal !important;
    word-break: break-word !important;
}

::placeholder {
    color: #cecece !important;
    opacity: 1 !important;
}

.checkbox {
    display: flex;
    gap: 5px;
    align-items: center;
}