.dialog {
    height: min-content;
}

.content {
    height: min-content;
}

.image {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 400px){
    .dialog {
        max-width: 100vw;

    }

    .content {
        box-sizing: border-box;
    }
}