.search-button {
    width: 100% !important;
    margin-top: 30px !important;
    height: 30px !important;
}

.search-button-margin {
    margin-top: 20px !important;
}

.button-text {
    white-space: normal !important;
    word-break: break-word !important;
}

.date-range > div:nth-child(1) {
    width: 50% !important;
}

.date-range > div:nth-child(3) {
    width: 50% !important;
}

.icon-link {
    padding: 0 !important;
}

.icon-link i {
    color: #337ab7;
}

::-webkit-placeholder {
    color: #cecece !important;
    opacity: 1 !important;
}

::-ms-placeholder {
    color: #cecece !important;
    opacity: 1 !important;
}

::placeholder {
    color: #cecece !important;
    opacity: 1 !important;
}