.container {
    padding-block: 8px;
    padding-inline: 20px;
    background: var(--background-color-elements);
    border: 1px solid var(--border-color-elements);
    border-radius: 3px;
    color: var(--main-font-color);
    flex-direction: row;
    gap: 20px;
    display: flex;
    align-items: center;
}

.link {
    display: flex;
    align-items: center;
}

.icon {
    color: var(--text-link);
    font-size: 13px;
    transition-duration: 0.2s;
}

.icon:hover {
    color: var(--text-link-hover);
    cursor: pointer;
}

.text {
    display: flex;
    flex-direction: column;
}

.text span {
    font-size: 24px;
    font-weight: 600;
}

.text a {
    display: block;
    width: 25%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
}