.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.elementContainer {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.button {
    width: fit-content;
    height: 35px;
    display: flex;
    gap: 5px;
}

.buttonsContainer {
    display: flex;
    justify-content: flex-end;
    gap: 5px;
}

.buttonsContainer > button {
    height: 35px;
}