.descriptionWrapper {
    display: grid;
    grid-template-columns: 1fr;
    align-content: space-between;
    gap: 6px;
    border: 1px solid rgba(0,0,0,0.3);
    padding: 12px;
}


.descriptionWrapper > div:first-of-type {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.descriptionWrapper > div:last-of-type {
    display: flex;
    justify-content: center;
}

.descriptionWrapper > div:last-of-type > button {
    width: 400px
}

.descriptionWrapper:last-of-type {
    border-left: none;
}

.descriptionWrapper ul {
    padding-left: 18px;
}

.descriptionWrapper > button {
    margin-top: auto;
}

.staticAnalysis {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.staticAnalysis > div {
    border: 1px solid rgba(0,0,0,0.3);
    padding: 12px;
}

.staticAnalysis > div:last-of-type {
    border-left: none;
}

.tableBlock {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 3fr;
    gap: 12px;
}

.tableBlock {
    border-bottom: 1px solid #e7eaec;
    margin-bottom: 16px;
}

.tableContent > div:first-of-type {
    border-bottom: 1px solid #e7eaec;
}

.chip {
    display: flex;
    justify-content: center;
    align-items: center;
}

.chip > div {
    padding: 6px 2px ;
    border: 1px solid #1ab394;
    height: 20px;
    font-weight: bold;
    max-width: 150px;
    width: 100%;
}

.fileUploader > label {
    padding-block: 15px !important;
    width: 200px;
}

.supportDescription {
    padding: 6px;
    border: 1px solid #F2D982;
    max-width: 400px;
    margin-top: 6px;
}

.customTable {
    border: 1px solid #e7eaec;
    border-collapse: collapse;
    width: 100%;
}

.customCell {
    border: 1px solid #e7eaec;
}

.customCellWide {
    width: 200px;
}

.customFileUploader > div:first-of-type {
    text-align: center;
    margin: 16px 0;
}


.fileUploaderButton > label {
    padding: 0 !important;
    border: none !important;
}