.root {
  margin: auto;
  width: 100%;
}

.paper {
  width: 100%;
  height: 300px;
  overflow: auto;
}

.list {
  margin: 0 5px !important;
}

.listItem {
  cursor: pointer !important;
  font-size: 12px !important;
  margin: 5px 0 !important;
  border: 1px solid #1ab394 !important;
  border-radius: 4px !important;
  color: #1ab394 !important;
  word-break: break-word !important;
  white-space: normal !important;
}

.listItemSelected {
  background-color: #1ab394 !important;
  border-color: #1ab394 !important;
  color: #fff !important;
}

.listItem-text {
  font-size: 12px !important;
}

.label {  
  margin: 0 !important;
  font-family: inherit !important;
  color: inherit !important;
  font-size: inherit !important;
  padding: 0 !important;
}

.label > span {
  word-break: break-word !important;
  white-space: normal !important;
}

.list-item-similar {
  background-color: #fff !important;
  border: 1px solid #3855e4 !important;
  margin: 5px 0 !important;
  border-radius: 4px !important;
  color: #3855e4 !important;
  word-break: break-word !important;
  white-space: normal !important;
  cursor: pointer !important;
  font-size: 12px !important;
}

.list-item-similar-selected  {
  background-color: #3855e4 !important;
  border-color: #3855e4 !important;
  color: #fff !important;
}