.link {
    color: #000000;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}

.link:hover {
    color: #676a6c;
}

.input {
    border-radius: 12px;
    padding: 6px 12px;
    min-width: 90%;
    font-size: 16px
}