.wrapper table {
    border-collapse: collapse;
    width: 100%;
}

.wrapper table, .wrapper th, .wrapper td {
    border: 1px solid #ccc;
}

.wrapper th, .wrapper td {
    padding: 8px;
    text-align: left;
}

.wrapper .sun-editor-editable {
    display: none !important;
    font-family:'Courier New', Courier, monospace;
}

.wrapper .se-wrapper-inner .se-wrapper-wysiwyg .sun-editor-editable {
    font-family: 'Open Sans', sans-serif !important;
}