.styles_filter-wrapper__jlGHT{display:-ms-flexbox;display:flex;grid-column-gap:16px;-webkit-column-gap:16px;column-gap:16px;-ms-flex-wrap:wrap;flex-wrap:wrap;-ms-flex-align:end;align-items:flex-end}
/*# sourceMappingURL=20.acaa35df.chunk.css.map */