.styles_filter-wrapper__jlGHT{display:-ms-flexbox;display:flex;grid-column-gap:16px;-webkit-column-gap:16px;column-gap:16px;-ms-flex-wrap:wrap;flex-wrap:wrap;-ms-flex-align:end;align-items:flex-end}.styles_button-actions__pKIa7{height:34px;font-weight:400}@media only screen and (min-width:1200px){tr>td:nth-child(5)>div{width:200px!important}}
/*# sourceMappingURL=22.1ffc0aae.chunk.css.map */