.styles_button-add__1D5Q1{width:100%;height:35px}.styles_button-delete__3fSpz{padding:1px 5px!important;font-size:12px!important;line-height:1.5!important;margin:5px 0!important}.styles_select-list__3LhAm>div>div{border-radius:unset}.styles_select-list-popper__1eEs8>div{border-radius:unset!important;font-size:13px!important;margin-top:0!important}
/*# sourceMappingURL=28.f4d34736.chunk.css.map */