.styles_offer-link__1ULr2:hover{text-decoration:none}.styles_text-row-table__1LG0Q{white-space:pre-line}.styles_offer-wrapper__7TP07{position:relative;min-width:375px!important}.styles_offer-link__1ULr2{margin:0;position:absolute;top:50%;-ms-transform:translateY(-50%);-webkit-transform:translateY(-50%);transform:translateY(-50%)}
/*# sourceMappingURL=32.b95a2c61.chunk.css.map */