.side-bar__simple-menu-icon {
    margin-right: 9px;
}

.side-bar__simple-menu-link {
    display: block;
    padding: 14px 20px 14px 25px;
    cursor: pointer;
    color: inherit;
}

.side-bar__simple-sub-menu-link {
    display: block;
    padding: 7px 10px 7px 52px;
    cursor: pointer;
    color: inherit;
}

.side-bar__simple-menu_container {
    color: var(--main-font-color-light);
}

.side-bar__simple-menu_container:hover,
.side-bar__simple-menu-link:hover,
.side-bar__simple-sub-menu-link:hover,
.side-bar__simple-menu--active,
.side-bar__simple-menu--active:not([href]) {
    background-color: var(--left-side-menu-color);
    text-decoration: none;
    color: var(--color-white);
}
