.dropZone-block-text-style {
    font-family: Roboto, serif;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-size: 13px;
    text-align: center;
    color: #7B7E82;
    margin-top: 24px;
}

.dropZone-block-text {
    text-align: center;
    margin-top: 90px;
    width: 100%;
}

.dropZone-block-text-hover {
    text-align: center;
}

.dropZone-narrow-file {
    transition-duration: 0.2s;
    background: #FFFFFF;
    border-radius: 10px;
    border: 1px dashed #C9C9C9;
    cursor: pointer;
    min-height: 269px;
    position: relative;
    max-height: 266px;
    overflow: hidden;
    display: flex;
}

.dropZone-narrow-file:hover {
    border: 1px dashed var(--main-color);
}

.advertising-banner-display-hover {
    position: absolute;
    background: rgba(58, 68, 89, 0.59);
    display: none;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.dropZone-narrow-file:hover .advertising-banner-display-hover {
    display: block;
}

.refreshIcon {
    font-size: 40px !important;
    color: white;
    position: absolute;
    left: 50%;
    top: 43%;
}

.img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}