.container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.header {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 900px;
}

.header > .text {
    margin-top: 15px;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.text {
    font-size: 14px;
    font-weight: bold;
}

.hidden {
    display: none;
}