.container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 10px;
}

.image {
    border: 2px solid var(--main-color);
    border-radius: 3px;
    max-height: 300px;
    width: 100%;
    object-fit: cover;
}

.marketInfo {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@media (max-width: 1000px) {
    .container {
        grid-template-columns: 1fr;
    }
}