.instructionImg {
    margin: 0 auto;
}

.createDbButton:hover {
    text-decoration: none;
    color: #fff;
}

.imageContainer > img {
    width: 30%;
    cursor: pointer;
}

.list {
    margin-block-start: 0;
    margin-block-end: 0;
}

.link {
    color: var(--text-link)
}

.link:hover {
    color: var(--text-link-hover);
}