.container {
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    padding-bottom: 20px;
    width: 100%;
}

@media (max-width: 1425px) {
    .container {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media (max-width: 1000px) {
    .container {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}