.attached-file-wrapper {
    font-size: 13px !important;
}

.span-group-addon {
    background-color: #fff !important;
    border: 1px solid #E5E6E7 !important;
    border-radius: 1px !important;
    color: inherit;
    font-size: 14px !important;
    font-weight: 400 !important;
    padding: 6px 12px !important;
    text-align: center !important;
    border-right: 0 !important;
    height: 34px !important;
}

.input-group-addon {
    background-color: #fff !important;
    border: 1px solid #E5E6E7 !important;
    border-radius: 1px !important;
    color: inherit;
    font-size: 14px !important;
    font-weight: 400 !important;
    height: 34px !important;
}

.input-group-addon:focus {
    border-color: #1ab394 !important;
    box-shadow: none !important;
}

.label-custom {    
    font-weight: 700 !important;
}

.attached-button {
    color: inherit !important;
    border: 1px solid #d2d2d2 !important;
    background: white !important;
    font-size: 12px !important;
    line-height: 1.5 !important;
}

.remove-button {
    margin: 0 !important;
    height: 34px !important;
}

.input-custom {
    display: none !important;
}