.footer__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
}

.summary-block{
    display: grid;
    grid-template-columns: 8fr 1fr 3fr;
    justify-items: end;
    font-size: 13px;
    padding: 5px;
}

.summary-block-total{
    font-size: 18px;
}

.button-wrapper {
    gap: 8px;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.link {
    text-decoration: none;
    color: inherit;
}

.counter {
    display: flex;
    justify-content: center;
    align-items: center;
    height: min-content;
}

.link:hover {
    text-decoration: none;
    color: inherit;
}

.input-number {
    font-size: 13px !important;
    padding: 8px;
}

.input-number[type=number] {
    -moz-appearance: textfield;
}

.counter-input {
    padding: 6px 0;
    border: 1px solid #fff;
    display: inline-block;
    text-align: center;
    width: 60px;
    height: 15px;
    font-size: 13px !important;
}

.counter-input[type=number] {
    -moz-appearance: textfield;
}

.icon {
    font-size: 13px;
    padding: 10px;
    color: var(--main-color);
    cursor: pointer;
}

.empty-icon {
    padding: 0 15.5px 0 15.5px;
}

@media screen and (max-width: 767px) {
    .counter-input {
        font-size: 16px !important;
    }

    .input-number {
        font-size: 16px !important;
    }

    .counter {
        display: block;
    }
}