.container {
    border: 1px rgb(201,201,201) solid;
    margin: 15px 0;
}

.mainForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: -10px;
}

.mainForm label {
    font-size: 13px;
    font-weight: bold;
}

.checkBoxLabel > p {
    font-size: 12px;
    padding-top: 3px;
}

.buttonsContainer {
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: right;
}

.mainForm__checkbox {
    display: flex;
    gap: 5px;
    align-items: center;
}

.richTextDescriptionContainer {
    display: flex;
    flex-direction: column;
}

.richTextDescriptionContainer textarea {
    padding-left: 5px;
    font-size: 13px;
    border-radius: 5px;
    resize: none;
    background: var(--background-color-elements);
    border: 1px solid var(--border-color-elements);
    color: var(--main-font-color);
}

.richTextDescriptionContainer textarea:hover {
    border: 1px solid var(--main-color);
}

.uploadFileContainer {
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.backLink {
    width: 130px;
    text-decoration: none !important;
    color: inherit !important;
}

.backLink > button {
    width: 130px;
}

.childrenContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.fileSettingsContainer {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.href {
    font-weight: bold;
}