.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.container a {
    font-size: 13px;
    color: var(--text-link);
}

.container a:hover {
    color: var(--text-link-hover);
    text-decoration-line: none;
}

.buttonContainer {
    flex-direction: row;
    justify-content: flex-end;
    display: flex;
}