.check {
    display: inline;
}

.container {
    display: flex;
    gap: 15px;
    flex-direction: column;
}

.footer {
    display: flex;
    gap: 15px;
    justify-content: flex-end;
}

.checkBoxFormWidth {
    min-width: fit-content !important;
}