.formAndLabel {
    min-width: auto !important;
}

.link {
    color: var(--text-link);
}

.link:hover {
    color: var(--text-link-hover);
}

.error {
    display: flex;
    justify-content: center;
    padding: 10px;
    color: var(--main-font-color-error);
    border-radius: 5px;
    border: 1px solid var(--main-font-color-error);
}