.selectValue_box {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    padding-block: 5px;
}

.selected {
    height: auto;
    font-size: 13px;
    border-radius: 3px;
    border: 1px solid var(--main-color);
    background: var(--color-white);
    box-sizing: border-box;
    min-width: 250px;
    padding-left: 5px;
    color: var(--main-font-color);
    display: flex;
    justify-content: space-between;
}

.selectedChip {
    font-size: 13px;
    color: var(--main-font-color);
    height: auto;
    display: flex;
    justify-content: space-between;
}

.selectedValueContainer {
    height: 25px;
    display: grid;
    grid-template-columns: repeat(2, minmax(250px, 280px));
    gap: 5px;
}

.selectedValueContainer input {
    width: 340px;
}