.side-bar__wrapper {
    min-width: 270px;
    width: 270px;
    height: 100vh;
    background-color: var(--left-side-menu-color);
    color: var(--main-font-color-light);
    font-family: 'Roboto', serif !important;
    overflow-y: scroll;
    z-index: 3;

    &::-webkit-scrollbar {
        width: 0;
        height: 0;
    }
}

.side-bar__menu {
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 13px;
    position: relative;
    background: transparent;
}
