.icon {
    font-size: 25px;
    text-align: center;
}

.button {
    display: flex;
    gap: 5px;
    align-items: flex-start;
}

.main {
    position: absolute;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}