.container, .letterTemplateContainer {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.letterTemplateContainer {
    gap: 30px;
}

.letterTemplateContainer > div[data-testid="form-and-label"] {
    max-width: 400px;
}

.container > button {
    width: fit-content;
    display: flex;
    gap: 5px;
}

.link {
    transition-duration: 0.2s;
    color: var(--text-link);
}

.link:hover {
    color: var(--text-link-hover);
}