@font-face {
  font-family: 'fontello';
  src: url('~/fonts/custom_icons/custom_icons.eot?85191149');
  src: url('~/fonts/custom_icons/custom_icons.eot?85191149#iefix') format('embedded-opentype'),
       url('~/fonts/custom_icons/custom_icons.woff2?85191149') format('woff2'),
       url('~/fonts/custom_icons/custom_icons.woff?85191149') format('woff'),
       url('~/fonts/custom_icons/custom_icons.ttf?85191149') format('truetype'),
       url('~/fonts/custom_icons/custom_icons.svg?85191149#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
 
 [class^="fa-custom"]:before, [class*=" fa-custom"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
 
  font-variant: normal;
  text-transform: none;
 
  line-height: 1em;
 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
 
.fa-custom-delans:before { content: '\e800'; } /* '' */
.fa-custom-kladovoy:before { content: '\e801'; } /* '' */
.fa-custom-sauri:before { content: '\e802'; } /* '' */
.fa-custom-alpaca {
    background-image: url(../../fonts/custom_icons/fa-custom-alpaca.svg);
    width: 13px;
    height: 15px;
    filter: invert(1);
    background-position: -1px 2px;
    background-size: cover;
}
.fa-fa-custom-services:before {
    content: 'C';
    font-weight: bold;
    font-size: 19px;
}

.fa-custom-additional-sessions,
.fa-custom-articles,
.fa-custom-consultant,
.fa-custom-edo,
.fa-custom-extensions-and-processing,
.fa-custom-market,
.fa-custom-programmer,
.fa-custom-rent {
    width: 13px;
    height: 15px;
    filter: invert(1);
    background-position: -1px 2px;
    background-size: cover;
}

.fa-custom-additional-sessions {
    background-image: url(../../img/nav-icons/additional-sessions.svg);
    background-position: -1px 0;
}

.fa-custom-articles {
    background-image: url(../../img/nav-icons/articles.svg);
    background-position: -1px 0;
}

.fa-custom-consultant {
    background-image: url(../../img/nav-icons/consultant.svg);
    background-position: -1px 0;
}

.fa-custom-edo {
    background-image: url(../../img/nav-icons/edo.svg);
    background-position: -1px 0;
}

.fa-custom-extensions-and-processing {
    background-image: url(../../img/nav-icons/extensions-and-processing.svg);
    background-position: -1px 1px;
}

.fa-custom-market {
    background-image: url(../../img/nav-icons/market.svg);
    background-position: -1px 0;
}

.fa-custom-programmer {
    background-image: url(../../img/nav-icons/programmer.svg);
}

.fa-custom-rent {
    background-image: url(../../img/nav-icons/rent.svg);
}