.wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.collapseWrapper {
    border: 1px solid #ddd;
    border-radius: 4px;
    background: #f8f8f8;
    margin-top: 4px;
}

.apdexTable table {
    border-collapse: collapse;
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.apdexTable th {
    background-color: #f7f4e4;
    font-weight: bold;
}

.apdexTable td, .apdexTable th {
    border: 1px solid gray;
    padding: 8px;
}

.apdexTable tbody tr:nth-child(1) td:last-child {
    background-color: #d3d3d3;
    font-weight: bold;
}

.apdexTable tbody tr:nth-child(2) td:last-child {
    background-color: #f4d4a0;
    font-weight: bold;
}

.apdexTable tbody tr:nth-child(3) td:last-child {
    background-color: #ffffa0;
    font-weight: bold;
}

.apdexTable tbody tr:nth-child(4) td:last-child {
    background-color: #d6f5d6;
    font-weight: bold;
}

.apdexTable tbody tr:nth-child(5) td:last-child {
    background-color: #b3e6ff;
    font-weight: bold;
}
