.services-list > thead > tr > th:not(:first-child){
    text-align: center;
}

.services-list > tbody > tr > td:not(:first-child) {
    text-align: center;
}

.services-list > tbody > tr > td:nth-last-child(2) {
    font-weight: bold;
}

.resources-list > tbody > tr > td {
   border: 1px solid #e7eaec;
}

.resources-list > thead > tr > th {
   border: 1px solid #e7eaec;
}

.resources-list > div {
     display: grid;
     grid-template-columns: repeat(3,1fr); 
     font-size: 12px;
}

.resources-list > div > div {
    border: 1px solid #e7eaec;
    padding: 8px;
    line-height: 40px;
    min-height: 40px;
}

.resources-list > div:first-of-type {
    background: #f9f9f9;
}

.resources-list > div:first-of-type > div {
    line-height: 20px;
    height: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 10px
}

.resources-list > div:nth-child(2n) {
    background: #f9f9f9;
}

.resources-list--padding {
    padding: 15px;
}

@media screen and (max-width: 800px)  {
    .resources-list > div {
        grid-template-columns: 4fr 3fr 3fr;
   }
}

@media screen and (max-width: 600px)  {
    .resources-list > div:not(:first-child) {
        grid-template-columns: 1fr;
    }
    
    .resources-list > div > div {
        padding: 4px;
    }
    
    .resources-list > div:not(:first-child) > div:not(:first-child) {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    
}