.accountDatabasePathContainer {
    border: 0 !important;
    width: 100% !important;
    background-color: transparent !important;
}

.accountDatabasePathContainer:hover,
.accountDatabasePathContainer:focus {
    outline: 0 !important;
    box-shadow: none !important;
}

.label {
    font-size: 13px;
    position: absolute;
    top: -12px;
    background-color: #fff;
    padding: 0 4px;
}

.box {
    position: relative;
    width: 100%;
    display: flex;
    box-sizing: border-box;
    gap: 8px;
    flex-wrap: wrap;
    padding-top: 3px;
    font-family: 'Roboto', Helvetica, Arial, 'Open Sans' !important;
    border: 1px solid #c4c4c4;
    padding: 8px;
    border-radius: 4px;
}

.copy-icon {
    color: #337ab7 !important;
    cursor: pointer;
    border: 0;
    margin: 0;
    padding: 0;
    background-color: transparent;
}

.copy-icon:hover,
.copy-icon:focus {
    color: #23527c !important;
    outline: 0 !important;
    box-shadow: none !important;
}

.accountdatabase-path-container {
    margin-top: 8px !important;
    margin-bottom: 8px !important;
    margin-right: 15px !important;
}

.table-cell-container {
    margin-top: 8px !important;
    margin-bottom: 8px !important;
}

.font-bold {
    font-weight: 600 !important;
}

.copy-accountdatabase-path-button-container {
    margin-top: 8px !important;
    margin-bottom: 8px !important;
    position: relative !important;
    height: 0 !important;
    float: right !important;
}

.prepare-for-migration-container {
    text-align: right !important;
}

.selected-databases-container-wrapper {
    clear: both !important;
}

.selected-databases-container {
    border: 1px solid #ced4da !important;
    display: flex !important;
    flex-wrap: wrap !important;
    min-height: 30px !important;
    background-color: #fff !important;
    padding-left: 3px !important;
    padding-top: 3px !important;
    border-radius: 0.3rem !important;
}

.selected-databases-container > div {
    background-color: #e4e4e4 !important;
    border-radius: 8px !important;
    margin-right: 3px !important;
    margin-bottom: 3px !important;
    text-align: center !important;
    padding: 0 6px !important;
}

.selected-databases-container > div i {
    padding-right: 5px !important;
    color: gray !important;
    cursor: pointer !important;
}

.selected-databases-container > div i:hover {
    color: maroon !important;
}
