﻿@using Newtonsoft.Json
@using Newtonsoft.Json.Converters
@model Clouds42.DataContracts.Account.AccountBilling.BillingAccountInfoDto

@{
    ViewBag.Title = "Баланс";
}


@await Html.PartialAsync("Metrika/_BillingAccounts")
@await Html.PartialAsync("Metrika/_BillingAccountsAdmin")

<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Баланс</h5>
                </div>
                <div class="ibox-content">
                    <div class="sk-spinner sk-spinner-double-bounce">
                        <div class="sk-double-bounce1"></div>
                        <div class="sk-double-bounce2"></div>
                    </div>

                    <div id="billing-form">
                        <div class="form-group" style="display: inline-block; width: 100%;" id="summary-info-container">
                            <div class="col-md-6 m-b">
                                <div class="balance-info-block">
                                    <div class="text-center icon-block">
                                        <img src="@Url.Content("~/Content/img/landing/balance.jpg")" height="65" width="65" alt="" />
                                    </div>
                                    <div class="text">
                                        <div class="color-text-balance-info-one style-text-balance-info-one">
                                            <div class="style-text-balance-info-two">
                                                <strong>Баланс</strong>
                                                <strong class="link" data-bind="text: CommonHelper.toMoneyFormat($root.AccountBillingData.MoneyBalance())"></strong>
                                                <span class="link" data-bind="text: $root.AccountBillingData.CurrencySymbol"></span>
                                            </div>
                                            <div class="m-b-xs" style="margin-top: 7px">
                                                <strong>Бонусы</strong>
                                                <i class="fa fa-info-circle" style="cursor: pointer" data-bind="tooltip: $root.Tooltips.BonusBalanceDescription"></i>
                                                <strong class="link" data-bind="text: CommonHelper.toMoneyFormat($root.AccountBillingData.BonusBalance())"></strong>
                                                <strong class="link" data-bind="text: $root.AccountBillingData.CurrencySymbol"></strong>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <div class="col-md-6 m-b">
                                <div style="display: inline-block;">
                                    <img src="@Url.Content("~/Content/img/landing/prepayment.jpg")" class="current-balance-icon" alt="">
                                </div>
                                <div style="display: inline-block;">
                                    <strong>Ежемесячный платеж</strong>
                                    <strong class="link" data-bind="text: CommonHelper.toMoneyFormat($root.AccountBillingData.MonthlyPaymentSum())"></strong>
                                    <strong class="link" data-bind="text: $root.AccountBillingData.CurrencySymbol"></strong>
                                </div>
                            </div>
                        </div>

                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#invoices" data-toggle="tab">Счета</a></li>
                            <li><a id="transactions-block-trigger-btn" href="#transacions" data-toggle="tab">Транзакции</a></li>
                            <li><a href="#prepayments" data-toggle="tab">Обещанный платеж</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="invoices">
                                @await Html.PartialAsync("Tabs/_invoices")
                            </div>
                            <div class="tab-pane" id="transacions">
                                @await Html.PartialAsync("Tabs/_transactions")
                            </div>
                            <div class="tab-pane m-t" id="prepayments">
                                @await Html.PartialAsync("_prepayments", Model.BillingData)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@await Html.PartialAsync("_knockoutPagition")

@section Styles
{
    <link rel="stylesheet" type="text/css" href="/plugins/ionSliderStyles"/>
    <link rel="stylesheet" type="text/css" href="/Content/plugins/datapicker/bootstrap-datetimepicker.min.css"/>
    
    <link rel="stylesheet" type="text/css" href="/Content/plugins/sweetalert/sweetalert.css"/>
}

@section Scripts {
    <script src="/bundles/knockout"></script>
    <script src="/bundles/knockoutExtension"></script>
    <script src="/plugins/ionSlider"></script>
    <script src="plugins/googleJsapi"></script>
    <script src="/plugins/momentjs"></script>
   <script src="/plugins/dataPicker"></script>
   <script src="/plugins/sweetAlert"></script>
    <script src="/plugins/commonHelper"></script>
    <script src="/plugins/ajaxHelper"></script>
    
    <link rel="stylesheet" type="text/css" href="/Content/Balance/balance-page-styles.css"/>

    @await Html.PartialAsync("_BillingViewModel")
    @await Html.PartialAsync("ViewModels/_InvoicesViewModel")
    @await Html.PartialAsync("ViewModels/_SummaryInfoViewModel")
    @await Html.PartialAsync("ViewModels/_TransactionViewModel")
    <script>
        var invoicesViewModel = null,
            promisePaymentViewModel = null,
            transactionViewModel = null,
            summaryInfoViewModel = null;

        $(document).ready(function () {
            var billingData = @Html.Raw(JsonConvert.SerializeObject(Model.BillingData, new IsoDateTimeConverter()));
            var invoices = @Html.Raw(JsonConvert.SerializeObject(Model.Invoices, new IsoDateTimeConverter()));
            var config = {
                EarlyRepayPromisePatmentUrl: '@Url.Action("RepayPromisePayment", "BillingAccounts")',
                ProlongPromisePatmentUrl: '@Url.Action("ProlongPromisePayment", "BillingAccounts")',
                PrintInvoice: '@Url.Action("PrintInvoicePdfFile", "BillingAccounts")',
                DownloadInvoice: '@Url.Action("OpenInvoicePdfFile", "BillingAccounts")',
                DownloadActPdfFile: '@Url.Action("DownloadActPdfFile", "BillingAccounts")',
                OpenActPdfFile: '@Url.Action("OpenActPdfFile", "BillingAccounts")',
                DownloadFiscalReceiptPdfFile: '@Url.Action("DownloadFiscalReceiptPdfFile", "BillingAccounts")',
                OpenFiscalReceiptPdfFile: '@Url.Action("OpenFiscalReceiptPdfFile", "BillingAccounts")',
                UpdateInvoicesList: '@Url.Action("GetInvoicesPagitationCollection", "BillingAccounts")',
                ReplenishBalanceForm: '@Url.Action("ReplenishBalance", "BillingAccounts")',
                BalancePage: '@Url.Action("Main","BillingAccounts")',
                Invoices: invoices,
                UpdateTransactionsList: '@Url.Action("GetTransactionsList","BillingAccounts")',
                UpdateProvidedServicesList: '@Url.Action("GetProvidedServicesList", "BillingAccounts")',
                UpdateProvidedLongServicesList: '@Url.Action("GetProvidedLongServicesList", "BillingAccounts")',
                AccountLocale: '@Model.BillingData.Locale.Name'
            };

            DisableAutoFillHelper.DisableAutoFillInForm();
            ko.validation.locale('ru-RU');

            invoicesViewModel = new InvoicesViewModel(billingData, config);
            ko.applyBindings(invoicesViewModel, document.getElementById('invoices'));

            summaryInfoViewModel = new SummaryInfoViewModel(billingData, config);
            ko.applyBindings(summaryInfoViewModel, document.getElementById('summary-info-container'));

            transactionViewModel = new TransactionViewModel(billingData, config);
            ko.applyBindings(transactionViewModel, document.getElementById('transacions'));

            promisePaymentViewModel = new PromisePaymentViewModel(billingData, config);
            ko.applyBindings(promisePaymentViewModel, document.getElementById('prepayments'));
        });

        // Открыть форму пополнения баланса через ОП
        function openReplenishmentFormByPromisePayment() {
            MaskHelper.ShowBlockUi($('.ibox'));
            document.location.href = '@Url.Action("ReplenishBalance", "BillingAccounts")' + '?isPromisePayment=' + true;
        }
    </script>
}