﻿@model Clouds42.Billing.Contracts.Factories.Models.UkrPayInitDataModel

<form method="POST" action=@Model.RequestUrl>
    <input type="hidden" name="service_id" value=@Model.ServiceId />
    <input type="hidden" name="order" value=@Model.Order />
    <input type="hidden" name="sus_url" value=@Model.Successurl />
    <input type="hidden" name="amount" value=@Model.Amount/>
    <input type="hidden" name="charset" value=@Model.Encoding />
</form>

<script type="text/javascript">
      document.forms[0].submit();
</script>
