.cards {
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    width: 100%;
}

@media (max-width: 1000px) {
    .cards {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}