@font-face {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    src: url('/public/fonts/custom_fonts/gilroy-regular.woff2') format('woff2'),
    url('/public/fonts/custom_fonts/gilroy-regular.woff') format('woff'),
    url('/public/fonts/custom_fonts/gilroy-regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    src: url('/public/fonts/custom_fonts/gilroy-medium.woff2') format('woff2'),
    url('/public/fonts/custom_fonts/gilroy-medium.woff') format('woff'),
    url('/public/fonts/custom_fonts/gilroy-medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    src: url('/public/fonts/custom_fonts/gilroy-semibold.woff2') format('woff2'),
    url('/public/fonts/custom_fonts/gilroy-semibold.woff') format('woff'),
    url('/public/fonts/custom_fonts/gilroy-semibold.ttf') format('truetype');
}

@font-face {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    src: url('/public/fonts/custom_fonts/gilroy-bold.woff2') format('woff2'),
    url('/public/fonts/custom_fonts/gilroy-bold.woff') format('woff'),
    url('/public/fonts/custom_fonts/gilroy-bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 800;
    src: url('/public/fonts/custom_fonts/gilroy-extrabold.woff2') format('woff2'),
    url('/public/fonts/custom_fonts/gilroy-extrabold.woff') format('woff'),
    url('/public/fonts/custom_fonts/gilroy-extrabold.ttf') format('truetype');
}

.cardContent {
    padding: 6px;
}

.cardContent:last-child {
    padding-bottom: 6px;
}

.wrapper {
    font-family: 'Gilroy', serif;
    max-width: 950px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.custom-textarea {
    border: none;
    width: 100%;
    resize: none;
    font-family: 'Gilroy', serif;
    color: #192225;
}

.title {
    font-size: 56px;
    line-height: 56px;
    font-weight: 500;
}

.wrapper h1 {
    font-size: 48px;
}

.wrapper h2 {
    font-size: 36px;
}

.wrapper h3 {
    font-weight: 600;
    font-size: 32px;
}

.wrapper h4 {
    font-size: 28px;
}

.wrapper img {
    max-width: 100%;
}

.wrapper a {
    color: blue;
}

.comments {
    font-size: 14px;
}

@media (max-width: 1024px) {
    .title {
        font-size: 40px;
        line-height: 40px;
    }

    .wrapper h1 {
        font-size: 40px;
    }

    .wrapper h2 {
        font-size: 36px;
    }

    .wrapper h3 {
        font-size: 28px;
    }
}

@media (max-width: 767px) {
    .title {
        font-size: 36px;
        line-height: 36px;
    }

    .wrapper h1 {
        font-size: 36px;
    }

    .wrapper h2 {
        font-size: 28px;
    }

    .wrapper h3 {
        font-size: 18px;
    }

    .wrapper h4 {
        font-size: 16px;
    }
}

.articlesContainer {
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    padding-bottom: 20px;
    width: 100%;
}

.row {

}

@media (max-width: 1425px) {
    .articlesContainer {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media (max-width: 1000px) {
    .articlesContainer {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}