.offer-link:hover {
    text-decoration: none;
}

.text-row-table {
    white-space: pre-line;
}

.offer-wrapper {
    position: relative;
    min-width: 375px !important;
}

.offer-link {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.button-container {
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin-block: 2px;
}

.name-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 80px;
}