.dialog {
    height: fit-content;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.buttons {
    display: flex;
    gap: 10px;
    width: 100%;
    justify-content: flex-end;
}

.buttons > button:last-child {
    width: 70%;
}

.buttons > button:first-child {
    width: 30%;
}