.status {
    display: flex;
    gap: 3px;
}

.status > svg {
    margin-top: 2px;
}

.delete {
    color: var(--text-link);
    cursor: pointer;
}

.delete:hover {
    color: var(--text-link-hover);
}