.form-control-error {
    border-color: var(--main-font-color-error) !important;
}

.form-control {
    font-size: 13px !important;
    color: inherit !important;
    border: hidden !important;
}

.form-control ::-webkit-outer-spin-button, ::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.form-control [type=number] {
    -moz-appearance: textfield;
}

.form-control:focus {
    border-color: var(--main-color) !important;
    border: 1px !important;
    box-shadow: none !important;
    outline: 0 none !important;
}

.input-group-addon-sm {
    height: calc(1.5em + 1rem + 4px);
    padding: .25rem .5rem;
    line-height: 2;
    border-radius: .2rem;
}