.accordion {
    background-color: var(--color-white);
    box-shadow: 0 1px 0 -1px rgba(0,0,0,0.2), 0 1px 1px 0 rgba(0,0,0,0.14), 0 1px 3px 0 rgba(0,0,0,0.12);
}

.icon {
    font-size: 25px;
}

.link {
    display: flex;
    gap: 7px;
    align-items: center;
}

.linkText {
    margin-top: 7px;
}