.input-group-addon-eye {
    padding: 8px 8px 7px 8px;
    line-height: 2.4;
    border: 1px solid rgb(196, 196, 196);
    border-radius: 4px;
    margin-left: 2px;
    cursor: pointer;
}

.text-box {
    min-width: 100% !important;
}

.text-box > div:first-child {
    min-width: calc(100% - 37px);
}