.buttons {
    display: flex;
    gap: 5px;
}

.actions {
    display: flex;
    height: 33px;
    align-items: center;
    gap: 5px;
}

.editIcon {
    padding-top: 1px;
}

.tooltip {
    cursor: pointer;
}

@media screen and (max-width: 800px) {
    .actions {
        justify-content: flex-end;
    }
}