.header {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 15px;
    align-items: end;
    margin-bottom: 15px;
}

@media (max-width: 1400px) {
    .header {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media (max-width: 1000px) {
    .header {
        grid-template-columns: 1fr;
    }
}