.main {
    padding: 0;
}

.publish-url {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
    text-decoration: none !important;
    text-wrap: wrap;
}

.publish_web > div {
    display: block;
    text-align: left !important;
    margin-left: 0 !important;
    max-width: 80px !important;
}

.publish_web {
    max-width: 80px !important;
}

.errorUser {
    color: #A94442;
}

.col-wrapper > * {
    margin-bottom: 16px;
}

.errorDescription {
    max-height: 150px;
    overflow: auto;
}