.table-container {
    padding: 20px 0;
}

.copy-icon {
    color: #337ab7 !important;
    cursor: pointer;
    border: 0;
    margin: 0;
    padding: 0;
    background-color: transparent;
}

.copy-icon:hover,
.copy-icon:focus {
    color: #23527c !important;
    outline: 0 !important;
    box-shadow: none !important;
}

.backupPathContainer {
    border: 0 !important;
    width: 100% !important;
    background-color: transparent !important;
}

.backupPathContainer:hover,
.backupPathContainer:focus {
    outline: 0 !important;
    box-shadow: none !important;
}

.alert-wrapper {
    padding: 20px 0;
    font-family: 'Roboto', Helvetica, Arial, 'Open Sans' !important;
    font-size: 13px;
}

.alert-msg {
    font-family: inherit !important;
    padding: 15px;
    background-color: #dff0d8;
    border: 1px solid #d6e9c6;
    font-size: 13px;
    border-radius: 4px !important;
}

.alert-text {
    color: #3c763d !important;
}

.btn {
    padding: 6px 12px !important;
    font-size: 14px !important;
}

.btn-wrapper {
    margin: 20px 0 !important;
}
