.tab-wrapper {
  border-bottom: 1px solid #e5e5e5;
  font-family: 'Roboto', serif !important;
}

.tabItem {
  text-decoration: none !important;
  font-size: 14px !important;
  font-family: 'Roboto', serif !important;
  font-weight: 500;
}

.tabItem-active {
  outline: none !important;
}

.tabItem-active-dark {
  background-color: #f8f9fa;
}

.tabItem-active :hover {
  cursor: pointer !important;
}

.tab-item-refresh-button {
  padding: 0 !important;
  min-width: 0 !important;
}

.tab-content {
  padding-top: 16px;
}
