.custom-database-auto-update-performed > tbody > tr > td:nth-child(9) {
    justify-content: center !important;
    display: flex !important;  
}

.custom-database-auto-update-performed > tbody > tr > td:nth-child(8) {
    white-space: normal !important;
    word-break: break-word !important;
}

@media screen and (max-width: 800px) {
    .custom-database-auto-update-performed > tbody > tr > td:nth-child(9) {
        justify-content: unset !important;
        display: block !important;  
    }
}