.generate-jwt-button {
  padding: 0 5px !important;
  margin: 2px !important;
  min-width: auto !important;
}

.generate-jwt-button svg {
  width: 18px !important;
}

.json-view-jwt {
  resize: none !important;
  background-color: #fff !important;
}

.json-view-data-table {
  width: 100% !important;
  font-size: 13px;
}

.json-view-data {
  vertical-align: top;
  padding: 2px 3px;
}

.json-view-data_hr__separator {
  margin-top: 0;
  margin-bottom: 0;
}
