﻿.сropper-logo-one .cropper-view-box {
    box-shadow: 0 0 0 1px #39f;
    border-radius: 50%;
    outline: 0;
}
.сropper-logo-one .cropper-face {
    background-color: inherit !important;
}
.сropper-logo-one .cropper-view-box {
    outline: inherit !important;
}

.cropper-upload-content-box {
    background: #FFFFFF;
    border: 1px solid #C9C9C9;
    width: 350px;
    height: 350px;
}

.cont-size500 {
    width: 500px;
    height: 500px;
    float: left;
}

.preview-content-img {
    width: 64px !important;
    height: 64px !important;
}

.img-preview {
    width: 64px !important;
    height: 64px;
    border-radius: 50%;
}