.control {
    width: 270px;
}

.element {
    width: 270px;
}

.error {
    display: flex;
    justify-content: center;
    padding-block: 10px;
    color: var(--main-font-color-error);
    border-radius: 5px;
    border: 1px solid var(--main-font-color-error);
}

.navigationElement {
    display: flex;
    flex-direction: row;
    gap: 5px;
    flex-wrap: wrap;
}

.navigationContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.searchButton {
    width: 270px;
}

.searchInput {
    width: 270px;
}

.checkBoxFormWidth {
    min-width: fit-content !important;
}

.footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.footer > button {
    width: 125px;
}

.container {
    display: flex;
    gap: 15px;
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;
}

.header > div {
    width: 100%;
}

.quickSort {
    display: flex;
    gap: 32px;
    align-items: flex-end;
}

@media screen and (max-width: 380px){
    .element {
        width: 100%;
    }

    .searchButton {
        width: 100%;
    }

    .navigationElement {
        width: 100%;
    }
}