.custom-table > tbody > tr > td:nth-child(1) {
    white-space: normal !important;
    word-break: break-word !important;
}

.print-error-message {
    font-family: 'Roboto', Helvetica, Arial, 'Open Sans'!important;
    background-color: #f8f9fa !important;
    font-size: 13px !important;
    color: #676a6c !important;
    text-align: center !important;
}
a {
    color: inherit;
}