.container {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3,1fr);
    align-items: end;
    margin-bottom: 20px;
}

.container > button {
    grid-column: 3;
}

@media (max-width: 1120px) {
    .container {
        grid-template-columns: repeat(2,1fr);
    }

    .container > button {
        grid-column: 2;
    }
}

@media (max-width: 860px) {
    .container {
        grid-template-columns: repeat(1,1fr);
    }

    .container > button {
        grid-column: 1;
    }
}