.link {
    display: block;
    padding: 10px 15px;
}

.link:hover {
    background-color: var(--link-hover);
    cursor: pointer;
}

.accordion {
    background-color: var(--background-dialog);
    box-shadow: 0 1px 0 -1px rgba(0,0,0,0.2), 0 1px 1px 0 rgba(0,0,0,0.14), 0 1px 3px 0 rgba(0,0,0,0.12);
}

.accordionSummary {
    max-height: auto;
}

.accessButton {
    padding-left: 24px !important;
    padding-right: 24px !important;
}

.searchField {
    align-self: flex-start;
}

.check {
    min-width: auto;
}