.wrapper {
    display: flex;
    gap: 16px;
    justify-content: flex-end;
    margin-top: 16px;
    text-align: right;
}

.link {
    color: var(--text-link);
    font-weight: 400;
    cursor: pointer;
    padding: 0 !important;
}

.link:hover {
    color: var(--text-link-hover);
}

.button {
    width: fit-content;
}