.side-bar__collapsible-menu-icon {
    margin-right: 9px;
}

.side-bar__collapsible-menu-expander {
    float: right;
}

.side-bar__collapsible-menu-link {
    display: block;
    padding: 14px 20px 14px 25px;
    cursor: pointer;
}

.side-bar__collapsible-menu_container {
    color: var(--main-font-color-light);
}

.side-bar__collapsible-menu_container:hover,
.side-bar__collapsible-menu--expanded {
    background-color: var(--left-side-menu-color);
    color: var(--color-white);
}

.side-bar__collapsible-menu {
    padding: 0 0 10px;
    margin: 0;
    list-style: none;
    font-size: 13px;
    position: relative;
}

.side-bar__collapsible-menu-item--open {
    background-color: var(--left-side-menu-color);
}
