.custom-table-wrapper tr {
    height: 20px !important;
    font-size: 16px;

}

.custom-table-wrapper tr {
    line-height: 1rem !important;
    margin-bottom: -5px;
}

.custom-table-wrapper th {
    height: 25px !important;
    font-size: 16px;
    line-height: 1rem !important;
}

.custom-table-wrapper table {
    max-width: 95%;
    margin: 0 auto
}

.alert-wrapper {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
    gap: 20px;
}

@media screen and (max-width: 380px) {
    .alert-wrapper {
        flex-wrap: wrap;
    }

    .alert-wrapper > * {
        width: 100%;
    }
}

.btn {
    padding: 6px 12px !important;
    font-size: 14px !important;
}

.box-auth {
    background-color: #DFF0D8;
    padding: 14px;
    font-size: 13px;
    box-shadow: 0 1px 0 -1px rgba(0,0,0,0.2), 0 1px 1px 0 rgba(0,0,0,0.14), 0 1px 3px 0 rgba(0,0,0,0.12);
}

.box-auth > div {
    color: #3C763D;
}

.check {
    display: inline;
}

.searchField {
    align-self: flex-start;
}

.wrapper-filter {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 16px;
}

.wrapper-filter-archive {
    display: flex;
    align-items: center;
    gap: 16px;
}

.tryService {
    color: var(--main-color);
    cursor: pointer;
}

.tryService:hover {
    color: var(--main-color-dark);
}

@media screen and (max-width: 800px) {
    .wrapper-filter-archive {
        flex-wrap: wrap;
    }
}

.wrapper-filter-archive > button {
    margin: 0 0 0 16px !important;
}

.wrapper-filter-item {
    flex: 1 1 auto;
}

.search-user-eternal {
    padding-bottom: 15px;
}

.input-backup-path {
    margin-right: 10px;
    display: block;
    width: 370px;
    color: transparent;
    text-shadow: 0 0 0 black;
    border: none;
}

.dropdown {
    position: absolute !important;
    z-index: 10000;
    box-shadow: 0 0 3px rgb(86 96 117 / 70%);
    border-radius: 3px;
    background-color: white;
}

.archival-btn {
    padding: 0 !important;
    margin: 0 auto !important;
    height: 30px !important;
    min-width: 32px !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.root {
    position: relative !important
}

.linkDb {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    background-color: white;
}

.linkDb:hover {
    text-decoration: none;
    font-weight: 500;
    background-color: #e7eaec;
    cursor: pointer;
}