.form-check-input {
    position: initial;
    margin: 0;
    height: auto !important;
    padding: 0 !important;
}

.form-check-input-small {

}

.form-check-input-small > svg {
    height: 18px;
    width: 18px;
}

.caption {
    padding-left: 3px;
    position: relative;
    top: -2px;
}
