.accordion {
    margin: 20px 0;
    border: 1px solid #e7eaec;
    background-color: var(--color-white);
    border-radius: 3px;
}

.accordion::after {
    background-color: var(--color-white);
}

.label1C {
    color: var(--text-link);
    font-size: 28px;
    padding: 10px;
}

.label1C a {
    color: var(--text-link);
    font-size: 13px;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.5s;
}

.label1C a:hover {
    color: var(--text-link-hover);
    transition: all 0.5s;
}

.label1C i {
    padding: 5px;
}

.labelWindows a {
    font-size: 24px !important;

    padding: 10px 0;
}

.labelWindows {
    border-bottom: 1px solid #e7eaec;
    border-top: 1px solid #e7eaec;
}

.labelWindows i {
    padding: 0 10px 0 0;
}

.label1CGrid {
    padding-top: 15px;
}

.search-button {
    width: fit-content;
    min-height: 30px !important;
}

.myinfoDb {
    margin-bottom: 20px;
    margin-top: 10px;
}

.check {
    display: inline;

}

.check > div {
    margin-bottom: 1px !important;
}

.root {
    position: relative !important
}

.dropdown {
    position: absolute !important;
    top: 100% !important;
    z-index: 100;
    box-shadow: 0 0 3px rgb(86 96 117 / 70%);
    border-radius: 3px;
}

.linkDb {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    background-color: var(--color-white);
}

.linkDb:hover {
    text-decoration: none;
    color: black;
    font-weight: 500;
    background-color: var(--border-color-elements);
}

.button-delete-outline {
    width: 150px;
}

.container-delete-btn {
    margin-top: 10px;
    margin-bottom: 12px
}

.isNotActive1C {
    color: var(--main-font-color-error);
    border: 1px solid #ffd7d7;
    background: var(--alert-color-error);
    border-radius: 3px;
    height: 45px;
    display: flex;
    padding-left: 15px;
    align-items: center;
    width: 100%;
}

.isNotActive1C > a:hover {
    text-decoration: none;
}

.runDb {
    color: #337AB7 !important
}

.runDb:hover {
    text-decoration: none;
}

.header {
    min-height: 80px;
    display: flex;
    align-items: center;
    margin-bottom: 24px;
    position: relative;
}

.button {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4px;
}

.info-icon {
    position: absolute;
    right: 22px;
    top: 0;
}

@media screen and (max-width: 480px) {
    .button {
        flex-direction: column;
    }

    .button > button {
        max-width: 100%;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .header > div {
        width: 100%;
    }

}

.header > div {
    min-height: 80px;
    min-width: 110px;
}

.custom-table-wrapper tr {
    height: 35px !important;
}

.warning-icon-container {
    width: 80px;
    height: 80px;
    border-width: 4px;
    border-style: solid;
    border-color: rgb(238, 162, 54);
    border-radius: 50%;
    margin: 20px auto;
    position: relative;
    box-sizing: content-box;
    animation: 0.75s ease 0s infinite alternate none running pulseWarning;
}

.warning-icon-circle {
    position: absolute;
    width: 5px;
    height: 47px;
    left: 50%;
    top: 10px;
    border-radius: 2px;
    margin-left: -2px;
    background-color: rgb(240, 173, 78);
    animation: 0.75s ease 0s infinite alternate none running pulseWarningIns;
}

.warning-icon-dot {
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    margin-left: -3px;
    left: 50%;
    bottom: 10px;
    background-color: rgb(240, 173, 78);
    animation: 0.75s ease 0s infinite alternate none running pulseWarningIns;
}

@-webkit-keyframes pulseWarningIns {
    0% {
        background-color: #f8d486;
    }
    100% {
        background-color: #f8bb86;
    }
}

@keyframes pulseWarningIns {
    0% {
        background-color: #f8d486;
    }
    100% {
        background-color: #f8bb86;
    }
}

.pulseWarningIns {
    -webkit-animation: pulseWarningIns 0.75s infinite alternate;
    animation: pulseWarningIns 0.75s infinite alternate;
}

@-webkit-keyframes pulseWarning {
    0% {
        border-color: #f8d486;
    }
    100% {
        border-color: #f8bb86;
    }
}

@keyframes pulseWarning {
    0% {
        border-color: #f8d486;
    }
    100% {
        border-color: #f8bb86;
    }
}

.pulseWarning {
    -webkit-animation: pulseWarning 0.75s infinite alternate;
    animation: pulseWarning 0.75s infinite alternate;
}

.notHidden {
    visibility: visible;
}

.timer {
    margin-left: 8px;
}

@media screen and (max-width: 380px) {
    .icon {
        display: none;
    }
}