table.super-responsive-table {
    font-family: 'Roboto', Helvetica, Arial, 'Open Sans', serif !important;
    font-size: 13px !important;
    border-collapse: collapse;
}

table.super-responsive-table .table-cell {
    vertical-align: middle;
    padding: unset 8px unset unset;
}

.table-header {
    font-family: 'Roboto', Helvetica, Arial, 'Open Sans', serif !important;
    font-weight: 600 !important;
}

table.super-responsive-table .table-header-cell {
    font-weight: 600 !important;
    font-family: 'Roboto', Helvetica, Arial, 'Open Sans', serif !important;
    color: #676a6c !important;
    font-size: 13px !important;
    border-bottom: 2px #e7eaec solid !important;
    cursor: default;
    text-align: left;
    padding-right: 15px;
}

.table-header-notwrap {
    white-space: nowrap !important;
}

table.super-responsive-table .table-body-cell {
    font-size: 13px !important;
    color: var(--main-font-color);
    font-weight: 400;
}

table.super-responsive-table .pointer {
    cursor: pointer;
}

table.super-responsive-table .historical-row {
    background: darkgrey !important;
}

table.super-responsive-table-bordered tbody tr {
    border-bottom: 1px solid #e7eaec !important;
    height: 35px;
}

table.super-responsive-table tbody tr:hover {
    background-color: var(--background-color-elements);
}

.table-body-cell-bordered {
    border-bottom: 1px solid #e7eaec !important;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 15px;
}

@media screen and (max-width: 800px) {
    table.super-responsive-table {
        border: 0 !important;
    }

    table.super-responsive-table tbody tr {
        box-shadow: 4px 4px 32px 0 rgba(34, 60, 80, 0.2);
    }

    table.super-responsive-table-bordered tbody tr {
        border: 2px solid #e7eaec !important;
        border-bottom: 1px solid #e7eaec !important;
        box-shadow: none;
        height: auto;
    }

    table.super-responsive-table-bordered tbody tr td {
        line-height: 33px;
        align-items: center;
    }

    table.super-responsive-table-bordered tbody tr td > * {
        line-height: 33px;
        align-items: center;
        justify-content: flex-end;
    }

    table.super-responsive-table td.hidden {
        display: none !important;
    }

    table.super-responsive-table-bordered tbody tr td span {
        text-align: right !important;
    }

    table.super-responsive-table caption {
        font-size: 1.3em !important;
    }

    table.super-responsive-table thead {
        border: none !important;
        clip: rect(0 0 0 0) !important;
        height: 1px !important;
        margin: -1px !important;
        overflow: hidden !important;
        padding: 0 !important;
        position: absolute !important;
        width: 1px !important;
    }

    table.super-responsive-table tr {
        display: block !important;
    }

    table.super-responsive-table td {
        display: block !important;
        font-size: .8em !important;
        text-align: right !important;
        padding-right: 5px !important;
        line-height: 33px;
        overflow-wrap: break-word;
    }

    table.super-responsive-table td::before {
        content: attr(data-label) !important;
        line-height: inherit;
        float: left !important;
        font-weight: 600 !important;
        font-family: 'Roboto', Helvetica, Arial, 'Open Sans', serif !important;
        color: var(--main-font-color) !important;
        font-size: 13px !important;
        padding: 0 5px;
    }

    table.super-responsive-table td:last-child {
        border: 0 !important;
    }

    table.super-responsive-table td:first-child button {
        padding: 0 !important;
    }
}