.form {
    max-width: 900px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.date {
    width: 100%;
}

.files {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.maskDisabled {
    -webkit-text-fill-color: var(--disabled-color);
    opacity: 1;
    transition-duration: 0.2s;
}

.maskDisabled:active {
    pointer-events: none;
}

.maskDisabled:hover, .maskDisabled:focus {
    border-color: var(--main-color);
}

.checkboxView {
    display: flex;
    gap: 50px;
    align-items: center;
}

.checkbox {
    display: flex;
    flex-direction: row-reverse;
    min-width: fit-content !important;
    align-items: center;
}

.checkbox > label > span {
    font-weight: normal;
}

.checkbox > label {
    padding-top: 1px;
}