.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
}

.info {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
}

.achievements {
    width: 150px;
    height: 150px;
}

@media screen and (max-width: 440px){
    .achievements {
        width: 90px;
        height: 90px;
    }
}

.formAndLabel > div {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-top: 5px;
}

.editButton {
    width: fit-content;
}