.top-side-bar {
    border-bottom: 1px solid #e7eaec;
    background-color: #fff;
    padding-inline: 40px 10px;
    padding-block: 5px;
    font-family: 'Roboto', serif !important;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 2;
    min-height: 35px;
    align-items: stretch;
}

.top-side-bar__menu {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 15px;
    flex-wrap: nowrap;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

.tour {
    color: rgb(130, 130, 153);
    cursor: pointer;
    font-size: 20px;
    padding-top: 2px;
    padding-inline: 3px;
}

.icon {
    color: rgb(130, 130, 153);
    cursor: pointer;

    &:hover {
        color: var(--text-link-hover);
        text-decoration: none;
    }

    & > i {
        font-size: 20px;
        padding-top: 5px;
        padding-inline: 3px;
    }
}
