.modal {
    font-family: 'Roboto', Helvetica, Arial, 'Open Sans', serif;
    font-size: 13px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 30px;
    align-items: center;
    padding: 25px 30px 15px 30px !important;
    border-radius: 3px;
}

.bigModal {
    max-width: 960px !important;
}

.modal > div {
    gap: 40px;
}

.modal > div button[data-testid="button-view"] {
    font-weight: 700 !important;
    width: 100px;
}

.modal button[data-tour-elem="right-arrow"], .modal button[data-tour-elem="left-arrow"] {
    margin: 0;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 0;
    width: 0;
}