.customAccordion {
    border: 1px solid var(--border-color-elements);
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: none;
    color: var(--main-font-color);
}

.customAccordionSummary {
    background-color: var(--background-color-elements);
    border-radius: 4px 4px 0 0;
    border-bottom: 1px solid var(--border-color-elements);
}

.customSelect {
    min-width: 100px;
    height: 40px;
    font-size: 13px;
}

.selectIndustries {
    width: 100%;
    height: 40px;
    font-size: 13px;
}

.item {
    width: 25%;
}

.itemBig {
    width: 50%;
}

.extendServiceItem {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.serviceItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.serviceItem div {
    font-size: 13px;
}

.billingContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.selectValue_box {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%
}

.selected {
    height: auto;
    font-size: 13px;
    border-radius: 5px;
    border: 1px solid var(--main-color);
    background: var(--color-white);
    box-sizing: border-box;
    min-width: 50px;
    padding-left: 5px;
    color: var(--main-font-color);
}

.tableHeader {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.divider {
    border: none;
    height: 1px;
    background: var(--border-color-elements);
}

.customAccordionDetails {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.billingButtonGroup button {
    height: 38px;
    font-size: 14px;
    font-weight: bold;
    text-transform: none;
}

.connectionContainer span {
    color: var(--main-font-color);
    font-size: 13px;
}

.infoSection {
    display: flex;
    flex-direction: column;
    background: #f9f9f9;
    color: var(--main-font-color-error);
    font-size: 14px;
    font-weight: bold;
    margin-bottom: -10px;
    width: fit-content;
}

.billingInfo {
    display: flex;
    flex-direction: column;
    gap: 5px;
}