.container button {
    width: fit-content;
}

.container {
    border: 1px solid #c2c2c2;
    border-radius: 5px;
    flex: 0 0 200px;
    flex-wrap: wrap;
    color: #676a6c;
}

.container label {
    font-size: 14px;
    font-weight: bold;
}

.textarea > div {
    padding: 4px 0 5px;
}

.cardHeader {
    border-bottom: 1px solid #c2c2c2;
    padding-block: 7px;
    padding-left: 10px;
    background: #eee;
    border-radius: 5px 5px 0 0;
}

.container__checkbox {
    display: flex;
    gap: 5px;
    align-items: center;
}

.config {
    height: 25px;
    font-size: 13px;
    border-radius: 5px;
    border: 1px solid #1ab394;
    background: #fff;
    box-sizing: border-box;
    width: 250px;
    padding-left: 5px;
    color: #676a6c;
}

.cardBody {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
}