.chip {
    color: var(--color-white);
}

.vipText {
    color: gold;
}

.demoText {
    font-weight: bold;
    color: #00a0c6;
}

.serviceName {
    display: flex;
    flex-direction: column;
}

.warningText {
    color: var(--warning-color);
}