.fileSection {
    border: 1px dashed var(--border-color-elements);
    border-radius: 4px;
}

.fileContainer {
    border: 1px solid var(--border-color-elements);
    border-radius: 4px;
    background: var(--background-color-elements);
    margin: 10px;
    max-width: fit-content;
}

.fileContainer_topBlock {
    border-radius: 4px 4px 0 0;
    padding-block: 4px;
    padding-inline: 15px;
}

.fileContainer_bottomBlock {
    background: var(--color-white);
    border-radius: 0 0 5px 5px;
    padding-block: 4px;
    padding-inline: 15px;
    display: flex;
    gap: 5px;
    align-items: center;
}

.fileContainer_bottomBlock > span {
    color: #009bcf;
}

.icon {
    color: #009bcf;
    font-size: 18px;
    cursor: pointer;
}

.icon:hover {
    color: #0193c4;
}

.cardContainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}

.cardContainer > div {
    flex: 1 1 auto;
}

.cardContainer > div > div {
    background-color: var(--background-color-elements);
}