.btn-group {
    display: flex;
    min-height: 35px;
    flex-wrap: wrap;
    gap: 2px;
}

.btn-group > button {
    border-radius: 3px;
}

@media screen and (max-width: 460px){
    .btn-group > button {
        width: 100%;
    }
}

.btn {
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-radius: 0;
}