.separateChart > div {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.serversResources > div {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.commonInfoList > div > div {
    border: 1px solid #e7eaec;
    padding: 6px;
    overflow: auto;
}

.commonInfoList > div:nth-child(2n) {
    background: #f9f9f9;
}

.summaryInfoList {
    margin: 15px 0;
}

.summaryInfoList > div:last-of-type {
    display: grid;
    grid-template-columns: auto 1fr;
}

.summaryInfoList > div:last-of-type > div > div {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.summaryInfoList > div:last-of-type > div > div > span {
    border: 1px solid #e7eaec;
    padding: 6px;
}

.summaryInfoList > div:last-of-type > div > div:nth-child(2n) {
    background: #f9f9f9;
}