/* IE10+ */
.DatePickerControl input::-ms-clear {
  display: none !important;
}

/* Chrome */
.DatePickerControl input::-webkit-search-decoration,
.DatePickerControl input::-webkit-search-cancel-button,
.DatePickerControl input::-webkit-search-results-button,
.DatePickerControl input::-webkit-search-results-decoration {
  display: none !important;
}
