.min-date-control {
  width: 243px !important;
  display: inline-block !important;
}

.calendar-icon-container {
  position: relative !important;
  height: 0 !important;
  text-align: right !important;
  bottom: -25px !important;
  right: 10px !important;
  z-index: 0 !important;
}
.calendar-icon-container i {
  cursor: default !important;
}
