.addButton {
    height: 35px;
}

.linkDb {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    background-color: var(--color-white);
    color: var(--main-font-color);
    font-size: 13px;
}

.linkDb:hover {
    text-decoration: none;
    color: var(--main-font-color);
    background-color: var(--border-color-elements);
}

.delete {
    max-width: 240px;
}