.block-wrapper {
    border: 1px solid #e3e3e3;
    background: #f5f5f5;
    border-radius: 4px;
    padding: 19px 
}

.table-wrapper {
    margin: 20px 0 ;   
}

.table-wrapper > div {
    display: grid;
    grid-template-columns: repeat(3, calc(100% / 3));
}

.table-wrapper > div:first-of-type {
    background: #f9f9f9;
}

.table-wrapper > div > p {
    border: 1px solid #e7eaec;
    padding: 8px;
}

.table-wrapper > div > div {
    border: 1px solid #e7eaec;
    padding: 8px;
}

.form-wrapper > div {
    display: grid;
    grid-template-columns: 1fr 2fr;
    border-top: 1px solid #e7eaec;
    padding: 8px;
}

