.timeTable {
    border: 1px solid var(--main-color);
    border-radius: 5px;
    box-shadow: none;
    margin: 0 !important;
}

.timeTableSummary {
    height: 20px;
    min-height: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
}

.timeTableSummary > div {
    justify-content: center;
    padding-top: 5px;
    text-align: center;
}

.timeTable__container {
    font-size: 13px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-wrap: wrap;
}

.timeTable__container > button {
    width: auto;
    margin-inline: 20% !important;
}

.timeTable__input {
    background: var(--background-color-elements);
    border: 1px solid var(--border-color-elements);
    transition-duration: 0.2s;
    box-sizing: border-box;
    height: 25px;
    font-size: 13px;
    color: var(--main-font-color);
    border-radius: 5px;
    width: 70px;
}

.timeTable__input > input:hover, .timeTable__input > input:focus {
    border: 1px solid var(--main-color);
}

.timeTable__checkbox {
    min-width: 40px !important;
}

.timeTable__checkbox > label span {
    font-weight: normal;
}

.timeTable__formRepeat {
    display: grid;
    gap: 5px;
    grid-template-columns: 2fr 1fr .5fr;
    align-items: center;
}

.timeTable__formTime {
    display: grid;
    gap: 5px;
    grid-template-columns: 3fr 2fr;
    align-items: center;
}

.selectValue_box {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%
}

.selected {
    height: 25px;
    font-size: 13px;
    border-radius: 5px;
    border: 1px solid var(--main-color);
    background: var(--color-white);
    box-sizing: border-box;
    width: 250px;
    padding-left: 5px;
    color: var(--main-font-color);
}

.select {
    padding-block: 8px;
}