@media screen and (min-width: 460px) {
    .container {
        min-width: 250px;
    }
}

.wideContainer {
    width: 100%;
}

.label {
    white-space: pre-wrap;
    margin: 0;
    font-family: inherit;
    color: inherit;
    font-size: inherit;
    padding: 0;
}