.instructionFileContainer {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.uploadedInstructionContainer {
    border: 1px dashed black;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    padding-block: 10px;
    align-items: center;
    flex-direction: column;
}

.openIcon {
    cursor: pointer;
}

.iconsContainer {
    display: flex;
    gap: 10px;
}

.iconsContainer :hover {
    color: var(--main-color);
    transition-duration: 0.2s;
}