.error-container-1 {
  position: relative;
  height: 0;
  font-family: inherit;
  font-size: 13px;
}

.error-container-2 {
  margin: 0 5px;
  height: 0;
  text-align: right;
}

.error-container-3 {
  position: relative;
  top: -7px;
  border: 1px solid gray;
  border-radius: 5px;
  display: inline-block;
  background-color: floralwhite;
  z-index: 3;
}

.error-content {
  font-size: 11px;
  padding: 5px;
  height: 0;
  color: maroon;
}
