.dialog-window.fixed-stretch .MuiDialog-scrollPaper {
  align-items: stretch !important;
}

.dialog-window.fixed-start .MuiDialog-scrollPaper {
  align-items: flex-start !important;
}

.dialog-window.fixed-center .MuiDialog-scrollPaper {
  align-items: center !important;
}

.dialog-window.fixed-end .MuiDialog-scrollPaper {
  align-items: flex-end !important;
}
