label {
    font-size: 13px;
    font-weight: bold;
}

.buttonContainer {
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: flex-end;
    margin-top: 8px;
}

.buttonContainer button {
    width: 90px;
}

.commentSection {
    font-size: 13px;
    width: 100%;
    height: 100px;
}

.dialog {
    height: fit-content;
}

.serviceInfoContainer {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    gap: 20px;
}

.title {
    font-size: 16px;
}

.divider {
    border: none;
    background: var(--border-color-elements);
    height: 1px;
    margin-bottom: 15px;
}