.top-side-bar__menu_item {
    padding-block: 2px;
}

.top-side-bar__menu_item:last-child {
    margin: auto 25px auto 0;
    padding-right: 0;
}

.top-side-bar__menu_item--link{
    color: var(--text-link);
    display: -webkit-box;
    word-break: break-all;
    overflow: hidden;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.top-side-bar__menu_item--link:hover{
    color: var(--text-link-hover);
    text-decoration: none;
}