.MuiTableBody-root > .MuiTableRow-root:hover {
  background-color: rgb(235, 235, 235);
}

.MuiTableCell-sizeSmall {
  padding: 0 10px !important;
}

tr.table-row-highlight-on-hover:hover {
  background-color: rgb(235, 235, 235);
}
