.table {
  font-family: inherit !important;
  font-size: 13px !important;
  border-collapse: initial;
}

.table-cell {
  vertical-align: middle;
  height: 35px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.table-header-cell {
  font-weight: 600 !important;
  font-family: 'Roboto', Helvetica, Arial, 'Open Sans', serif !important;
  color: #676a6c !important;
  font-size: 13px !important;
  border-bottom: 2px #e7eaec solid !important;
  white-space: nowrap;
  cursor: default;
}

.wrap-table-header-cell{
  white-space: normal!important;
}

.pointer {
  cursor: pointer;
}

.cell-no-wrap {
  white-space: nowrap;
}

.cell-wrap-all {
  word-break: break-all;
}

.table-body-cell {
  font-size: 13px !important;
}

.table-body-row {
  background-color: transparent;
}
/*
tr.table-body-row:nth-child(even) {
  background-color: #f2f2f2;
}*/
