.warning-icon-container {
    width: 80px;
    height: 80px;
    border-width: 4px;
    border-style: solid;
    border-color: rgb(238, 162, 54);
    border-radius: 50%;
    margin: 20px auto;
    position: relative;
    box-sizing: content-box;
    animation: 0.75s ease 0s infinite alternate none running pulseWarning;
}

.warning-icon-circle {
    position: absolute;
    width: 5px;
    height: 47px;
    left: 50%;
    top: 10px;
    border-radius: 2px;
    margin-left: -2px;
    background-color: rgb(240, 173, 78);
    animation: 0.75s ease 0s infinite alternate none running pulseWarningIns;
}

.warning-icon-dot {
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    margin-left: -3px;
    left: 50%;
    bottom: 10px;
    background-color: rgb(240, 173, 78);
    animation: 0.75s ease 0s infinite alternate none running pulseWarningIns;
}

@-webkit-keyframes pulseWarningIns {
    0% {
        background-color: #f8d486;
    }
    100% {
        background-color: #f8bb86;
    }
}

@keyframes pulseWarningIns {
    0% {
        background-color: #f8d486;
    }
    100% {
        background-color: #f8bb86;
    }
}

.pulseWarningIns {
    -webkit-animation: pulseWarningIns 0.75s infinite alternate;
    animation: pulseWarningIns 0.75s infinite alternate;
}

@-webkit-keyframes pulseWarning {
    0% {
        border-color: #f8d486;
    }
    100% {
        border-color: #f8bb86;
    }
}

@keyframes pulseWarning {
    0% {
        border-color: #f8d486;
    }
    100% {
        border-color: #f8bb86;
    }
}

.pulseWarning {
    -webkit-animation: pulseWarning 0.75s infinite alternate;
    animation: pulseWarning 0.75s infinite alternate;
}

.sa-warning {
    border-color: #f8bb86 !important;
}

.sa-icon {
    width: 80px !important;
    height: 80px !important;
    border: 4px solid gray !important;
    -webkit-border-radius: 40px !important;
    border-radius: 40px !important;
    border-radius: 50% !important;
    margin: 20px auto !important;
    padding: 0 !important;
    box-sizing: content-box !important;
}

.sa-body {
    position: absolute !important;
    width: 5px !important;
    height: 47px !important;
    left: 50% !important;
    top: 10px !important;
    -webkit-border-radius: 2px !important;
    border-radius: 2px !important;
    margin-left: -2px !important;
    background-color: #f8bb86 !important;
}

.sa-dot {
    position: absolute !important;
    width: 7px !important;
    height: 7px !important;
    -webkit-border-radius: 50% !important;
    border-radius: 50% !important;
    margin-left: -3px !important;
    left: 50% !important;
    bottom: 10px !important;
    background-color: #f8bb86 !important;
}

.sweet-alert-title {
    color: #575757 !important;
    font-size: 30px !important;
    text-align: center !important;
    font-weight: 600 !important;
    text-transform: none !important;
    position: relative !important;
    margin: 25px 0 !important;
    padding: 0 !important;
    line-height: 40px !important;
    display: block !important;
}

.sweet-alert-body {
    color: #797979 !important;
    font-size: 16px !important;
    text-align: center !important;
    font-weight: 300 !important;
    position: relative !important;
    float: none !important;
    margin: 0 !important;
    padding: 0 !important;
    line-height: normal !important;
}

.sweet-alert-button {
    margin: 0 5px !important;
    padding: 10px 32px !important;
    font-size: 17px !important;
    color: #fff !important;
}

.sweet-alert-button-yes {
    background-color: rgb(221, 107, 85) !important;
}

.sweet-alert-button-yes:hover {
    background-color: rgb(212, 103, 82) !important;
}
