.serviceImage {
    object-fit: cover;
    width: 250px;
    height: 140px;
}

.serviceImageClick:hover {
    -webkit-filter: grayscale(100%);
    cursor: pointer;
}

.serviceImageClick {
    object-fit: cover;
    width: 250px;
    height: 140px;
    -webkit-filter: grayscale(0%);
    transition-duration: 0.3s;
}

.uploader {
    border: 1px dashed rgb(201, 201, 201);
    width: 250px;
    height: 140px;
    align-items: center;
    cursor: pointer;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    transition-duration: 0.1s;
}

.uploader:hover {
    border: 1px dashed #1ab394;
    transition-duration: 0.2s;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

.serviceTemplate {
    width: 250px;
    height: 140px;
    border: 1px solid rgb(201, 201, 201);
    background-color: #f5f5f5;
}