.smallText {
    font-size: 12px;
}

.imagePreview {
    height: 180px !important;
    width: 180px !important;
    border: 1px dashed rgb(201, 201, 201);
    overflow: hidden;
    background-color: #f5f5f5;
}

.cropper {
    border: 1px dashed rgb(201, 201, 201);
    background-color: #f5f5f5;
    width: 300px;
    height: 300px;
}

.cropper > img {
    opacity: 1 !important;
    width: 300px !important;
    position: relative;
}

.cropper > img[alt]:after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f5f5f5;
    font-weight: 300;
    line-height: 2;
    text-align: center;
    content: '';
}

.container {
    display: flex;
    gap: 8px;
}

.imagePreviewContainer {
    width: 180px;
    height: 280px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.imagePreviewContainer button {
    width: inherit;
}

.imagePreviewContainer label {
    margin-bottom: 0;
}