﻿
    .b3 {
        width: 360px;
        position: relative;
        left: -42px;
    }
    .c3 {
        float: left;
        margin-left: 6px;
    }
    .f3 {
        border-right: 2px solid #e5e5e5;
        float: left;
        padding-right: 15px;
        text-align: right;
        width: 164px;
    }
    .h3 {
        display: inline-block;
        text-align: center;
    }
    .g3 {
        color: #f3d346;
        display: block;
        font-size: 24px;
        font-weight: bold;
    }

    .d3 {
        color: #555;
        display: block;
        font-size: 24px;
        font-weight: bold;
    }
    .clearfix {
        clear: both;
    }

    .tooltip-item-title {
        color: #333;
        font-weight: bold;
        font-size: 15px;
        margin-top: 5px;
    }
    .tooltip-item-size-value {
        text-align: left;
        font-size: 14px;
        font-weight: bold;
    }
    .tooltip-item-AvailableSize {
        font-size: 12px;
        font-weight: bold;
        color: #000000;
        float: right;
    }
    .tooltip-items {
            
    }
        .tooltip-items p {
            clear: both;
            height: 20px;
            margin-bottom: 5px !important;
        } 
        .tooltip-items .box {
            width: 10px;
            height: 10px;
            float: left;
            margin: 5px 5px 0 0;
        } 
    .tooltip-items .text {
        float: left
    } 
    .tooltip-items .size {
        float: right 
    } 
    .plan .name-plan {
        
    }
    .arrow_box {
        position: relative;
        background: #fff;
        border: 2px solid #bdbdbd;
    }

        .arrow_box:after, .arrow_box:before {
            right: 100%;
            top: 50%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
        }

        .arrow_box:after {
            border-color: rgba(255, 255, 255, 0);
            border-right-color: #fff;
            border-width: 5px;
            margin-top: -5px;
        }

        .arrow_box:before {
            border-color: rgba(189, 189, 189, 0);
            border-right-color: #bdbdbd;
            border-width: 8px;
            margin-top: -8px;
        }
    .label-plans {
        float: left;
        font-size: 14px;
        font-weight: bold;
    }
    .label-value {
        float: left;
        font-size: 14px;
        font-weight: bold;
    }
    .disk-layout {
        float: left;
        width: 260px;
        margin-bottom: 15px;
    }