﻿.disk-page-header {
    float: left;
    position: relative;
    right: -100px;
    top: -33px;
}

.plans {
    float: left;
    margin-bottom: 15px;
    margin-left: 15px;
}

/* STYLES */

.plans > .item {
    background: #f5f5f5;
    border: 2px solid #e5e5e5;
    border-radius: 5px;
    float: left;
    height: 270px;
    margin-right: 10px;
    padding: 0 10px;
    text-align: center;
    width: 140px;
}

.plans > .item:last-child { margin-right: 0; }

.plans > .item.active { border: 2px solid #aaa; }

.plans > .item > h4 {
    font-size: 20px;
    font-weight: 100;
    height: 50px;
    margin: 20px 0 0 0;
}

.plans > .item > p {
    color: #888888;
    font-size: 17px;
    margin-top: 5px;
}

.plans > .item > .buttom {
    font-size: 13px;
    margin-top: 120px;
}

.plans > .item > .buttom.active { margin-top: 58px; }

.plans .previous {
    background: url('../../img/arrow_gd.png') no-repeat top left;
    float: left;
    height: 32px;
    margin: 120px 15px 0 0;
    width: 17px;
}

.plans .next {
    background: url('../../img/arrow_gd.png') no-repeat top right;
    float: left;
    height: 32px;
    margin: 120px 0 0 15px;
    width: 17px;
}

.plans .active-to {
    float: left;
    margin-right: 3px;
}

.plan { clear: both; }

.plan .name-plan { float: left; }

.tariff-disk {
    float: left;
    width: 590px;
    margin-left: 18px;
}
.tariff-disk .current-range {
    margin-top: 50px;
}

.tariff-disk-block-dafault-state {
    display: none !important
}