.container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.headerFilters, .footer {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.footer {
    justify-content: space-between;
}

.header {
    gap: 15px;
    align-items: flex-end;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.pagination {
    display: flex;
    justify-content: space-between;
}

.chip {
    color: var(--color-white);
}

.footer > button {
    height: 35px;
}

.form {
    min-width: 10vw !important;
}

.formDatePicker {
    min-width: 15vw !important;
}

.button {
    height: 35px;
    width: 6vw;
}

@media (max-width: 1100px) {
    .headerFilters, .header {
        flex-direction: column;
        width: 100%;
        gap: 20px;
    }

    .form, .formDatePicker {
        min-width: 100% !important;
    }

    .button {
        width: 100%;
    }
}