﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
    color: #364042;
    font-size: 14px;
    line-height: 25px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

pre.wrapped {
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    white-space: pre-wrap;
}

.sample-header {
    background: #76B8DB;
    color: #FFFFFF;
    padding: 3px 8px;
    border-bottom: none;
    display: inline-block;
}

.sample-content {
    display: block;
    border-width: 0;
    background: #FFFFFF;
    margin: 0px 0px 10px 0px;
}

#leftsidemenu {
    float: left;
    padding-top: 70px;
    transition: all .5s ease;
}

#leftsidemenu a {
    color: #364042;
    word-break: break-all;
}

#leftsidemenu ul {
    margin: 25px 0 0 0;
    padding: 0;
}

.ControllerMenu li {
    padding-left: 15px !important;
}

#leftsidemenu li {
    padding: 10px 0;
    margin: 0;
    border-top: 1px solid #ccc;
    text-indent: 0;
    line-height: 15px;
    list-style-type: none;
}

.menuswitcher {
    text-decoration: none !important;
    cursor: pointer;
}

.navi-controller {
    text-decoration: none !important;
    cursor: pointer;
}

.go_to {
    text-decoration: none !important;
    cursor: pointer;
}

.anichange a {
    list-style-type: none;
}

.title-text {
    text-align: center;
    font-size: 35px;
    color: #747474;
    margin-bottom: 33px;
    line-height: 35px;
}

.color-g {
    color: #747474;
}
.f-s-12 {
    font-size: 12px;
}

.f-s-10 {
    font-size: 10px;
}

.m {
    margin: 15px;
}

.m-xs {
    margin: 5px;
}

.m-sm {
    margin: 10px;
}

.m-md {
    margin: 20px;
}

.m-lg {
    margin: 30px;
}

.m-xl {
    margin: 50px;
}

.m-n {
    margin: 0 !important;
}

.m-l-none {
    margin-left: 0;
}

.m-l-two {
    margin-left: 2px;
}

.m-l-xs {
    margin-left: 5px;
}

.m-l-sm {
    margin-left: 10px;
}

.m-l {
    margin-left: 15px;
}

.m-l-md {
    margin-left: 20px;
}

.m-l-lg {
    margin-left: 30px;
}

.m-l-xl {
    margin-left: 40px;
}

.m-l-55 {
    margin-left: 55px;
}

.m-l-n-xxs {
    margin-left: -1px;
}

.m-l-n-xs {
    margin-left: -5px;
}

.m-l-n-sm {
    margin-left: -10px;
}

.m-l-n {
    margin-left: -15px;
}

.m-l-n-md {
    margin-left: -20px;
}

.m-l-n-lg {
    margin-left: -30px;
}

.m-l-n-xl {
    margin-left: -40px;
}

.m-t-none {
    margin-top: 0;
}

.m-t-xxs {
    margin-top: 1px;
}

.m-t-xs {
    margin-top: 5px;
}

.m-t-sm {
    margin-top: 10px;
}

.m-t {
    margin-top: 15px;
}

.m-t-md {
    margin-top: 20px;
}

.m-t-lg {
    margin-top: 30px;
}

.m-t-xl {
    margin-top: 40px;
}

.m-t-n-xxs {
    margin-top: -1px;
}

.m-t-n-xs {
    margin-top: -5px;
}

.m-t-n-sm {
    margin-top: -10px;
}

.m-t-n {
    margin-top: -15px;
}

.m-t-n-md {
    margin-top: -20px;
}

.m-t-n-lg {
    margin-top: -30px;
}

.m-t-n-xl {
    margin-top: -40px;
}

.m-r-none {
    margin-right: 0;
}

.m-r-xxs {
    margin-right: 1px;
}

.m-r-xs {
    margin-right: 5px;
}

.m-r-sm {
    margin-right: 10px;
}

.m-r {
    margin-right: 15px;
}

.m-r-md {
    margin-right: 20px;
}

.m-r-lg {
    margin-right: 30px;
}

.m-r-xl {
    margin-right: 40px;
}

.m-r-n-xxs {
    margin-right: -1px;
}

.m-r-n-xs {
    margin-right: -5px;
}

.m-r-n-sm {
    margin-right: -10px;
}

.m-r-n {
    margin-right: -15px;
}

.m-r-n-md {
    margin-right: -20px;
}

.m-r-n-lg {
    margin-right: -30px;
}

.m-r-n-xl {
    margin-right: -40px;
}

.m-b-none {
    margin-bottom: 0;
}

.m-b-xxs {
    margin-bottom: 1px;
}

.m-b-xs {
    margin-bottom: 5px;
}

.m-b-s {
    margin-bottom: 7px
}

.m-b-ss {
    margin-bottom: 11px;
}

.m-b-sm {
    margin-bottom: 10px;
}

.m-b {
    margin-bottom: 15px;
}

.m-b-md {
    margin-bottom: 20px;
}

.m-b-lg {
    margin-bottom: 30px;
}

.m-b-xl {
    margin-bottom: 40px;
}

.m-b-n-xxs {
    margin-bottom: -1px;
}

.m-b-n-xs {
    margin-bottom: -5px;
}

.m-b-n-sm {
    margin-bottom: -10px;
}

.m-b-n {
    margin-bottom: -15px;
}

.m-b-n-md {
    margin-bottom: -20px;
}

.m-b-n-lg {
    margin-bottom: -30px;
}

.m-b-n-xl {
    margin-bottom: -40px;
}

.action-name {
    color: #FFD205;
    font-size: 16px;
}

.l-h-12 {
    line-height: 12px;
}

.highlighted {
    border: 1px solid #CCC;
    border-radius: 6px;
    padding: 7px;
    background-color: #f5f5f5;
}

.relative-path {
    color: #364042;
    border-bottom: 1px solid #FFD205;
    text-decoration: none !important;
}
.relative-path:hover {
    color: rgba(244,67,54,0.8);
}
.requestParameterToogle {
    display: none;
    border: 1px solid #CCC;
    padding: 10px;
}

.toogle-param {
    font-size: 12px;
    cursor: pointer;
}