.uploader > label {
    border: 1px dashed var(--border-color-elements);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    flex-direction: column;
    text-align: center;
    padding-block: 30px;
    font-size: 14px;
    font-weight: bold;
    color: var(--main-font-color);
    transition-duration: 0.2s;
}

.uploader > label:hover {
    border: 1px dashed var(--main-color);
}

.image {
    display: block;
    margin: auto;
}

.uploadedFile {
    transition-duration: 0.2s;
    border: 1px solid var(--border-color-elements);
    border-radius: 7px;
    padding: 10px;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.uploadedFile:hover {
    border: 1px solid var(--main-color);
}

.uploadedFileContainer {
    justify-content: center;
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    gap: 5px;
    flex-wrap: wrap;
    font-size: 12px;
}

.hidden {
    display: none;
    transition-duration: 1s;
}