.mainContainer label {
    font-size: 14px;
    font-weight: bold;
}

.cardHeader{
    display: flex;
}

.cardView {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
}

.dialog {
    height: fit-content;
}

.cardDescription {
    display: flex;
    flex-direction: column;
    padding-left: 12px;
    overflow-wrap: anywhere;
    font-size: 14px;
}

.serviceActionButtons {
    padding: 12px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.tableContainer tr > td {
    height: 35px;
}

.tableContainer td > div {
    width: fit-content;
}

.loading {
    font-size: 13px;
    font-weight: bold;
    color: rgba(255, 165, 0, 100) !important;
    text-transform: none;
    width: max-content;
}

.loading > div {
    position: initial;
}

.tableElement {
    color: var(--main-font-color);
}

.bold {
    font-weight: bold;
}

.logo {
    height: 250px;
    width: 250px;
    object-fit: cover;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid var(--border-color-elements);
}

.button {
    height: 40px;
    width: 150px;
}