.notificationWrapper {
    border-radius: 4px;
    padding: 15px 0;
    box-shadow: rgba(122, 133, 153, 0.25) 0 5px 15px;
    background: var(--color-white);
    text-align: start;
}

.wrapElement {
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
    overflow: auto;
}

.logo {
    width: 60px;
    padding-top: 16px;
}

.empty {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.empty img {
    width: 200px;
}