.configsContainer {
    border: 1px solid var(--border-color-elements);
    border-radius: 4px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    min-height: 35px;
    align-items: center;
    padding-inline: 5px;
}

.chip {
    color: var(--main-font-color);
}