.filter-view {
    margin-top: 0;
    margin-bottom: 25px;
}

.delete-row-button,
.modify-row-button {
    padding: 0 5px !important;
    margin: 2px !important;
    min-width: 33px !important;
    max-width: 33px !important;
    width: 33px !important;
    height: 30px !important;
}

.delete-row-button svg,
.modify-row-button svg {
    width: 22px !important;
}

.add-button {
    margin: 20px 0 0 0 !important;
}
