.search {
    min-width: 250px;
}

.checkbox {
    display: flex;
    gap: 2px;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.checkbox > label > span {
    font-weight: normal !important;
}