.main {
    padding: 0;
}

.publish-url {
    display: inline-block;
    width: 220px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
    text-decoration: none !important;
}

.col-wrapper > * {
    margin-bottom: 12px;
}