.check {
    display: flex;
    align-items: center;
}

.accessCheck {
    color: #1AB394;
}

.errorCheck {
    color: rgba(179, 26, 26, 0.64);
}

.custom-table thead {
    background: #e7eaec;
}

.loadToButton {
    margin: 0 8px;
}