.chip {
    font-size: 13px;
}

.delete {
    font-size: 14px;
}

.edit {
    font-size: 15px;
}

.actions i {
    cursor: pointer;
}

.checkbox {
    display: flex;
    gap: 10px;
}

.accordion {
    border-radius: 5px;
    border: 1px solid var(--border-color-elements);
    box-shadow: none;
}

.accordion > div {
    padding: 0 8px;
}

.accordion::before {
    height: 0;
}

.accordionError {
    border: 1px solid var(--main-font-color-error-dark);
}

.accordionSummary > div, .accordionSummary > div.Mui-expanded {
    align-items: center;
}

.hiddenHeader {
    height: 0;
    visibility: hidden;
    opacity: 0;
    transition: all 200ms ease-out;
}

.header {
    visibility: visible;
    opacity: 1;
    transition: all 200ms ease-out;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 15px;
    align-items: end;
    margin-bottom: 15px;
}

.header > button {
    grid-column: 4;
}

.button {
    width: fit-content;
}

.error {
    font-size: 12px;
    color: var(--main-font-color-error);
}

@media (max-width: 1400px) {
    .header {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .header > button {
        grid-column: 2;
    }
}

@media (max-width: 1000px) {
    .header {
        grid-template-columns: 1fr;
    }

    .header > button {
        grid-column: 1;
    }
}

@media screen and (min-width: 460px) {
    .formAndLabel {
        min-width: fit-content;
        font-size: 13px;
        display: flex;
        flex-direction: column;
    }
}