.file-uploader {
    font-size: 13px !important;
    display: flex !important;
    justify-content: space-between !important;
    padding: 0 !important;
    height: 40px;
}

.file-uploader-button {
    background: #1FB5AD;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 3px;
    box-shadow: 0 1px 0 rgb(255 255 255 / 20%) inset, 0 1px 2px rgb(0 0 0 / 5%);
    color: #fff;
    text-shadow: #1fb5ad 0 -1px 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    float: right;
    width: 100px;
    height: 40px;
    margin-right: 1px;
}

.input-label {
    background-color: #fff !important;
    padding: 0 6px !important;
    margin-left: -5px !important;
}

.file-uploader-button:hover {
    background: #16948d !important;
    text-shadow: #16948d 0 -1px 0 !important;
}

.input-text {
    border: none !important;
    outline: none !important;
}
.file-uploader,
.input-text:hover {
    cursor: pointer !important;
}

.inputUpload {
    height: 0;
    width: 0;
    padding: 0;
}

input[type=file]::file-selector-button {
    display: none;
}

.container {
    display: flex;
}
