.profiletimeline {
    position: relative;
    padding-left: 40px;
    margin: 10px 10px 0 30px;
}
.profiletimeline .sl-item {
    margin-top: 8px;
    margin-bottom: 30px;
    font-size: 13px;
}

.profiletimeline hr {
    box-sizing: content-box;
    height: 0;
    margin-top: 1rem;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
}
.profiletimeline .sl-left {
    float: left;
    margin-left: -60px;
    z-index: 1;
    margin-right: 15px;
}
.profiletimeline .sl-right {
    font-size: 13px;
}
.profiletimeline .sl-left img, .steamline .sl-left img {
    max-width: 40px;
}
.rounded-circle {
    border-radius: 50% !important;
}
.profiletimeline .sl-date {
    font-size: 12px;
    color: #a1aab2;
}
.sl-number-container {
    width: 40px;
    height: 40px;
    text-align: center;
    display: flex;
    align-items: center;
    background: #ffffff;
    border-radius: 80px;
    border: 1px solid #e9ecef;
}
.sl-number-container span {
    width: 40px;
    text-align: center;
}
.sl-thumbnail {
    width: 180px;
    cursor: pointer;
    margin-right: 5px;
}
.sl-title {
    font-size: 15px;
    margin-top: 20px !important;
    margin-bottom: 0 !important;
}