.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.header {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 15px;
    align-items: end;
    margin-bottom: 15px;
}

.header > button {
    grid-row: 2;
    grid-column: 3;
}

@media (max-width: 1400px) {
    .header {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .header > button {
        grid-row: 3;
        grid-column: 2;
    }
}

@media (max-width: 1000px) {
    .header {
        grid-template-columns: 1fr;
    }

    .header > button {
        grid-row: 5;
        grid-column: 1;
    }
}