.container {
    position: fixed;
    bottom: 0;
    right: 16px;
    z-index: 1;
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    background-color: rgba(255, 255, 255, 0.85);
    border: 1px solid #e1e1e1;
    padding: 5px;
    width: calc(100% - 314px);
}

.container > button {
    min-width: 125px;
}

@media (max-width: 770px) {
    .container {
        width: 100%;
        right: 0;
    }
}