.success {
    background-color: var(--main-color) !important;
    cursor: pointer;
}

.warning {
    background-color: var(--warning-color) !important;
    cursor: pointer;
}

.info {
    background-color: var(--info) !important;
    cursor: pointer;
}

.error {
    background-color: var(--main-font-color-error) !important;
    cursor: pointer;
}

.default {
    background-color: inherit !important;
    cursor: pointer;
}