﻿.config-logo {
    float: left;
    height: 36px;
    width: 40px;
}

.config-logo picture {
    position: relative;
    display: inline-block;
    width: 36px;
    height: 36px;
}

.config-logo picture svg {
    position: absolute;
    margin: auto;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 36px;
    height: auto;
    transition: .2s;
}

.config-logo.zoom-svg picture:hover svg,
.config-logo.zoom-svg picture svg.hovered {
    width: 40px;
    transition: .2s;
}

.config-logo.custom {
    background: url("../img/config-shop/chistiy-shablon.png") no-repeat;
}

.config-logo.recagency {
    background: url("../img/config-shop/kadrovoe-agentstvo.png") no-repeat;
}

.config-logo.roznica {
    background: url("../img/config-shop/roznica.png") no-repeat;
}
.config-logo.roznica-optika {
    background: url("../img/config-shop/roznica-optika.png") no-repeat;
}


.config-logo.unf14,
.config-logo.unf15 {
    background: url("../img/config-shop/upravleniye-nashey-firmoy.png") no-repeat;
    display: block;
}
    .config-logo.crm30, .config-logo.crm20 {
        background: url("../img/config-shop/crm.png") no-repeat;
    }

.config-logo.bp20,
.config-logo.bp20_corp,
.config-logo.bp30,
.config-logo.bp30_corp { background: url("../img/config-shop/buhgalteriya.png") no-repeat; }

.config-logo.zup,
.config-logo.zup30 { background: url("../img/config-shop/zarplata-i-upravleniye-personalom.png") no-repeat; }

.config-logo.ut11,
.config-logo.ut10 { background: url("../img/config-shop/upravleniye-torgovley.png") no-repeat; }

.config-logo.ca { background: url("../img/config-shop/kompleksnaya-automatizaciya.png") no-repeat; }


.account-database .drop-down-type,
.account-database .drop-down-path,
.account-database .drop-down {
    background-image: url(../img/filter_black.png);
    background-position: right;
    background-repeat: no-repeat;
    cursor: pointer;
    padding-left: 20px;
}

.account-database ul, .account-database li {
    margin: 0;
    padding: 0;
}

.account-database .drop-menu-main-type,
.account-database .drop-menu-main-path,
.account-database .drop-menu-main {
    height: 20px;
    position: relative;
}

.account-database .drop-menu-main-type li,
.account-database .drop-menu-main-path li,
.account-database .drop-menu-main li { float: left; }

.account-database .drop-menu-main-sub-type,
.account-database .drop-menu-main-sub-path,
.account-database .drop-menu-main-sub {
    background: #FFFFFF;
    border-radius: 6px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.45);
    display: none;
    min-width: 100px;
    padding: 10px;
    position: absolute;
    width: 255px;
    z-index: 100;
}

.account-database .drop-menu-main-sub-type a .account-database .drop-menu-main-sub-path a,
.account-database .drop-menu-main-sub a {
    color: #555555;
    cursor: pointer;
    display: block;
    font-size: 11px;
    padding: 6px 15px;
    text-decoration: none;
}

.account-database .drop-menu-main-sub-type a:hover,
.account-database .drop-menu-main-sub-path a:hover,
.account-database .drop-menu-main-sub a:hover {
    background: #155FB0;
    color: #FFFFFF;
    text-decoration: none;
}

.account-database li {
    display: block;
    list-style: none;
}

.account-database .drop-down-type,
.account-database .drop-down-path,
.account-database .drop-down { cursor: pointer; }

.account-database span.arrow { font-size: 8px; }

.text-my-infobases {
    font-size: 13px;
    margin-top: 15px !important;
    padding-bottom: 10px;
}

.header-sort-icon{
    cursor:pointer;
}

.header-sort-icon:after {
    -webkit-font-smoothing: antialiased;
    color: #337ab9;
    content: "\f0dc";
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    margin-left: 5px;
    text-rendering: auto;
}

.headerSortDown.header-sort-icon:after { content: "\f0dd" !important; }

.headerSortUp.header-sort-icon:after { content: "\f0de" !important; }

.account-database-full-info .tab-content h5 { margin-bottom: 1px !important }

.hiddenContainer { display: none }

input.account-database-backup-path {
    width: 370px;
    border: none;
    background: transparent;
}

.tab-account-database-fixed-height {
    width: 100% !important;
    overflow-x: hidden !important;
}

.text-edit-lable {
    margin-top: 6px;
}
.text-edit {
    border: transparent solid 1px !important;
    box-shadow: none !important;
    margin: 2px 0px 0px -8px;
    font-size: 13px !important;
    background-color: transparent !important;
}

.text-edit:hover {
    border: rgb(204, 204, 204) solid 1px !important;
    box-shadow: inset 0 0px 1px 0px rgba(0,0,0,0.075) !important;
}

.text-edit:focus {
    border-color: rgba(82, 168, 236, 0.8) !important;
    outline: 0  !important;
    outline: thin dotted \9 !important;
    /* IE6-9 */

    -webkit-box-shadow: inset 0 1px 1px 0px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6) !important;
    -moz-box-shadow: inset 0 1px 1px 0px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6) !important;
    box-shadow: inset 0 1px 1px 0px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6) !important;

}
.template-cfu-release-filter {
    margin-top: 9px;
    display: inherit;
    font-size: 12px;
}

.lable-for-template-db-create {
    display: block !important;
    margin: 0 !important;
    max-width: none !important;
    white-space: normal !important;
}
.container-flex-template-db-create {
    display: flex;
    align-items: center;
    height: 36px;
    padding: 0 0 0 8px;
}

.db-checkbox {
    width: 4%;
    vertical-align: middle !important;
}

.db-template-caption {
    width: 37%;
}

.db-template-with-cost-caption {
    width: 33%;
}

.db-demo-web-checkbox {
    width: 10%;
    text-align: center;
}

.db-creation-cost {
    width: 15%;
    text-align: center;
}

.uplouad-zip-steps {
    list-style: none;
    margin-bottom: 15px;
}
.uplouad-zip-steps li {
    display: inline-block;
    margin: 0 10px 0 0;
    padding: 30px;
    font-size: 40px;
    background: #f7f7f7;
    border-radius: 15px;
    border: 1px solid #e0e0e0;
    color: #737373;
    width: 110px;
    text-align: center;
    position: relative;
}
.uplouad-zip-steps li.active-step {
    background: #ffcf34;
    border: 1px solid #f3b900;
    color: #fbfcfe;
}
.uplouad-zip-steps li.success-step {
    background: #ddffdd;
    border: 1px solid #c1ecc1;
    color: #32b749;
    color: rgba(50, 183, 73, 0.6392156862745098);
}

.uplouad-zip-steps li:last-child {
    margin: 0;
}
.uplouad-zip-steps li:after {
    content: "\f105";
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    right: -10px;
    top: 50px;
    position: absolute;
    color: #ccc;
}
.uplouad-zip-steps li:last-child:after {
    content: "";
}

.profiletimeline {
    position: relative;
    padding-left: 40px;
    margin: 40px 10px 0 30px;
    border-left: 1px solid #e9ecef;
}
.profiletimeline .sl-item {
    margin-top: 8px;
    margin-bottom: 30px;
}

.profiletimeline hr {
    box-sizing: content-box;
    height: 0;
    margin-top: 1rem;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
}
.profiletimeline .sl-left {
    float: left;
    margin-left: -60px;
    z-index: 1;
    margin-right: 15px;
}
.profiletimeline .sl-right {

}
.profiletimeline .sl-left img, .steamline .sl-left img {
    max-width: 40px;
}
.rounded-circle {
    border-radius: 50% !important;
}
.profiletimeline .sl-date {
    font-size: 12px;
    color: #a1aab2;
}
.sl-number-container {
    width: 40px;
    height: 40px;
    text-align: center;
    display: flex;
    align-items: center;
    background: #ffffff;
    border-radius: 80px;
    border: 1px solid #e9ecef;
}
.sl-number-container span {
    width: 40px;
    text-align: center;
}
.sl-thumbnail {
    width: 180px;
    cursor: pointer;
    margin-right: 5px;
}
.sl-title {
    font-size: 15px;
    margin-top: 20px !important;
    margin-bottom: 0 !important;
}
.hide-modal-container .modal-content {
    background: none;
    border: none;
    box-shadow: none;
    text-align: center;
}
.hide-modal-container .modal-body {
    padding: 0 !important
}
.hide-modal-container .bootbox-close-button {
    display: none;
}
.sl-bigimage {
    max-width: 100%
}
.creation-timer-clock {
    display: block;
}
.creation-timer-value {
    color: #676a6c;
    font-size: 11px;
}
.creation-timer-icon {
    width: 16px;
}

@media only screen and (max-width: 360px) and (min-width: 320px) {
    .profiletimeline {
        margin: 40px 10px 0 -10px;
    }
}
.text-info-alt {
    color: #009900
}
.select2-results__option--highlighted .text-info-alt,
.select2-results__option--highlighted .text-danger-alt {
    color: #fff;
}
.text-danger-alt {
    color: #c70000
}

.deteil-db {
    margin-bottom: 10px;
    margin-top: 10px;
}

.row-fluid {
    margin-bottom: 10px;
}

.account-database-search-extensions-block label {
    width: 9% !important;
    margin-right: 2%;
    line-height: 18px !important;
}

.account-database-search-extensions-block input[type="text"] {
    width: 88% !important;
    line-height: 18px !important;
}

@media only screen and (max-width: 1441px) and (min-width: 1025px) {
    .account-database-search-extensions-block label {
        width: 15% !important;
        margin-right: 2%;
        line-height: 18px !important;
    }

    .account-database-search-extensions-block input[type="text"] {
        width: 82% !important;
        line-height: 18px !important;
    }
}

@media only screen and (max-width: 1024px) {
    .account-database-search-extensions-block {
        margin-top: 20px;
    }

    .account-database-search-extensions-block label {
        width: 7% !important;
        margin-right: 2%;
        line-height: 18px !important;
    }

    .account-database-search-extensions-block input[type="text"] {
        width: 90.5% !important;
        line-height: 18px !important;
    }
}

.account-database-search-extensions-filter a {
    line-height: 18px !important;
}

.ac-db-active-extension-name-color {
    color: #0e9aef;
}

.database_checkbox_control_block {
    display: block;
    position: relative;
    padding-left: 39px;
    margin-bottom: 20px;
    padding-top: 2px;
    cursor: pointer;
    font-weight: normal !important;
}

.database_checkbox_control_block input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.database_checkbox_control_block_row {
    position: absolute;
    top: 2px;
    left: 0;
    height: 20px;
    width: 20px;
    background: #e6e6e6;
    border: 0px solid #000000;
    border-radius: 0px;
}

.database_checkbox_control_block_header {
    position: absolute;
    top: 2px;
    left: 0;
    height: 20px;
    width: 20px;
    background: #fff;
    border: 0.5px solid #ede1e1;
    border-radius: 0px;
}

.database_checkbox_control_block:hover input ~ .database_checkbox_control_block_header {
    background: #e6e6e6;
}

.database_checkbox_control_block:hover input ~ .database_checkbox_control_block_row,
.database_checkbox_control_block input:focus ~ .database_checkbox_control_block_row {
    background: #cccccc;
}

.database_checkbox_control_block input:checked ~ .database_checkbox_control_block_header {
    background: #1ab394;
}

.database_checkbox_control_block input:checked ~ .database_checkbox_control_block_row {
    background: #1ab394;
}

.database_checkbox_control_block:hover input:not([disabled]):checked ~ .database_checkbox_control_block_row,
.database_checkbox_control_block input:checked:focus ~ .database_checkbox_control_block_row {
    background: #0e6647d;
}

.database_checkbox_control_block:hover input:not([disabled]):checked ~ .database_checkbox_control_block_header,
.database_checkbox_control_block input:checked:focus ~ .database_checkbox_control_block_header {
    background: #0e6647d;
}

.database_checkbox_control_block input:disabled ~ .database_checkbox_control_block_row {
    background: #0e6647d;
    opacity: 0.7;
    pointer-events: none;
}

.database_checkbox_control_block input:disabled ~ .database_checkbox_control_block_header {
    background: #0e6647d;
    opacity: 0.7;
    pointer-events: none;
}

.checkbox-control-create-db {
    padding-left: 23px !important;
    display: inline-block !important;
}

.database_checkbox_control_block_row:after {
    box-sizing: unset;
    content: '';
    position: absolute;
    display: none;
}

.database_checkbox_control_block_header:after {
    box-sizing: unset;
    content: '';
    position: absolute;
    display: none;
}

.database_checkbox_control_block input:checked ~ .database_checkbox_control_block_row:after {
    display: block;
}

.database_checkbox_control_block input:checked ~ .database_checkbox_control_block_header:after {
    display: block;
}

.database-page-checkbox .database_checkbox_control_block_row:after {
    left: 8px;
    top: 4px;
    width: 3px;
    height: 8px;
    border: solid #ffffff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.database-page-checkbox .database_checkbox_control_block_header:after {
    left: 8px;
    top: 4px;
    width: 3px;
    height: 8px;
    border: solid #ffffff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.table-fixed-wrapper {
    overflow-y: auto;
    max-height: 700px;
}

.table-fixed-wrapper th {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    z-index: 2;
    background: #f5f5f5;
    border-top: 1px solid #dcdcdc;
}

.p-b-7 {
    padding-bottom: 7px;
}

.btn-group.special-btn {
    display: flex;
}

.special-btn .btn {
    flex: 1
}

.line_height_20 {
    line-height: 20px !important;
}

.db-card-icon {
    min-height: 100px;
    padding: 0;
    min-width: 80px;
}

.db-card-icon .config-logo picture svg {
    width: 80px !important;
    position: static;
}

.db-card-action {
    font-size: 14px;
    padding: 8px;
    margin-right: 5px;
}

.db-card-action:hover {
    cursor: pointer;
    background-color: #e0e0e0;
    border-bottom: 2px solid #2f4050;
}

.db-card-action-disabled {
    font-size: 14px;
    padding: 8px;
    margin-right: 5px;
    cursor: no-drop;
}

.db-card-action-disabled > i {
    opacity: 0.4;
}

.delete-db-action {
    color: red;
}

.delete-db-action:hover {
    border-bottom: 2px solid red;
}

.pdn-0 {
    padding: 0
}

.whitespace-nw {
    white-space: nowrap
}

@media (min-width: 1360px) {
    .db-card-actions {
        margin: 20px auto 0;
    }
}

@media (max-width: 1360px) {
    .db-card-actions {
        margin: 10px auto 20px;
    }
}

.database-page-icons-fs {
     font-size: 20px !important;
}

.nav-justified > li.db-card-action {
    width: 100%;
    display: initial;
}

.db-card-actions .nav-justified > li {
    width: 0;
    display: table-cell;
}

.table-with-dropdown {
    overflow-x: visible;
}

.p-r-4 {
    padding-right: 4px;
}

.table-databases-info .thead-link-sort i {
    padding-left: 5px;
}

.table-databases-info .thead-link-sort {
    position: relative !important;
    padding-right: 15px !important;
    height: 42px !important;
    display: flex !important;
    align-items: center !important;
}

.table-databases-info tbody tr td {
    word-break: break-all;
}

.base-creation-options {
    width: 100%;
    font-size: 13px;
    min-width: auto !important
}

.word-break-k-a {
    word-break: keep-all !important;
}

@media (max-width: 1815px) {
    .base-creation-options a {
        overflow: hidden;
        text-overflow: ellipsis;
        overflow-wrap: break-word;
        word-break: break-word;
        white-space: normal !important;
    }
}

.dbAcesses-search-input {
    width: 56.2% !important;
}

@media (max-width: 1445px) {
    .dbAcesses-search-input {
        width: 75% !important;
    }
}

@media (max-width: 1025px) {
    .dbAcesses-search-input {
        width: 64% !important;
    }
}

@media (max-width: 769px) {
    .dbAcesses-search-input {
        width: 89% !important;
    }
}

@media (max-width: 1025px) {
    .dbCard-second-col {
        margin-left: -30px!important;
    }
}

@media (max-width: 769px) {
    .pdn-0-xs {
        padding: 0;
    }
}