﻿.create-agency-contract-header-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
    color: #7B7E82;
}

.create-agency-contract-footer-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    color: #7B7E82;
}

.button-block-right {
    display: block;
    text-align: right;
}

.agency-contract-type-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    color: #676A6C;
    min-height: 150px;
    max-height: 150px;
    overflow-y: auto;
}

.select2-selection__rendered {
    line-height: 31px !important;
}
.select2-container .select2-selection--single {
    height: 35px !important;
}
.select2-selection__arrow {
    height: 34px !important;
}

.padding-on-sides {
    padding-right: 15px;
    padding-left: 15px;
}

.indent-row {
    padding-left: 10px;
}

.title-field-contract {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;

    display: flex;
    color: #676A6C;
}

.p-b-5 {
    padding-bottom: 5px;
}

.f-w-5 {
    font-weight: 500;
}

.print-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500 !important;
    font-size: 14px !important;
    line-height: 15px !important;
    display: flex !important;
    color: #676A6C !important;
    padding: 7px 15px;
}

.print-text-disabled > .fa-print:before {
    content: "\f05e" !important;
}

.print-text-disabled {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500 !important;
    font-size: 14px !important;
    line-height: 15px !important;
    display: flex !important;
    color: #676A6C !important;
    opacity: 0.9 !important;
    padding: 7px 15px !important;
}

.print-padding {
    padding-left: 15px;
}

.icon-info-circle {
    padding-left: 5px;
}

.checkbox-double {
    margin-bottom: 0px !important;
    margin-top: 0px !important;
}

.checkbox label:after {
    content: '';
    display: table;
    clear: both;
}

.checkbox .cr {
    position: relative;
    display: inline-block;
    border: 1px solid #a9a9a9;
    border-radius: .25em;
    width: 1.3em;
    height: 1.3em;
    float: left;
    margin-right: .5em;
}

.checkbox .cr .cr-icon {
    position: absolute;
    font-size: .8em;
    line-height: 0;
    top: 50%;
    left: 15%;
}

.checkbox label input[type="checkbox"] {
    display: none;
}

.checkbox label input[type="checkbox"]+.cr>.cr-icon {
    opacity: 0;
}

.checkbox label input[type="checkbox"]:checked+.cr>.cr-icon {
    opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled+.cr {
    opacity: .5;
}

.validationMessage {
    color: #ab1b1b;
    display: block;
    text-align: left;
    margin-top: 5px;
    position: absolute;
}

.uploaded-file-preview-container {
    width: 100%;
    position: static;
}

.uploaded-file-preview-block {
    width: 100%;
    height: 70px;
    border: 1px solid #C9C9C9;
    border-radius: 10px;
}

.uploaded-file-preview-block-disabled {
    width: 100%;
    height: 70px;
    border: 1px solid #C9C9C9;
    border-radius: 10px;
}

.uploaded-file-preview-buttons {
    height: 100%;
    width: 20%;
    align-items: center;
    float: left;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 1s, opacity 1s linear;
}

.uploaded-file-button {
    font-size: 19px !important;
    color: #708090;
    position: relative;
    top: 25%;
}

.uploaded-file-button:hover {
    color: #000000;
}

.uploaded-file-preview-block:hover .uploaded-file-preview-buttons {
    opacity: 1;
    visibility: visible;
    transition: opacity 700ms linear;
} 


.uploaded-file-preview-description {
    height: 100%;
    width: 100%;
    align-items: center;
    float: left;
    border-radius: 10px;
}

.file-name-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 13px;
    color: #2F4F4F;
    word-break: break-all;
    text-align: center;
    width: 100%;
    height: 40%;
    padding: 7px 10px;
    background: #f8f9fa;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 1px solid #C9C9C9;
}

.description-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 13px;
    color: #52AAEF;
    word-break: break-all;
    text-align: center;
    width: 100%;
    height: 60%;
    padding: 5px 10px;
    overflow: hidden;
}

.uploaded-file-preview-image {
    height: 60%;
}

.fileContainer {
    overflow: hidden;
    position: relative;
}

.fileContainer [type=file] {
    cursor: inherit;
    display: block;
    filter: alpha(opacity=0);
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
}

.dropZone-narrow [type=file] {
    cursor: inherit;
    display: block;
    filter: alpha(opacity=0);
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
}

.dropZone-narrow-agency-contract {
    background: #FFFFFF;
    border: 1px solid #C9C9C9;
    border-radius: 10px;
    border-style: dashed;
    border-width: 2px;
    cursor: pointer;
    min-height: 140px;
}

.dropZone-narrow-disabled {
    background: #FFFFFF;
    border: 1px solid #C9C9C9;
    border-radius: 10px;
    border-style: dashed;
    border-width: 2px;
    cursor: pointer;
    min-height: 140px;
}

.dropZone-narrow-disabled [type=file] {
    cursor: inherit;
    display: block;
    filter: alpha(opacity=0);
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
}

.dropZone-narrow-agency-contract:hover {
    -webkit-box-shadow: inset 9px 9px 66px -3px rgba(94,97,99,0.13);
    -moz-box-shadow: inset 9px 9px 66px -3px rgba(94,97,99,0.13);
    box-shadow: inset 9px 9px 66px -3px rgba(94,97,99,0.13);
}

.dropZone-narrow-agency-contract [type=file] {
    cursor: inherit;
    display: block;
    filter: alpha(opacity=0);
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
}

.button-block {
    width: 20%;
    height: 100%;
    align-items: center;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto auto;
    visibility: collapse;
    opacity: 0;
    transition: visibility 0s 1s, opacity 1s linear;
}

.inner-button-top {
    position: absolute;
    width: 50%;
    height: 50%;
    right: 0;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 50%;
}

.inner-button-bottom {
    position: absolute;
    width: 50%;
    height: 50%;
    left: 0;
    border-radius: 50%;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
}

.inner-button-center {
    position: absolute;
    width: 100%;
    height: 50%;
    left: 0;
    border-radius: 50%;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
}

.uploaded-file-preview-block:hover .button-block {
    opacity: 1;
    visibility: visible;
    transition: opacity 700ms linear;
}

.uploaded-file-preview-block:hover .uploaded-file-preview-description {
    opacity: 0.4;
    transition: opacity 700ms linear;
}

.p-l-3 {
    padding-left: 3px;
}

.p-r-3 {
    padding-right: 3px;
}