﻿ul { padding-left: 0; }

.hero-unit {
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    background-color: #eeeeee;
    border-radius: 6px;
    color: inherit;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 30px;
    padding: 20px;
}

.logo-element img { width: 40px; }

.text-error { color: #a94442; }

span.mini_mini_mini {
    color: red;
    font-size: 10px;
    position: relative;
    top: -7px;
}

.current-balance-icon {
    height: 65px;
    margin-right: 10px;
    width: 65px;
}

.link { color: #4eaaef }

.spinner-control input[type="number"] { width: 50px; }

.spinner-control span a { margin: 0 7px; }

.skin-1 .nav > li > a:hover { color: #0e9aef; }

.navbar { min-height: 40px !important; }

.navbar-top-links li a {
    min-height: 40px !important;
    padding: 10px !important;
}

.disable-mask:before {
    background: rgba(238, 238, 238, 0.68);
    color: transparent;
    content: "DISABLED";
    height: 100%;
    min-width: 600px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 60;
}

.disable-mask { overflow: hidden; }

.disk-pie-chart svg { width: 100%; }

.onoffswitch-inner:before, .onoffswitch-inner:after { content: "" !important; }

.btn {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.large.tooltip-inner {
    min-width: 150px;
    width: 350px;
}

.two.tooltip { margin-top: 20px; }

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] { -moz-appearance: textfield; }

.nav-tabs > li > a { color: #0e9aef !important; }

.skin-1 .nav.nav-tabs > li.active > a { color: #555 !important; }

.navbar-default .navbar-nav > .active > a { background-color: transparent !important; }

.search-icon {
    background-color: #1ab394;
    border-color: #1ab394;
    color: #FFFFFF;
    margin-left: 5px;
}

.search-icon-white {
    background: white;
    border: 1px solid #e7eaec;
    color: inherit;
}

@media screen and (min-width: 769px) {
    .navbar-minimalize { display: none !important; }

    #secondLogo { display: none !important; }

    .navbar-left { margin-left: 20px !important; }
}


@media screen and (max-height: 640px) {
    .sweet-alert {
        height: calc(100vh - 20vh);
        overflow-y: scroll;
    }
}

.table-middle td, .table-middle th { vertical-align: middle !important; }

.m-top20 { margin-top: 20px !important; }

.m-top15 { margin-top: 15px !important; }

.m-top10 { margin-top: 10px !important; }

.m-t50 { margin-top: 50px !important;}

.m-t30 {
    margin-top: 30px !important;
}

.m-top5 { margin-top: 5px !important; }

.m-bot20 { margin-bottom: 20px !important; }

.m-bot15 { margin-bottom: 15px !important; }

.m-bot10 { margin-bottom: 10px !important; }

.m-bot5 { margin-bottom: 5px !important; }

/* Размеры шрифтов */

.fs10 { font-size: 10px !important; }

.fs11 { font-size: 11px !important; }

.fs12 { font-size: 12px !important; }

.fs13 { font-size: 13px !important; }

.fs14 { font-size: 14px !important; }

.fs15 { font-size: 15px !important; }

.fs16 { font-size: 16px !important; }

.fs17 { font-size: 17px !important; }

.fs18 { font-size: 18px !important; }

.fs19 { font-size: 19px !important; }

.fs20 { font-size: 20px !important; }

.fs21 { font-size: 21px !important; }

.fs22 { font-size: 22px !important; }

.fs23 { font-size: 23px !important; }

.fs24 { font-size: 24px !important; }

.fs25 { font-size: 25px !important; }

.fs26 { font-size: 26px !important; }

.fs27 { font-size: 27px !important; }

.fs28 { font-size: 28px !important; }

.fs29 { font-size: 29px !important; }

.fs30 { font-size: 30px !important; }

.fs31 { font-size: 31px !important; }

.fs32 { font-size: 32px !important; }

.fs33 { font-size: 33px !important; }

.fs34 { font-size: 34px !important; }

.fs35 { font-size: 35px !important; }

.fs36 { font-size: 36px !important; }

.fs37 { font-size: 37px !important; }

.fs38 { font-size: 38px !important; }

.fs39 { font-size: 39px !important; }

.fs40 { font-size: 40px !important; }

.fs60 { font-size: 60px !important; }

.tooltip-custom {
    position: relative;
}

.tooltip-custom:hover > .tooltip-custom-value {
    display: block;
}

.tooltip-custom-value {
    display: none;
    position: absolute;
    top: 0;
    margin-top: 22px;
    width: 170px;
    background: #2F4050;
    text-align: center;
    padding: 3px;
    font-size: 10px;
    left: -80px;
    border-radius: 4px;
    color: #fff;
    z-index: 100;
}

.tooltip-custom-value:after {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(47, 64, 80, 0);
    border-bottom-color: #2F4050;
    border-width: 5px;
    margin-left: -5px;
}

.tooltip-custom:hover > .tooltip-custom-value-t {
    display: block;
}

.tooltip-custom-value-t {
    display: none;
    position: absolute;
    top: 0;
    margin-top: 22px;
    width: 170px;
    background: #2F4050;
    text-align: center;
    padding: 3px;
    font-size: 10px;
    left: -45px !important;
    border-radius: 4px;
    color: #fff;
    z-index: 100;
    word-wrap: break-word;
}

.tooltip-custom-value-t:after {
    content: " ";
    position: absolute;
    top: 100%; 
    left: 70%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #2F4050 transparent transparent transparent;
}

.t-a-l {
    text-align: left;
}

.file_upload {
    position: relative;
    overflow: hidden;
    font-size: 1em;
    height: 34px;
    line-height: 2em
}

.file_upload > button {
    float: right;
    width: 5em;
    height: 100%
}

.file_upload > div {
    padding-top: 2.4px;
    padding-left: 1em
}

@media only screen and ( max-width: 500px ) {
    .file_upload > button {
        display: none
    }

    .file_upload > div {
        width: 100%
    }
}

.file_upload input[type=file] {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: scale(20);
    letter-spacing: 10em; /* IE 9 fix */
    -ms-transform: scale(20); /* IE 9 fix */
    opacity: 0;
    cursor: pointer
}

/* Making it beautiful */

.file_upload {
    border: 1px solid #e2e2e4;
    border-radius: 4px;
    transition: box-shadow 0.1s linear;
}

    .file_upload > button {
        background: #1FB5AD;
        transition: background 0.2s;
        border: 1px solid rgba(0,0,0,0.1);
        border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
        border-radius: 2px;
        box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
        color: #fff;
        text-shadow: #1FB5AD 0 -1px 0;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis
    }

    .file_upload:hover > button {
        background: #16948d;
        text-shadow: #16948d 0 -1px 0
    }

    .file_upload:active > button {
        background: #16948d;
        box-shadow: 0 0 3px rgba(0,0,0,0.3) inset
    }

.container_radio {
    display: flex;
    position: relative;
    margin: 10px;
    cursor: pointer;
    padding: 10px;
}

.container_radio input {
    position: relative;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #fff;
    border: 1px solid #1ab394;
    border-radius: 50%;
}

.container_radio input:checked ~ .checkmark {
    background-color: #fff;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container_radio input:checked ~ .checkmark:after {
    display: block;
}

.container_radio .checkmark:after {
    top: 4px;
    left: 4px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #1ab394;
}