﻿.billing-service-logo {
    max-height: 160px;
    height: 100%;
    width: 100%;
}
.table-info-billing-service-types {
    background: #f8f8f8;
    border: 1px solid #f1f1f1;
    border-radius: 4px;
    margin-top: 20px;
}
.thead-link-sort {
    cursor: pointer
}
.thead-link-label {
    font-weight: 600
}
.button-search-filter {
    width: 90px;
}
.pagination-accountusers-biilingservice {
    list-style-type: none;
    text-align: right;
    margin: 0;
    display: inline-block;
}
.pagination-accountusers-biilingservice li {
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 29px;
    border: 1px solid #d4d4d4;
    border-radius: 4px;
    margin-right: -2px;
    cursor: pointer
}
.pagination-accountusers-biilingservice li.active {
    background: #f1f1f1
}
.pagination-accountusers-biilingservice li:hover {
    background: #f8f8f8
}
.total-items {
    height: 30px;
    display: inline-block;
    line-height: 30px;
}
.hr-paginator {
    margin: 5px 15px;
}
.paginator-loader {
    margin-right: 7px;
}
.loader-switch-service {
    position: relative;
    top: -6px;
    margin: 0 3px;
}
.cost-switch-service {
    position: relative;
    top: -5px;
}
.account-users-template-name-td {
    width: 50%
}
.account-users-template-service-td {
    min-width: 200px
}
.basket-container {
    background: #fff;
    border: 1px solid #e1e1e1;
    border-radius: 4px;
    padding: 7px;
    bottom: 0px;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 1000;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.85);
    padding: 10px;
}
.basket-container button {
    margin-bottom: 0 !important
}
.billing-service-types-wf-600 th {
    font-weight: 600 !important
}
.sponsored-caption {
    color: red;
}
.sponsored-caption-green {
    color: green;
}
.btn-billing-service-subscription {
    padding: 15px !important;
    width: 100% !important;
    text-transform: uppercase;
}

@media only screen and (max-width: 800px) {
     #no-more-tables td:before {
         white-space: pre-line !important;
         line-height: 18px !important;
     }

     .padding-for-table {
         padding-top: 20px !important;
         padding-bottom: 20px !important;
     }

     .td-sponsorship {
         padding: 10px !important;
     }

     .td-sponsorship-button {
         width: 100% !important;
     }

     .tr-sponsorship {
         border: none !important;
     }
 }

.billing-service-logo-block {
    width: 64px;
    height: 64px;
    border-radius: 50%;
}

.myDatabasesServiceType-logo-block {
    width: 182px;
    height: 182px;
}

.min-h-350 {
    min-height: 350px;
}
.min-h-182 {
    min-height: 182px;
}

.installServiceExtensionText {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    display: flex;
    align-items: center;
    color: #3A4459;
}

.billing-service-install-extensions-table-header {
    background: #f5f5f5;
    border-top: 1px solid #dcdcdc;
}

.control {
    display: block;
    position: relative;
    padding-left: 39px;
    margin-bottom: 20px;
    padding-top: 2px;
    cursor: pointer;
    font-weight: normal !important;
}

.control input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.control_indicator {
    position: absolute;
    top: 2px;
    left: 0;
    height: 20px;
    width: 20px;
    background: #e6e6e6;
    border: 0px solid #000000;
    border-radius: 0px;
}

.control:hover input ~ .control_indicator,
.control input:focus ~ .control_indicator {
    background: #cccccc;
}

.control input:checked ~ .control_indicator {
    background: #1ab394;
}

.control:hover input:not([disabled]):checked ~ .control_indicator,
.control input:checked:focus ~ .control_indicator {
    background: #0e6647d;
}

.control input:disabled ~ .control_indicator {
    background: #e6e6e6;
    opacity: 0.6;
    pointer-events: none;
}

.control_indicator:after {
    box-sizing: unset;
    content: '';
    position: absolute;
    display: none;
}

.control input:checked ~ .control_indicator:after {
    display: block;
}

.service-page-checkbox .control_indicator:after {
    left: 8px;
    top: 4px;
    width: 3px;
    height: 8px;
    border: solid #ffffff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.service-page-checkbox input:disabled ~ .control_indicator:after {
    border-color: #7b7b7b;
}

.service-extention-text-table {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 15px;
    align-items: center;
    color: #3A4459;
}


.swal-custom-dialog {
    text-align: left;
}

.swal-custom-dialog .swal3B-content {
    padding: 0 10% 0 10% !important;
    word-break: break-word !important;
    word-wrap: break-word !important;
    margin-bottom: 35px !important;
}

.swal-custom-dialog .swal3B-footer {
    border-top: 2px solid #c7c6c6;
}

.modal-installServiceExtension .modal-body {
    overflow-y: auto;
    height: 80vh;
}