﻿.config-carousel-item {
    height: 25rem;
    padding: 1rem;
    width: 22rem;
    background: #FFFFFF;
    border: 0.5px solid #C9C9C9;
    box-sizing: border-box;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.25);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.selected-carousel-item {
    border: 0.5px solid #1AB394;
    box-shadow: 2px 2px 8px rgba(26, 179, 148, 0.34);
    -webkit-box-shadow: 2px 2px 8px rgba(26, 179, 148, 0.34);
    -moz-box-shadow: 2px 2px 8px rgba(26, 179, 148, 0.34);
}

.owl-item {
    margin-right: -25px;
}

.center-svg {
    margin-left: 25% !important;
    margin-right: 25% !important;
}

.carousel-config-logo {
    height: 65%;
    min-height: 65% !important;
}

.carousel-config-logo .config-logo picture svg {
    width: 110px !important;
    position: static;
}  