﻿.configuration-control { cursor: pointer; }

.configuration-control-text:after {
    content: "";
    position: absolute;
    right: 2%;
    top: 45%;
    vertical-align: middle;
    border-top: 4px solid #000000;
    border-right: 4px solid transparent;
    border-bottom: 0 dotted;
    border-left: 4px solid transparent;
    display: inline-block;
}

.configurations-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.control-group {
    display: inline-block;
    vertical-align: top;
    background: #fff;
    text-align: left;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 15px;
    width: 100%;
    height: 210px;
    overflow-y: scroll;
    scrollbar-width: thin;
}

.configurations-search {
    display: inline-block;
    vertical-align: top;
    background: #fff;
    text-align: left;
    width: 100%;
    padding: 5px;
}

.configurations-control-buttons {
    display: inline-block;
    vertical-align: top;
    background: #fff;
    text-align: left;
    width: 100%;
    padding: 15px;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.configurations-control-buttons a {
    line-height: 10px !important;
    font-size: 12px !important;
}

.control {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 15px;
    cursor: pointer;
}

.control input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.control__indicator {
    position: absolute;
    top: 0px;
    left: 0;
    height: 16px;
    width: 16px;
    background: #fff;
    border: 1px solid #ccc;
}

.control--checkbox .control__indicator { border-radius: 3px; }

.control--radio .control__indicator { border-radius: 50%; }

.control:hover input:not([disabled]) ~ .control__indicator,
.control input:focus ~ .control__indicator { border-color: #666; }

.control input:checked ~ .control__indicator { background: #fff; }

.control__indicator:after {
    content: '';
    position: absolute;
    display: none;
}

.control input:checked ~ .control__indicator:after { display: block; }

.control--checkbox .control__indicator:after {
    left: 5px;
    top: 0px;
    width: 5px;
    height: 12px;
    border: solid #34bb92;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.control--checkbox input:disabled ~ .control__indicator:after { border-color: #7b7b7b; }

.control--radio .control__indicator:after {
    left: 5px;
    top: 5px;
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background: #34bb92;
}

.select {
    position: relative;
    display: inline-block;
    margin-bottom: 15px;
    width: 100%;
}

.select select {
    display: inline-block;
    width: 100%;
    cursor: pointer;
    padding: 10px 15px;
    outline: 0;
    border: 0;
    border-radius: 0;
    background: #e6e6e6;
    color: #7b7b7b;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.select select::-ms-expand { display: none; }

.select select:hover,
.select select:focus {
    color: #000;
    background: #ccc;
}

.select__arrow {
    position: absolute;
    top: 16px;
    right: 15px;
    width: 0;
    height: 0;
    pointer-events: none;
    border-style: solid;
    border-width: 8px 5px 0 5px;
    border-color: #7b7b7b transparent transparent transparent;
}

.select select:hover ~ .select__arrow,
.select select:focus ~ .select__arrow { border-top-color: #000; }