﻿.sortTab {
    border-radius: 4px;
    float: left;
    margin-right: 10px;
    padding-left: 10px;
    display: flex;
    border: 1px solid #1ab394;
    padding-top: 10px;
    height: 80%;
    width: 95%;
}

.sortTab-segments {
    height: 93%;
}

.sortTab2 {
    margin-left: 10px;
    margin-right: 0px;
}

.sort_title {
    margin-bottom: 2px !important;
    padding: 10px 10px 0 10px;
}

.sort-lable {
    border-radius: 4px;
    float: left;
    display: flex;
    padding-top: 10px;
}

.sort-lable label {
    width: 220px;
}

.sort-lable2 {
    margin-left: 10px;
    margin-right: 0px;
}

.sortable-One, .sortable-Two {
    float: left;
    list-style-type: none;
    margin: 0;
    margin-right: 10px;
    min-height: 20px;
    padding: 5px 3px 10px 3px;
    width: 315px;
}

.sortable-One li, .sortable-Two li {
    cursor: pointer;
    font-size: 12px;
    margin: 0 5px 5px 5px;
    padding: 3px 10px;
}

.sortable-One li:hover, .sortable-Two li:hover {
    background-color: #1ab394;
    border-color: #1ab394;
    color: #fff;
}

.sort-table-block {
    float: left;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

.row-sortabale-list {
    background-color: #fff;
    border: 1px solid #1ab394;
    border-radius: 3px;
    color: #1ab394;
    word-break: break-all;
}

.row-sortabale-list-similar {
    background-color: #fff;
    border: 2px solid #3855e4;
    border-radius: 3px;
    color: #3855e4;
    word-break: break-all;
}

.sortable-One .row-sortabale-list-similar:hover, .sortable-Two .row-sortabale-list-similar:hover {
    background-color: #3855e4;
    border-color: #3855e4;
    color: #fff;
}

@media screen and (max-width: 1150px) {
    .sortTab2 {
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 10px;
    }
    .sort-table-block {
        flex-direction: column;
    }
    .sort-lable2 {
        margin-left: 0px;
    }
    .sortTab-container {
        width: 100% !important;
    }
    .sortTab-container-segments {
        width: 100% !important;
    }
}

.sortTab-conainer {
    
}

.sort-table-block .sortTab-container { width: 50%; }
.sort-table-block .sortTab-container-segments {
    width: 33%;
}
.table-segment .thead-link-sort i {
    position: absolute !important;
    right: 0 !important;
    top: 40% !important;
}

.table-segment .thead-link-sort {
    position: relative !important;
    padding-right: 15px !important;
    height: 42px !important;
    display: flex !important;
    align-items: center !important;
}

.table-segment tbody tr td {
    word-break: break-all;
}

.w-100-important {
    width: 100% !important;
}

.custom-sortable li {
    text-align: center !important;
}

.custom-sortable {
    width: 97% !important;
}