﻿/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 20px;
    margin-bottom: 0 !important;
    margin-top: 3px;
}

/* Hide default HTML checkbox */
.switch input {
    display: none;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ffffff;
    -webkit-transition: .4s;
    transition: .4s;
    border: 2px solid #1AB394;
    border-radius: 4px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: -2px;
    bottom: -2px;
    background-color: #ffffff;
    border: 2px solid #1AB394;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 4px 0 0 4px;
}

.switchbox input[type="checkbox"]:checked + input + .slider:before {
    left: 2px;
    border-radius: 0 4px 4px 0;
}

.switchbox input[type="checkbox"]:checked + input + .slider {
    background-color: #1AB394;
}

.switchbox input[type="checkbox"]:focus + input + .slider {
    box-shadow: 0 0 1px #1AB394;
}

.switchbox input[type="checkbox"]:checked + input + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
