@font-face {
  font-family: 'fontello';
  src: url('~/fonts/custom_icons/custom_icons.eot?85191149');
  src: url('~/fonts/custom_icons/custom_icons.eot?85191149#iefix') format('embedded-opentype'),
       url('~/fonts/custom_icons/custom_icons.woff2?85191149') format('woff2'),
       url('~/fonts/custom_icons/custom_icons.woff?85191149') format('woff'),
       url('~/fonts/custom_icons/custom_icons.ttf?85191149') format('truetype'),
       url('~/fonts/custom_icons/custom_icons.svg?85191149#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
 
 [class^="fa-custom"]:before, [class*=" fa-custom"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
 
  font-variant: normal;
  text-transform: none;
 
  line-height: 1em;
 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
 
.fa-custom-delans:before { content: '\e800'; } /* '' */
.fa-custom-kladovoy:before { content: '\e801'; } /* '' */
.fa-custom-sauri:before { content: '\e802'; } /* '' */
.fa-fa-custom-services:before {
    content: 'C';
    font-size: 19px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}