.dialog-title {
    padding: 35px 15px 30px !important;
    font-family: inherit !important;
    color: inherit !important;
    border-bottom: 1px solid #e5e5e5;
}

.dialog-title-small {
    padding-top: 15px !important;
    padding-bottom: 10px !important;
}

.dialog-title-content {
    font-family: inherit !important;
    text-align: center !important;
    font-size: 26px !important;
    font-weight: 600 !important;
    margin: 5px 0 0 0 !important;
}

.dialog-title-close-btn {
    float: right !important;
    font-size: 21px !important;
    color: #cccccc !important;
    text-shadow: 0 1px 0 #fff !important;
    background-color: transparent;
    filter: alpha(opacity=50);
    outline: 0 !important;
    padding: 0 6px !important;
    min-width: 0 !important;
    line-height: normal !important;
    margin: 0 !important;
    position: relative !important;
    top: -0.5em;
}

.dialog-title-close-btn-small {
    top: unset !important;
    height: 18px !important;
    padding: 0 3px !important;
}

.dialog-title-close-btn:hover {
    color: #000 !important;
    cursor: pointer;
    opacity: 0.5 !important;
    outline: 0 !important;
    box-shadow: none !important;
}

.dialog-actions {
    border-top: 1px solid #e5e5e5 !important;
}

.dialog-container {
    display: flex;
    gap: 5px;
}

.dialog-container > button {
    flex-grow: 1;
    min-width: 150px;
}

.dialog-content {
    padding: 20px !important;
    background-color: #f8f9fa !important;
}
