.container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.emailContainer, .buttonsContainer {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.footerContainer {
    display: flex;
    gap: 15px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.emailContainer > div, .emailContainer > button, .buttonsContainer > button {
    width: 175px;
    flex: 1 1 auto;
}

@media (max-width: 1000px) {
    .emailContainer > div, .emailContainer > button {
        min-width: 175px;
    }
}