.button {
  margin: 2px !important;
  text-transform: none !important;
  font-family: inherit !important;
  outline: none !important;
  border-radius: 4px !important;
  white-space: nowrap !important;
  padding: 6px 10px !important;
  font-size: 14px !important;
  font-weight: 400;
}

.common-success-switch {
   /* background-color: #18a68a !important; */
   color: #18a68a !important;
}
