@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,300,500,700');

:root {
    --color-white: #fff;
    --color-backgroud: #f3f3f3;
    --border-color-elements: #c9c9c9;
    --background-color-elements: #f5f5f5;
    --disabled-color: #999999;
    --main-color: #1ab394;
    --main-color-dark: #18a187;
    --main-font-color: #676a6c;
    --main-font-color-light: #c7c7c7;
    --main-font-color-error: #ed5565;
    --main-font-color-error-light: #e18891;
    --main-font-color-error-dark: #ec4757;
    --alert-color-error: #fdeded;
    --alert-text-color-error: #5f2120;
    --alert-border-color-error: rgba(211, 47, 47, 0.9);
    --text-link: #3379b7;
    --text-link-hover: #23527c;
    --warning-color: #f8ac59;
    --info: #1c84c6;
    --warning-color-dark: #faa249;
    --left-side-menu-color: #3a4459;
    --background-dialog: #f8f8fa;
    --link-hover: #e7eaec;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: inherit;
}

::-webkit-scrollbar-thumb {
    background: var(--main-color);
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--main-color-dark);
}

:focus {
    outline: none !important;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--color-backgroud);
    font-family: 'Roboto', Helvetica, Arial, 'Open Sans', serif;
    color: var(--main-font-color);
    line-height: 1.42857143;
    overflow-y: hidden;
}

body > iframe[style*='2147483647'] {
    display: none;
}

pre {
    font-family: 'Roboto', serif !important;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
    border-top: 1px solid #e7eaec;
    padding: 8px;
    vertical-align: top;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 16px;
}

h4 {
    font-size: 14px;
}

h5 {
    font-size: 12px;
}

h6 {
    font-size: 10px;
}

h3, h4, h5 {
    margin-top: 5px;
    font-weight: 600;
}

a {
    text-decoration: none;
}

.text-link {
    color: var(--text-link) !important;
    padding: 0 !important;
    margin: 0 !important;
}

.text-link:hover {
    background-color: transparent !important;
    color: var(--text-link-hover) !important;
}

.m-t-xs {
    margin-top: 5px;
}

.m-t-sm {
    margin-top: 10px;
}

.m-t {
    margin-top: 15px;
}

.m-t-md {
    margin-top: 20px;
}

.m-t-lg {
    margin-top: 30px;
}

.m-t-xl {
    margin-top: 40px;
}

.grecaptcha-badge {
    visibility: hidden;
}